@model DirectAgents.Web.Models.BudgetsVM

<h3>@Html.ActionLink("Budgets", "Start") - Advertisers</h3>

@if (Model.AccountManager != null)
{
    <text>Account Manager: </text>@Model.AccountManager.FullName
    <br /><br />
}

<table style="border: 1px solid gray">
    <tr>
        <th>AdMgr</th>
        <th>AdvId</th>
        <th>Advertiser</th>
        <th>Offers</th>
        <th></th>
    </tr>

@foreach (var adv in Model.Advertisers)
{
    <tr id="advrow@(adv.AdvertiserId)">
        @Html.Partial("AdvertiserRow", adv)
    </tr>
}

</table>

@Model.Advertisers.Count() advertisers
<br />

@section scripts {
    <script type="text/javascript">

        function SynchOffers(advId) {
            var url = '@Url.Action("SynchOffers")?advId=' + advId;
            $.get(url, function (data) {
                LoadRow(advId, true);
            });
        }

        function LoadRow(advId, showAlert) {
            var url = '@Url.Action("AdvertiserRow")?advId=' + advId;
            $.get(url, function (data) {
                $('#advrow' + advId).html(data);
                if (showAlert) alert('Updated');
            });
        }
    </script>
}