@model DirectAgents.Domain.Entities.Cake.Offer
@{
    var offer = Model;
}

<td>@Html.ActionLink("edit", "Edit", new { offerId = offer.OfferId })</td>
<td style="text-align:right">@offer.OfferId</td>
<td>@Html.ActionLink(offer.OfferName, "Show", new { offerId = offer.OfferId })</td>
<td style="text-align:right">@offer.Budget</td>
<td style="text-align:center">@offer.BudgetIsMonthlyString</td>
<td>@offer.BudgetStart</td>
