@model DirectAgents.Domain.Entities.Cake.Offer
@{
    var offer = Model;
}

<td>@offer.Advertiser.AdvertiserNameTrimmed(12)</td>
<td style="text-align:right">@offer.OfferId</td>
<td>@Html.ActionLink(offer.OfferName, "Show", new { offerId = offer.OfferId })</td>
<td style="text-align:right">
    @Html.ActionLink("edit", "Edit", new { offerId = offer.OfferId })
</td>
<td style="text-align:right">
    @if (offer.Budget.HasValue)
    {
        @offer.Budget.Value.ToString("N2")
    }
    else
    {
        <a href="#" onclick="InitOffer(@offer.OfferId); return false">initialize</a>
    }
</td>
<td style="text-align:center">@offer.BudgetIsMonthlyString</td>
<td>@Html.DisplayFor(m => m.BudgetStart, "Date")</td>
<td style="text-align:right">
    @if (offer.BudgetUsed.HasValue)
    {
        @offer.BudgetUsed.Value.ToString("N2")
    }
</td>
<td style="text-align:center">
    @if (offer.BudgetUsedPercent.HasValue)
    {
        <text>(</text>@offer.BudgetUsedPercent.Value.ToString("P1")<text>)</text>
    }
</td>
