@model IEnumerable<ClientPortal.Data.Contexts.Campaign>

@{
    int? offerId = null;
    var offerIds = Model.Select(c => c.OfferId).Distinct();
    if (offerIds.Count() == 1)
    {
        offerId = offerIds.First();
    }
}

<h2>Campaigns</h2>

<table border="1">
    <tr>
        <th>Campaign</th>
        <th>Affiliate</th>
        <th colspan="2">Drops</th>
    </tr>
@foreach (var campaign in Model)
{
    string viewText = "View Drops (" + campaign.CampaignDrops.Count + ")";
    <tr>
        <td>@campaign.CampaignName</td>
        <td>@campaign.Affiliate.AffiliateName</td>
        <td>@Html.ActionLink(viewText, "Show", "Campaigns", new { id = campaign.CampaignId }, null)</td>
        <td>@Html.ActionLink("New Drop", "Create", "CampaignDrops", new { campaignid = campaign.CampaignId, from = "campaigns" }, null)</td>
    </tr>
}
</table>

@if (offerId.HasValue)
{
    <br />
    @Html.ActionLink("Show all drops for Offer " + offerId.Value, "Index", "CampaignDrops", new { offerid = offerId.Value }, null)
}