@model IEnumerable<ClientPortal.Data.Contexts.Campaign>

@{
    int? offerId = null;
    var offerIds = Model.Select(c => c.OfferId).Distinct();
    if (offerIds.Count() == 1)
    {
        offerId = offerIds.First();
    }
}

<h2>Campaigns</h2>

<table border="1">
    <tr>
        <th>Campaign</th>
        <th>Affiliate</th>
        <th>Drops</th>
    </tr>
@foreach (var campaign in Model)
{
    <tr>
        <td>@campaign.CampaignName</td>
        <td>@campaign.Affiliate.AffiliateName</td>
        <td>@campaign.CampaignDrops.Count</td>
        <td>@Html.ActionLink("Show Drops", "Show", new { id = campaign.CampaignId })
            &nbsp;|&nbsp;&nbsp;@Html.ActionLink("New Drop", "Create", "CampaignDrops", new { campaignid = campaign.CampaignId }, null)
        </td>
    </tr>
}
</table>

@if (offerId.HasValue)
{
    <br />
    @Html.ActionLink("Show All Drops", "Index", "CampaignDrops", new { offerid = offerId.Value }, null)
}