@model IEnumerable<ClientPortal.Data.Contexts.Campaign>
@{
    var ajaxOpts_Drop = RazorHelpers.GetAjaxOptions("cpmDropsTab", "navCPMDrops");
    string parent = ViewBag.Parent ?? "campaigns";
    bool showActions = ViewBag.ShowActions ?? true;
    string title = ViewBag.Title ?? "Campaigns:";
    DateTime? lastSynch = ViewBag.LastSynch;
}

@title
@if (lastSynch.HasValue) { <i>[Last Synch: @lastSynch.Value.ToString("g")]</i> }
<br />
@if (Model.Any())
{
<table border="1">
    <tr>
        <th>Campaign</th>
        <th>AffId</th>
        <th>Affiliate</th>
        <th>Drops</th>
        @if (showActions) {
            <th></th>
        }
    </tr>
@foreach (var campaign in Model)
{
    <tr>
        <td>@campaign.CampaignName</td>
        <td>@campaign.AffiliateId</td>
        <td>@campaign.Affiliate.AffiliateName</td>
        <td>@campaign.CampaignDrops_Originals.Count()</td>
        @if (showActions) {
            <td>@Ajax.ActionLink("New Drop", "Create", "CampaignDrops", new { campaignid = campaign.CampaignId, from = parent }, ajaxOpts_Drop)</td>
        }
    </tr>
}
</table>
}