@model ClientPortal.Web.Models.LoginModel

<br />
<br />
<br />
<br />
<br />

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="two columns">
            @Html.LabelFor(m => m.UserName, new { @class = "right inline" })
        </div>
        <div class="ten columns">
            @Html.TextBoxFor(m => m.UserName, new { @class = "eight" })
        </div>
    </div>
    <div class="row">
        <div class="two columns">
            @Html.LabelFor(m => m.Password, new { @class = "right inline" })
        </div>
        <div class="ten columns">
            @Html.PasswordFor(m => m.Password, new { @class = "eight" })
        </div>
    </div>
    <div class="row">
        <div class="two columns"></div>
        <div class="ten columns">
            @Html.CheckBoxFor(m => m.RememberMe, new { style = "float: left" })
            @Html.LabelFor(m => m.RememberMe, new { style = "margin: 3px" })
        </div>
    </div>
    <div class="row">
        <div class="two columns centered">
            <input type="submit" class="button" value="Log in" />
        </div>
    </div>
}