@model ClientPortal.Web.Models.LoginModel

@section head {
    <style>
        h4 {
            font-size: 20px;
        }

        form {
            margin: 0;
        }

        .icondiv {
            padding: 30px;
        }

        .icon {
            float: left;
            margin-right: 5px;
        }

        .icontext {
            padding-top: 15px;
            line-height: 1.3;
        }

        .dalogo2 {
            width: 10%;
        }

        .logindiv {
            border: 1px solid rgb(107,172,236);
            margin-top: 30px;
        }

        .loginfieldset {
            margin: 0;
            padding: 15px;
            background-color: #f3f3f3;
        }

        .labeldiv {
            text-align: center;
        }
    </style>
}

<div style="background-color: white; width: 100%">
    <img style="margin-top: 15px; margin-left: 15px" src="~/Images/logo1.png" />
</div>

<div class="row fullWidth">
    <div class="large-8 columns" style="padding: 40px">
        <h4>Direct Agents Client Portal</h4>
        <div class="row" style="border: 4px solid #f7f7f7">
            <div class="large-6 columns icondiv">
                <img src="~/Images/icon_reports.gif" class="icon" />
                <div class="icontext">Access real-time reports showing campaign effectiveness and spend</div>
                <br style="clear: both" /><br /><br />
                <img src="~/Images/icon_mobile.gif" class="icon" />
                <div class="icontext">See details on devices and demographics instantly</div>
            </div>
            <div class="large-6 columns icondiv">
                <img src="~/Images/icon_track.gif" class="icon" />
                <div class="icontext">Track your top performing affiliates and creatives</div>
                <br style="clear: both" /><br /><br />
                <img src="~/Images/icon_metrics.gif" class="icon" />
                <div class="icontext">Gain insight with our unique dashboard with visualizations of key metrics, custom goals and more</div>
            </div>
        </div>
    </div>
    <div class="large-4 columns" style="padding: 40px">
        <div class="logindiv">

        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset class="loginfieldset">
                <legend style="display:none"></legend>
                <div class="row">
                    <div style="text-align: center">
                        <h5>SIGN IN</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns labeldiv">
                        @Html.LabelFor(m => m.UserName, new { @class = "inline" } )
                    </div>
                    <div class="large-8 columns" style="padding-right: 25px">
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns labeldiv">
                        @Html.LabelFor(m => m.Password)
                    </div>
                    <div class="large-8 columns" style="padding-right: 25px">
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                    </div>
                    <div class="large-8 columns">
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                        @Html.CheckBoxFor(m => m.RememberMe)
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div style="text-align: center; margin: 20px 0px">
                    <input type="submit" class="button" value="LOG IN" style="width: 200px" />
                </div>
            </div>
        }
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('#UserName').focus();
        });
    </script>
}
