@model ClientPortal.Web.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<div style="margin:10px">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>

    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }

    <p>@Html.ActionLink("Cancel", "Go", "Home")</p>
</div>

@*
<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
