@model UnitType
@{
    ViewBag.Title = "Edit UnitType";
    IEnumerable<IncomeType> incomeTypes = ViewBag.IncomeTypes;
    var incomeTypeSelectList = new SelectList(incomeTypes, "id", "name");
}

<h3>Edit UnitType</h3>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>UnitType</legend>
        @Html.HiddenFor(m => m.id)
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.id)</td>
                <td>@Html.DisplayFor(m => m.id)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.name)</td>
                <td>@Html.EditorFor(m => m.name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.income_type_id, "income_type")</td>
                <td>@Html.DropDownListFor(m => m.income_type_id, incomeTypeSelectList, "(none)")</td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Save" />
    </fieldset>
}
<br />
@Html.ActionLink("Cancel", "Index")
