@model ClientPortal.Data.Contexts.CPMReport
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmReportsTab");
    var ajaxOpts_Post = RazorHelpers.GetAjaxOptions("cpmReportsTab", null, "Post");
}

@if (!IsAjax)
{
    <h3>Edit Report</h3>
}
Advertiser: <b>@Model.Offer.Advertiser.AdvertiserName</b><br />
Offer: <b>@Model.Offer.DisplayName</b><br />

@using (Ajax.BeginForm(ajaxOpts_Post))
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>CPM Report</legend>
        @Html.HiddenFor(m => m.CPMReportId)
        @Html.HiddenFor(m => m.OfferId)
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.Name)</td>
                <td>@Html.EditorFor(m => m.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Recipient, "Recipient(s)")</td>
                <td>@Html.EditorFor(m => m.Recipient)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Summary)</td>
                <td>@Html.TextAreaFor(m => m.Summary, 8, 100, null)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Conclusion, "Next Steps")</td>
                <td>@Html.TextAreaFor(m => m.Conclusion, 8, 100, null)</td>
            </tr>
        </table>
@{
    //var drops = (IEnumerable<ClientPortal.Data.Contexts.CampaignDrop>)ViewData["CampaignDrops"];
}
        @foreach(var drop in Model.CampaignDropsOrdered)
        {
        <fieldset>
            <legend>Drop</legend>
            @drop.DisplayName
        </fieldset>
        }
        <br />
        <input type="submit" value="Save" />
        &nbsp;
        @Ajax.ActionLink("Cancel", "Show", "CPMReports", new { id = Model.CPMReportId }, ajaxOptions)
    </fieldset>
}
