@model ClientPortal.Data.Contexts.CPMReport
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmReportsTab");
    var ajaxOpts_Post = RazorHelpers.GetAjaxOptions("cpmReportsTab", null, "Post");

    string formAction = ViewBag.FormAction; // null is okay; will post back to same path
    bool inWizard = ViewBag.InWizard ?? false;
}

@if (!inWizard)
{
    if (!IsAjax)
    {
        <h3>Edit Report</h3>
    }
    <text>Advertiser: </text><b>@Model.Offer.Advertiser.AdvertiserName</b><br />
    <text>Offer: </text><b>@Model.Offer.DisplayName</b><br />
}

@using (Ajax.BeginForm(formAction, ajaxOpts_Post))
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>CPM Report</legend>
        @Html.HiddenFor(m => m.CPMReportId)
        @Html.HiddenFor(m => m.OfferId)
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.Name)</td>
                <td>@Html.EditorFor(m => m.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Recipient)</td>
                <td>@Html.EditorFor(m => m.Recipient)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.RecipientCC)</td>
                <td>@Html.EditorFor(m => m.RecipientCC)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Summary)</td>
                <td>@Html.TextAreaFor(m => m.Summary, 8, 100, null)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Conclusion, "Next Steps")</td>
                <td>@Html.TextAreaFor(m => m.Conclusion, 8, 100, null)</td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Save Report" />
        @if (!inWizard)
        {
            <text>&nbsp;</text>
            @Ajax.ActionLink("Cancel", "Show", "CPMReports", new { id = Model.CPMReportId }, ajaxOptions)
        }
        <br /><br />

        @{
            var drops = Model.CampaignDropsOrdered;
        }
        @if (drops.Any())
        {
            ViewBag.Title = "Report Drops:";
            ViewBag.ShowActions = false;
            @Html.Partial("../CampaignDrops/Index", drops)
        }

    </fieldset>
}
