@model IEnumerable<ClientPortal.Data.Contexts.CPMReport>
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmReportsTab", "navCPMReports");
    var ajaxOpts_Confirm = RazorHelpers.GetAjaxOptions("cpmSummaryTab", null, "Get", "Are you sure you want to delete this report?");
}

CPM Reports:
<table border="1">
    <tr>
        <th>Name</th>
        <th>Drops</th>
        <th>Date Sent</th>
        <th></th>
    </tr>
@foreach (var report in Model)
{
    <tr>
        <td>@report.Name</td>
        <td style="text-align:center">@report.CampaignDrops.Count</td>
        <td>@report.DateSent</td>
        <td>@Ajax.ActionLink("Manage", "Show", "CPMReports", new { id = report.CPMReportId }, ajaxOptions) |
            @Html.ActionLink("Preview", "PreviewEmail", "CPMReports", new { id = report.CPMReportId }, new { target = "_blank" })
            @if (report.CampaignDrops.Count == 0)
            {
                <text> | </text>@Ajax.ActionLink("Delete", "Delete", "CPMReports", new { id = report.CPMReportId }, ajaxOpts_Confirm)
            }
            @* testing!
            | @Ajax.ActionLink("wiztest", "Show", "CPMReportsWizard", new { id = report.CPMReportId, step = (int)ClientPortal.Web.Areas.Admin.Models.CPMReportWizardVM.WizardStep.AddDrops }, ajaxOptions) *@
        </td>
    </tr>
}
</table>
