@model IEnumerable<ClientPortal.Data.Contexts.CPMReport>

CPM Reports:
<table border="1">
    <tr>
        <th>Name</th>
        <th>Drops</th>
        <th>Date Sent</th>
    </tr>
@foreach (var report in Model)
{
    <tr>
        <td>@report.Name</td>
        <td>@report.CampaignDrops.Count</td>
        <td>@report.DateSent</td>
        <td>@Html.ActionLink("View/Edit", "Show", "CPMReports", new { id = report.CPMReportId }, null)</td>
        <td>@Html.ActionLink("Preview", "Preview", "CPMReports", new { id = report.CPMReportId }, null)</td>
    </tr>
}
</table>