@model ClientPortal.Web.Areas.Admin.Models.CPMReportVM
@{
    string PortalUrl = (string)ViewBag.PortalUrl;
}

<table width="620" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #c7c3c7;">
<tr>
    <td style="font-size: 0px;">
        <table width="620" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="13" rowspan="2" align="left" valign="top">&nbsp;</td>
            <td width="195" rowspan="2" align="left" valign="top">
                <img src="@(PortalUrl)/Images/logo1.png" alt="" width="152" height="86" /></td>
            <td height="24" colspan="2" align="left" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td align="right" valign="top">
                <table width="380" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="347" align="right" valign="middle"><strong style="font-family: Arial black, Helvetica, sans-serif; text-align: center; font-size: 28px;">CPM REVIEW&nbsp;</strong></td>
                    <td width="140" align="left" valign="middle"><strong style="font-family: Arial black, Helvetica, sans-serif; text-align: center; font-size: 28px;">
                        @if (Model.Offer.Logo != null)
                        {
                            <img src="@PortalUrl@Url.Action("Logo", "Offers", new { id = Model.Offer.OfferId })" />
                        }
                        </strong></td>
                </tr>
                </table>
            </td>
            <td width="13" align="right" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Gadget, sans-serif, Helvetica, sans-serif; font-size: 26px; color: #3b98f1;"><b>Summary</b><br />
                <img src="@(PortalUrl)/Images/spacer.gif" width="18" height="18" /><br />
            </td>
            <td align="right" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">@Html.DisplayWithBreaksFor(m => m.Summary)<br>
                <br />
            </td>
            <td align="right" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Gadget, sans-serif, Helvetica, sans-serif; font-size: 26px; color: #3b98f1;"><b>Performance Stats</b><br />
                <img src="@(PortalUrl)/Images/spacer.gif" width="18" height="18" /><br />
            </td>
            <td align="right" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4" height="80" align="center" valign="middle">

            <table width="620" align="center" cellpadding="0" cellspacing="0" style="border-top: 1px solid #c7c3c7; border-bottom: 1px solid #c7c3c7; border-left: 0px solid #c7c3c7; border-right: 0px solid #c7c3c7;">
            <tr>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><b>List</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><b>Date</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><b>Volume</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><b>Opens</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><b>Clicks</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><b>Leads</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><b>Total Cost</b></td>
            </tr>
            @{
                string bgcolor = "ffffff";
            }
            @foreach(var drop in Model.CampaignDropsOrdered)
            {
                bgcolor = (bgcolor == "ffffff") ? "e5e5e5" : "ffffff";
                <tr>
                    <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">@drop.AffiliateId</td>
                    <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">@drop.Date</td>
                    <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">@drop.Volume</td>
                    <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">@drop.Opens
                        <br />Open Rate: @drop.OpenRate</td>
                    <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">@drop.TotalClicks
                        <br />CTR: @drop.ClickThroughRate</td>
                    <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #3399ff; font-weight: bold;"><b>@drop.TotalLeads
                        <br />eCPL: @drop.CostPerLead</b></td>
                    <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">@drop.Cost</td>
                </tr>
                if (drop.CreativeStats.Count() > 1)
                {
                    foreach (var creativeStat in drop.CreativeStats)
                    {
                    <tr>
                        <td colspan="2" height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">&nbsp;</td>
                        <td colspan="2" height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">Creative: @creativeStat.CreativeName</td>
                        <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">@creativeStat.Clicks
                            <br />CTR: @creativeStat.ClickThroughRate</td>
                        <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #3399ff; font-weight: bold;"><b>@creativeStat.Leads</td>
                        <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">&nbsp;</td>
                    </tr>
                    }
                }
            }

            <tr>
                <td height="45" align="left" valign="middle" bgcolor="#deedfb" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">&nbsp;</td>
                <td height="45" align="left" valign="middle" bgcolor="#deedfb" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">&nbsp;</td>
                <td height="45" align="left" valign="middle" bgcolor="#deedfb" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">@Model.TotalVolume</td>
                <td height="45" align="left" valign="middle" bgcolor="#deedfb" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">@Model.TotalOpens</td>
                <td height="45" align="left" valign="middle" bgcolor="#deedfb" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">@Model.TotalClicks</td>
                <td height="45" align="left" valign="middle" bgcolor="#deedfb" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666;">@Model.TotalLeads</td>
                <td height="45" align="left" valign="middle" bgcolor="#deedfb" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #000000; font-weight: bold;"><b>@Model.TotalCost</b></td>
            </tr>
            </table>

            </td>
        </tr>
        <tr>
            <td height="23" colspan="4" align="left" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td height="100" colspan="4" align="left" valign="top">

            <table width="350" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="right" valign="top" style="font-family: Arial, Gadget, sans-serif, Helvetica, sans-serif; font-size: 22px; color: #000000;"><b>ACCOUNT SUMMARY</b><br /><br /></td>
                <td width="15" align="right" valign="top" style="font-family: Arial, Gadget, sans-serif, Helvetica, sans-serif; font-size: 26px; color: #000000;">&nbsp;</td>
                <td>

                <table width="180" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="9" rowspan="7" align="left" valign="top" bgcolor="#3399ff">&nbsp;</td>
                    <td width="13" align="left" valign="top">&nbsp;</td>
                    <td height="25" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: left; color: #000000; font-weight: bold;">CTR</td>
                    <td height="25" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: left; color: #3399ff; font-weight: bold;">@Model.ClickThroughRate</td>
                </tr>
                <tr>
                    <td height="1px" colspan="3" align="left" valign="top" bgcolor="#cccccc">
                        <img src="@(PortalUrl)/Images/line.gif" width="5" height="1" /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td height="25" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: left; color: #000000; font-weight: bold;">Open Rate</td>
                    <td height="25" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: left; color: #3399ff; font-weight: bold;">@Model.OpenRate</td>
                </tr>
                <tr>
                    <td height="1px" colspan="3" align="left" valign="top" bgcolor="#cccccc">
                        <img src="@(PortalUrl)/Images/line.gif" width="5" height="1" /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td height="25" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: left; color: #000000; font-weight: bold;">eCPA</td>
                    <td height="25" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: left; color: #3399ff; font-weight: bold;">@Model.CostPerLead</td>
                </tr>
                <tr>
                    <td height="1px" colspan="3" align="left" valign="top" bgcolor="#cccccc">
                        <img src="@(PortalUrl)/Images/line.gif" width="5" height="1" /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td height="25" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: left; color: #000000; font-weight: bold;">Conversion</td>
                    <td height="25" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: left; color: #3399ff; font-weight: bold;">@Model.ConversionRate</td>
                </tr>
                </table>

                </td>
            </tr>
            </table>

            </td>
        </tr>
        <tr>
            <td height="23" colspan="4" align="left" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Gadget, sans-serif, Helvetica, sans-serif; font-size: 26px; color: #3b98f1;"><b>Creative Summary</b><br />
                <img src="@(PortalUrl)/Images/spacer.gif" width="18" height="18" /><br />
            </td>
            <td align="right" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td height="80" colspan="4" align="center" valign="middle" bgcolor="#e5e5e5">

            <table width="620" align="center" cellpadding="0" cellspacing="0" style="border-top: 1px solid #c7c3c7; border-bottom: 1px solid #c7c3c7; border-left: 0px solid #c7c3c7; border-right: 0px solid #c7c3c7;">
            <tr>
                <td width="57" height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #ffffff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><b>Drop #</b></td>
                <td width="118" height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #ffffff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><b>Date</b></td>
                <td width="132" height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #ffffff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><b>From</b></td>
                <td width="193" height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #ffffff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><b>Subject</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #ffffff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px;"><b>Creative</b></td>
            </tr>
            @{
                int dropNum = 0;
                bgcolor = "ffffff";
            }
            @foreach(var drop in Model.CampaignDropsOrdered)
            {
                dropNum++;
                bgcolor = (bgcolor == "ffffff") ? "e5e5e5" : "ffffff";
                var creativeStat0 = drop.CreativeStats.First();
            <tr>
                <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">@dropNum</td>
                <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">@drop.Date</td>
                <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">x@x.com</td>
                <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666">@drop.Subject</td>
                <td width="118" height="0" align="left" valign="top" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #3399ff">
                    @if (creativeStat0.Thumbnail != null)
                    {
                        <img src="@PortalUrl@Url.Action("Thumbnail", "Creatives", new { id = creativeStat0.CreativeId })" />
                    }
                </td>
            </tr>
                if (drop.CreativeStats.Count() > 1)
                {
                    foreach (var creativeStat in drop.CreativeStats.Skip(1))
                    {
                        <tr>
                            <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666"></td>
                            <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666"></td>
                            <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666"></td>
                            <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #666666"></td>
                            <td width="118" height="0" align="left" valign="top" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: center; color: #3399ff">
                                @if (creativeStat.Thumbnail != null)
                                {
                                    <img src="@PortalUrl@Url.Action("Thumbnail", "Creatives", new { id = creativeStat.CreativeId })" />
                                }
                            </td>
                        </tr>
                    }
                }
            }
            </table>

            </td>
        </tr>

        <tr>
            <td height="23" colspan="4" align="left" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Gadget, sans-serif, Helvetica, sans-serif; font-size: 26px; color: #3b98f1;"><b>Next Steps</b><br />
                <img src="@(PortalUrl)/Images/spacer.gif" width="18" height="18" /><br />
            </td>
            <td align="right" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">@Html.DisplayWithBreaksFor(m => m.Conclusion)</td>
            <td align="right" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td height="23" colspan="4" align="left" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td width="13" align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top">
                <p>&nbsp;<br />
                    <br />
                </p>
            </td>
            <td width="13" align="left" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td height="23" colspan="4" align="left" valign="top">&nbsp;</td>
        </tr>

        </table>
    </td>
</tr>
</table>
