@model ClientPortal.Web.Areas.Admin.Models.CPMReportVM
@{
    string PortalUrl = (string)ViewBag.PortalUrl;
    var acctMgr = Model.Offer.Advertiser.AccountManagerContact;
}

<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #c7c3c7;">
<tr>
    <td style="font-size: 0px;">
        <table width="650" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="13" rowspan="2" align="left" valign="top">&nbsp;</td>
            <td width="195" rowspan="2" align="left" valign="top">
                <img src="@(PortalUrl)/Images/logo1.png" alt="" width="152" height="86" /></td>
            <td height="24" colspan="2" align="left" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td align="right" valign="top">
                <table width="410" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="347" align="right" valign="middle"><strong style="font-family: Arial black, Helvetica, sans-serif; text-align: center; font-size: 28px;">CPM REVIEW&nbsp;</strong></td>
                    <td width="140" align="left" valign="middle"><strong style="font-family: Arial black, Helvetica, sans-serif; text-align: center; font-size: 28px;">
                        @if (Model.Offer.Logo != null)
                        {
                            <img src="@(PortalUrl)@Url.Action("Logo", "Offers", new { id = Model.Offer.OfferId })" />
                        }
                        </strong></td>
                </tr>
                </table>
            </td>
            <td width="13" align="right" valign="top">&nbsp;</td>
        </tr>

        <tr>@* Summary Text *@
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Gadget, sans-serif, Helvetica, sans-serif; font-size: 26px; color: #3b98f1;"><b>Summary</b><br />
                <img src="@(PortalUrl)/Images/spacer.gif" width="18" height="18" /><br />
            </td>
            <td align="right" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">@Html.DisplayWithBreaksFor(m => m.Summary)<br>
                <br />
            </td>
            <td align="right" valign="top">&nbsp;</td>
        </tr>

        <tr> @* Performance Summary *@
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Gadget, sans-serif, Helvetica, sans-serif; font-size: 26px; color: #3b98f1;"><b>CPM Performance Summary</b><br />
                <img src="@(PortalUrl)/Images/spacer.gif" width="18" height="18" /><br />
            </td>
            <td align="right" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4" height="80" align="center" valign="middle">

            <table width="650" align="center" cellpadding="0" cellspacing="0" style="border-top: 1px solid #c7c3c7; border-bottom: 1px solid #c7c3c7; border-left: 0px solid #c7c3c7; border-right: 0px solid #c7c3c7;">
            <tr>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><b>Volume</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><b>Opens</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><b>Clicks</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><b>Leads</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><b>Total Cost</b></td>
            </tr>
            <tr>
                <td height="45" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666"></td>
                <td height="45" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666"></td>
                <td height="45" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666">@Model.TotalVolume</td>
                <td height="45" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666">@Model.TotalOpens
                    <br />Open Rate: @Model.OpenRate</td>
                <td height="45" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666">@Model.TotalClicks
                    <br />CTR: @Model.ClickThroughRate</td>
                <td height="45" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #3399ff; font-weight: bold;"><b>@Model.TotalLeads
                    <br />Conv Rate: @Model.ConversionRate</b></td>
                <td height="45" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666">@Model.TotalCost
                    <br />eCPA: @Model.CostPerLead</b></td>
            </tr>
            </table>

            </td>
        </tr>@* END: Performance Summary *@

        <tr>
            <td height="23" colspan="4" align="left" valign="top">&nbsp;</td>
        </tr>

        <tr> @* Performance Stats *@
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Gadget, sans-serif, Helvetica, sans-serif; font-size: 26px; color: #3b98f1;"><b>Performance Stats</b><br />
                <img src="@(PortalUrl)/Images/spacer.gif" width="18" height="18" /><br />
            </td>
            <td align="right" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4" height="80" align="center" valign="middle">

            <table width="650" align="center" cellpadding="0" cellspacing="0" style="border-top: 1px solid #c7c3c7; border-bottom: 1px solid #c7c3c7; border-left: 0px solid #c7c3c7; border-right: 0px solid #c7c3c7;">
            <tr>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><b>Drop</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><b>List</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><b>Date</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><b>Volume</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><b>Opens</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><b>Clicks</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><b>Leads</b></td>
                <td height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"><b>Total Cost</b></td>
            </tr>
            @{
                string bgcolor = "ffffff";
                int dropNum = 0;
            }
            @foreach(var drop in Model.CampaignDropsOrdered)
            {
                bgcolor = (bgcolor == "ffffff") ? "e5e5e5" : "ffffff";
                dropNum++;
                <tr>
                    <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666">@dropNum</td>
                    <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666">@drop.AffiliateId</td>
                    <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666">@drop.Date</td>
                    <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666">@drop.Volume</td>
                    <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666">@drop.Opens
                        <br />Open Rate: @drop.OpenRate</td>
                    <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666">@drop.TotalClicks
                        <br />CTR: @drop.ClickThroughRate</td>
                    <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #3399ff; font-weight: bold;"><b>@drop.TotalLeads
                        <br />eCPL: @drop.CostPerLead</b></td>
                    <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666">@drop.Cost</td>
                </tr>
                if (drop.CreativeStats.Count() > 1)
                {
                    foreach (var creativeStat in drop.CreativeStats)
                    {
                    <tr>
                        <td colspan="3" height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666">&nbsp;</td>
                        <td colspan="2" height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666">Creative: @creativeStat.CreativeName</td>
                        <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666">@creativeStat.Clicks
                            <br />CTR: @creativeStat.ClickThroughRate</td>
                        <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #3399ff; font-weight: bold;"><b>@creativeStat.Leads</td>
                        <td height="45" align="left" valign="middle" bgcolor="#@bgcolor" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #666666">&nbsp;</td>
                    </tr>
                    }
                }
            }
            <tr>@* TOTALS row *@
                <td height="45" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #000000; font-weight: bold;">&nbsp;</td>
                <td height="45" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #000000; font-weight: bold;">&nbsp;</td>
                <td height="45" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #000000; font-weight: bold;">&nbsp;</td>
                <td height="45" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #000000; font-weight: bold;"><b>@Model.TotalVolume</b></td>
                <td height="45" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #000000; font-weight: bold;"><b>@Model.TotalOpens</b></td>
                <td height="45" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #000000; font-weight: bold;"><b>@Model.TotalClicks</b></td>
                <td height="45" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #000000; font-weight: bold;"><b>@Model.TotalLeads</b></td>
                <td height="45" align="left" valign="middle" bgcolor="#ffffff" style="color: #000; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; color: #000000; font-weight: bold;"><b>@Model.TotalCost</b></td>
            </tr>
            </table>

            </td>
        </tr>@* End Performance Stats *@

        <tr>
            <td height="23" colspan="4" align="left" valign="top">&nbsp;</td>
        </tr>

        <tr>@* Creative Summary *@
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Gadget, sans-serif, Helvetica, sans-serif; font-size: 26px; color: #3b98f1;"><b>Creative Summary</b><br />
                <img src="@(PortalUrl)/Images/spacer.gif" width="18" height="18" /><br />
            </td>
            <td align="right" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
                <table border="0" cellspacing="7" cellpadding="0">
                    <tr>
                    @{
                        dropNum = 0;
                    }
                    @foreach(var drop in Model.CampaignDropsOrdered)
                    {
                        if (dropNum > 0 && dropNum % 3 == 0)
                        {
                            ViewContext.Writer.Write("</tr><tr>");
                        }
                        dropNum++;
                        var creativeStat0 = drop.CreativeStats.First();

                        <td align="left" valign="top" width="208" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
                            <b>Drop @dropNum:</b> @drop.Date<br />
                            <b>From:</b> @drop.FromEmail<br />
                            <b>Subject:</b> @drop.Subject<br />
                            @if (creativeStat0.Thumbnail != null)
                            {
                                <img src="@(PortalUrl)@Url.Action("Thumbnail", "Creatives", new { id = creativeStat0.CreativeId })" />
                            }
                        </td>
                    }
                    </tr>
                </table>
            </td>
            <td align="right" valign="top">&nbsp;</td>
        </tr>@* END: Creative Summary *@

        <tr>
            <td height="23" colspan="4" align="left" valign="top">&nbsp;</td>
        </tr>

        <tr>@* Next Steps *@
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Gadget, sans-serif, Helvetica, sans-serif; font-size: 26px; color: #3b98f1;"><b>Next Steps</b><br />
                <img src="@(PortalUrl)/Images/spacer.gif" width="18" height="18" /><br />
            </td>
            <td align="right" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">@Html.DisplayWithBreaksFor(m => m.Conclusion)</td>
            <td align="right" valign="top">&nbsp;</td>
        </tr>

        <tr>
            <td height="23" colspan="4" align="left" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td width="13" align="left" valign="top">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
                <p>Questions? Contact your account manager, @(acctMgr != null ? acctMgr.FullName : ""):
                    @if (acctMgr != null) {
                        <a href="mailto:@(acctMgr.Email)">@acctMgr.Email</a>
                    }
                    <br /><br /></p>
            </td>
            <td width="13" align="left" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td height="23" colspan="4" align="left" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4" height="45" align="center" valign="middle" bgcolor="#3c9ffe" style="color: #fff; border-right: 1px solid #c7c3c7; font-family: Arial, Helvetica, sans-serif; font-size: 13px;">
                <b>Direct Agents</b> | 740 Broadway, Suite 701, New York, NY 10003 | P: 212.925.6558 | F: 212.412.9061 | directagents.com
            </td>
        </tr>

        </table>
    </td>
</tr>
</table>
