@model ClientPortal.Web.Areas.Admin.Models.CPMReportVM
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmReportsTab");
}

<h3>Report Preview</h3>

@Ajax.ActionLink("Manage", "Show", "CPMReports", new { id = Model.CPMReportId }, ajaxOptions)
<br /><br />

<b>Summary:</b><br />
@Html.DisplayWithBreaksFor(m => m.Summary)
<br /><br />

<table border="1">
    <tr>
        <th>List</th>
        <th>Date</th>
        <th>Volume</th>
        <th>Opens</th>
        <th>Clicks</th>
        <th>Conversions</th>
        <th>Total Cost</th>
        <th>@Model.ExtraColumnName</th>
    </tr>
@foreach (var drop in Model.CampaignDropsOrdered)
{
    <tr>
        <td>@drop.AffiliateId</td>
        <td>@drop.Date</td>
        <td>@drop.Volume</td>
        <td>@drop.Opens<br />
            Open Rate: @drop.OpenRate
        </td>
        <td>@drop.TotalClicks<br />
            CTR: @drop.ClickThroughRate
        </td>
        <td>@drop.TotalLeads<br />
            Conv Rate: @drop.ConversionRate
        </td>
        <td>@drop.Cost<br />
            eCPL: @drop.CostPerLead
        </td>
        <td>@drop.Extra</td>
    </tr>
    if (drop.CreativeStats.Count() > 1)
    {
        foreach (var creativeStat in drop.CreativeStats)
        {
            <tr>
                <td></td>
                <td></td>
                <td colspan="2">Creative: @creativeStat.CreativeName</td>
                <td>@creativeStat.Clicks<br />
                    CTR: @creativeStat.ClickThroughRate</td>
                <td>@creativeStat.Leads<br />
                    Conv Rate: @creativeStat.ConversionRate</td>
            </tr>
        }
    }
}
    @* Totals *@
    <tr>
        <td colspan="2">TOTAL:</td>
        <td>@Model.TotalVolume</td>
        <td>@Model.TotalOpens</td>
        <td>@Model.TotalClicks</td>
        <td>@Model.TotalLeads</td>
        <td>@Model.TotalCost</td>
        <td>@Model.ExtraColumnValue</td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td>CTR:</td>
        <td>@Model.ClickThroughRate</td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td>Open Rate:</td>
        <td>@Model.OpenRate</td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td>eCPA:</td>
        <td>@Model.CostPerLead</td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td>Conversion:</td>
        <td>@Model.ConversionRate</td>
    </tr>
</table>

<br />
<b>Next Steps:</b><br />
@Html.DisplayWithBreaksFor(m => m.Conclusion)
<br />
