@model ClientPortal.Data.Contexts.CPMReport
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmReportsTab");
    var ajaxOpts_Send = RazorHelpers.GetAjaxOptions("cpmReportsTab", null, "Get", "This will freeze the stats within this report. Continue?");
    var ajaxOpts_Confirm = RazorHelpers.GetAjaxOptions("cpmReportsTab", null, "Get", "Are you sure you want to remove this drop from the report?");
    var ajaxOpts_Post = RazorHelpers.GetAjaxOptions("cpmReportsTab", null, "Post");
    bool reportSent = Model.DateSent != null;
}

@if (!IsAjax)
{
    <h3>Report Details</h3>
}
Offer: <b>@Model.Offer.DisplayName</b><br />
Advertiser: <b>@Model.Offer.Advertiser.AdvertiserName</b><br />

@if (!reportSent)
{
    @Ajax.ActionLink("Edit", "Edit", "CPMReports", new { id = Model.CPMReportId }, ajaxOptions)<text> | </text>
}

@Html.ActionLink("Preview", "PreviewEmail", "CPMReports", new { id = Model.CPMReportId }, new { target = "_blank" })
@Ajax.ActionLink("(old)", "Preview", "CPMReports", new { id = Model.CPMReportId }, ajaxOptions) |

@if (!reportSent)
{
    @Ajax.ActionLink("Simulate Send", "SimulateSend", "CPMReports", new { id = Model.CPMReportId }, ajaxOpts_Send)<text> | </text>
}

@Ajax.ActionLink("Refresh", "Show", "CPMReports", new { id = Model.CPMReportId }, ajaxOptions)

@if (!IsAjax)
{
    <text> | Back to: </text>@Html.ActionLink("Offer", "Show", "Offers", new { id = Model.OfferId }, null)
}
<fieldset>
    <legend>CPM Report</legend>
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Name)</td>
            <td>@Html.DisplayFor(m => m.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Recipient, "Recipient(s)")</td>
            <td>@Html.DisplayFor(m => m.Recipient)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.DateSent, "Date Sent")</td>
            <td>@Html.DisplayFor(m => m.DateSent)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Summary)</td>
            <td>@Html.DisplayWithBreaksFor(m => m.Summary)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Conclusion, "Next Steps")</td>
            <td>@Html.DisplayWithBreaksFor(m => m.Conclusion)</td>
        </tr>
    </table>
    @foreach (var drop in Model.CampaignDropsOrdered)
    {
        <fieldset>
            <legend>Drop</legend>
            <table>
                <tr>
                    <td>@Html.LabelFor(_ => drop.Date)</td>
                    <td>@Html.DisplayFor(_ => drop.Date, "Date")</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(_ => drop.Subject)</td>
                    <td>@Html.DisplayFor(_ => drop.Subject)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(_ => drop.Volume)</td>
                    <td>@Html.DisplayFor(_ => drop.Volume)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(_ => drop.Cost)</td>
                    <td>@Html.DisplayFor(_ => drop.Cost, "Money")</td>
                </tr>
                @if (!reportSent) {
                <tr>
                    <td colspan="2">@Ajax.ActionLink("Remove from report", "RemoveDrop", "CPMReports", new { cpmreportid = Model.CPMReportId, campaigndropid = drop.CampaignDropId },
                                                     ajaxOpts_Confirm)</td>
                </tr>
                }
            </table>
        </fieldset>
    }
    <br />
@if (!reportSent)
{
    var drops = (IEnumerable<ClientPortal.Data.Contexts.CampaignDrop>)ViewData["CampaignDrops"];
    if (drops.Count() > 0) {
        using (Ajax.BeginForm("AddDrop", ajaxOpts_Post))
        {
            var dropSelectList = new SelectList(drops, "CampaignDropId", "DisplayName");
            <text>Add Drop:</text>
            @Html.DropDownList("CampaignDropId", dropSelectList)
            <input type="submit" value="Add" />
            @Html.HiddenFor(m => m.CPMReportId)
        }
    }
}
</fieldset>
