@model Huggies.Web.Models.Lead
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Huggies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--CSS-->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!--[if IE 7]>
		<link href="css/style_IE7.css" rel="stylesheet" type="text/css" />	
	<![endif]-->
    <!--JAVASCRIPT-->
    <script type="application/javascript" src="~/js/validate.js"></script>
    <script type="application/javascript" src="~/js/customfade.js"></script>
    <script type="application/javascript" src="~/js/jquery.min.js"></script>
    <script type="application/javascript" src="~/js/cal2.js"></script>
    <script type="application/javascript" src="~/js/cal_conf2.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            //$('#due_date').hide();
            //$('#child_gender').hide();
            $("#fm_duedate").attr('class', 'duedate req');
            var currentradio = $("input[name='fm_firstchild']:checked")[0];
            $("input[name='fm_firstchild']").change(function (event) {
                var value = $(this).val();
                if (value == 'true') {
                    $('#due_date').show();
                    $('#child_gender').show();
                    $("#fm_duedate").attr('class', 'duedate req');
                }
                if (value == 'false') {
                    $('#due_date').hide();
                    $('#child_gender').hide();
                    $("#fm_duedate").attr('class', '');
                }
            });
            $('#fm_duedate').click(function () {
                showCal('Calendar1');
            });
            $("#fm_duedate").focusin(function () {
                var birthdate = document.getElementById("fm_duedate").value;
                if (birthdate != '') {
                    var d = new Date();
                    var month = d.getMonth() + 1;
                    var day = d.getDate();
                    var currentdate =
                        (month < 10 ? '0' : '') + month + '/' +
                        (day < 10 ? '0' : '') + day + '/' +
                        d.getFullYear();
                    if (Date.parse(birthdate) <= Date.parse(currentdate)) {
                        $('#idontknow').hide();
                        $('.i-dont-know').hide();
                        document.getElementById("idontknow").checked = false;
                        document.getElementById("boy").checked = true;
                    } else {
                        $('#idontknow').show();
                        $('.i-dont-know').show();
                        document.getElementById("boy").checked = false;
                        document.getElementById("idontknow").checked = true;
                    }
                }
            });
        });
    </script>
</head>
<body>
    <div id="top">
        <div id="container">
            <div id="header">
                <div id="logo">
                    <img src="images/logo.jpg" alt="Huggies" />
                </div>
            </div>
            <div id="main">
                <div id="special_offers">
                    <img src="images/special_offers.png" alt="Special Offers" />
                </div>
                <div id="baby">
                    <img src="images/baby.png" alt="" />
                </div>
                <div id="box2">
                    <div id="details">
                        <img src="images/details.gif" alt="" />
                    </div>
                    <!-- ****************FORM START **************** -->
                    <form method="post" action="" enctype="multipart/form-data" id="cForm" name="cForm" class="validate">
                        <input type="hidden" name="fm_test" id="fm_test" value="@(Model.Test ? "true" : "false")" />
                        <table id="form_evaluation">
                            <tr>
                                <td>
                                    <div id="innerform">
                                        <div class="row">
                                            <span class="label">
                                                <label for="fm_firstname">First Name</label>
                                            </span><span class="form">
                                                       <input type="text" class="firstname req" name="fm_firstname" id="fm_firstname" size="25" maxlength="20" tabindex="1" value="@Model.FirstName" />
                                                   </span>
                                        </div>
                                        <div class="row">
                                            <span class="label">
                                                <label for="fm_lastname">Last Name</label>
                                            </span><span class="form">
                                                       <input type="text" class="lastname req" name="fm_lastname" id="fm_lastname" size="25" maxlength="20" tabindex="2" value="@Model.LastName" />
                                                   </span>
                                        </div>
                                        <div class="row">
                                            <span class="label">
                                                <label for="fm_email">Email Address</label>
                                            </span><span class="form">
                                                       <input type="text" class="email req" name="fm_email" id="fm_email" size="25" maxlength="100" tabindex="3" value="@Model.Email" />
                                                   </span>
                                        </div>
                                        <div class="row">
                                            <span class="label">
                                                <label for="fm_zip">Zip/Postal Code</label>
                                            </span><span class="form">
                                                       <input type="text" class="zip req" name="fm_zip" id="fm_zip" size="25" maxlength="10" tabindex="4" value="@Model.Zip" />
                                                   </span>
                                        </div>
                                        <div class="row">
                                            <span class="label">
                                                <label for="fm_ethnicity">Ethnicity</label>
                                            </span><span class="form">
                                                       <select name="fm_ethnicity" class="ethnicity req" id="fm_ethnicity" tabindex="5">
                                                           <option value="fm_ethnicity">Select ethnicity...</option>
                                                           <option value="AM">American Indian or Alaskan Native</option>
                                                           <option value="AS">Asian</option>
                                                           <option value="AA">African American</option>
                                                           <option value="HI">Hispanic/Latino</option>
                                                           <option value="PI">Pacific Islander</option>
                                                           <option value="WH">White/Caucasian</option>
                                                           <option value="MU">Other</option>
                                                       </select>
                                                   </span>
                                        </div>
                                        <div class="row2">
                                            <span class="label2">
                                                <label for="fm_language">In what language do you prefer to receive HUGGIES&reg; Brand communications?</label>
                                            </span><span class="form">
                                                       <select name="fm_language" class="language req" id="fm_language" tabindex="6">
                                                           <option value="fm_language">Select language...</option>
                                                           <option value="EN">English</option>
                                                           <option value="ES">Spanish</option>
                                                           <option value="FR">French</option>
                                                       </select>
                                                   </span>
                                        </div>
                                        <div class="row">
                                            <span class="label">
                                                <label for="fm_firstchild">Is this your first child?</label>
                                            </span><span class="form">
                                                       <input type="radio" name="fm_firstchild" id="fm_firstchild" value="true" checked="checked" />
                                                       Yes&nbsp;&nbsp;
                   
                                                       <input type="radio" name="fm_firstchild" value="false" />
                                                       No </span>
                                        </div>
                                        <div id="due_date">
                                            <div class="row3">
                                                <span class="label3">
                                                    <label for="fm_duedate">Due date or birthdate of your child?</label>
                                                </span><span class="form">
                                                           <input type="text" name="fm_duedate" id="fm_duedate" class="duedate req" style="width: 216px !important;" />
                                                           <small><a href="javascript:showCal('Calendar1')">
                                                                      <img src="images/cal.jpg" alt="" /></a></small> </span>
                                            </div>
                                        </div>
                                        <div id="child_gender">
                                            <div class="row">
                                                <span class="label">
                                                    <label for="fm_gender">Child Gender:</label>
                                                </span><span class="form">
                                                           <input type="radio" size="1" name="fm_gender" id="boy" value="M" style="float: left; display: inline;" />
                                                           <span class="boy">Boy</span>
                                                           <input type="radio" name="fm_gender" value="F" style="float: left; display: inline;" />
                                                           <span class="girl">Girl</span>
                                                           <input type="radio" name="fm_gender" id="idontknow" value="N" style="float: left; display: inline;" checked="checked" />
                                                           <span class="i-dont-know">I don't know yet</span> </span>
                                            </div>
                                        </div>
                                        <button id="Submit" type="submit" class="submitbutton" name="form_submitted" tabindex="10"></button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <!-- ****************FORM END **************** -->
                </div>
            </div>
        </div>
        <div class="footer">
            <div id="footer_container">
                <div class="text">
                    All names, logos and trademarks are the property of Kimberly-Clark Worldwide, Inc. or its affiliates. &copy; 2013 . All rights reserved.
                    Your visit to this site and use of the information hereon is subject to the terms of our <a href="http://www.huggies.com/en-US/privacy-policy">Privacy Policy</a>. Please review our <a href="http://www.huggies.com/en-US/legal-statement">Legal Statement</a>.
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.Fill == true)
    {
        <script type="text/javascript">
            $(function() {
                $("#fm_ethnicity").val('WH');
                $("#fm_language").val('EN');
                //var $radios = $('input:radio[name=fm_firstchild]');
                //$radios.filter('[value=false]').attr('checked', false);
                //$radios.filter('[value=true]').attr('checked', true);
                $("#fm_duedate").val('@DateTime.Now.AddMonths(-1).ToString("MM/dd/yyyy")');
            });
        </script>
    }
</body>
</html>
