@model IEnumerable<DirectAgents.Domain.Entities.Cake.Offer>
@{
    ViewBag.Title = "Cake Offers";
    var advertiser = (DirectAgents.Domain.Entities.Cake.Advertiser)ViewBag.Advertiser;
    var today = DateTime.Today;
    var monthStart = new DateTime(today.Year, today.Month, 1);
}
<h2>@ViewBag.Title</h2>

@if (advertiser != null) {
    <text>Advertiser: </text>@advertiser.AdvertiserName<br />
}

<table>
    <tr>
@if (advertiser == null) {
        <th>AdvId</th>
        <th>Advertiser</th>
}
        <th>OfferId</th>
        <th>Name</th>
        <th>#Camps</th>
        <th>#Affs(MTD)</th>
        <th>#EventConvs(MTD)</th>
    </tr>
@foreach (var off in Model)
{
    //int numAffs = off.EventConversions.Select(x => x.AffiliateId).Distinct().Count(); //similar performance?
    var convs = off.EventConversions.Where(x => x.ConvDate >= monthStart);
    int numAffs = convs.GroupBy(x => x.AffiliateId).Count();
    int numConvs = convs.Count();
    <tr>
@if (advertiser == null) {
        <td>@off.AdvertiserId</td>
        <td>@(off.Advertiser != null ? off.Advertiser.AdvertiserName : "")</td>@* (because off.AdvertiserId is nullable) *@
}
        <td>@off.OfferId</td>
        <td>@off.OfferName</td>
        <td style="text-align:center">@Html.ActionLink(off.Camps.Count().ToString(), "Index", "Camps", new { offId = off.OfferId }, null)</td>
        <td style="text-align:center">@Html.ActionLink(numAffs.ToString(), "AffSum", "Conversions", new { offId = off.OfferId }, null)</td>
        <td style="text-align:center">@Html.ActionLink(numConvs.ToString(), "Index", "Conversions", new { offId = off.OfferId }, null)</td>
    </tr>
}
</table>
<br />
