@model IEnumerable<DirectAgents.Domain.Entities.TD.Advertiser>

<h2>Advertisers</h2>

<table>
<tr>
    <th></th>
    <th>Name</th>
    <th>Sales Rep</th>
    <th>AM</th>
    <th>#Campaigns</th>
</tr>
@foreach (var adv in Model)
{
<tr>
    <td>@Html.ActionLink("Edit", "Edit", new { id = adv.Id })</td>
    <td>@adv.Name</td>
    <td>@adv.SalesRepName()</td>
    <td>@adv.AMName()</td>
    <td style="text-align:center">@Html.ActionLink(adv.Campaigns.Count.ToString(), "Index", "Campaigns", new { advid = adv.Id }, null)</td>
</tr>
}
</table>
