@model ClientPortal.Data.Contexts.ClientInfo
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("usersTab");
    var ajaxOpts_Post = RazorHelpers.GetAjaxOptions("usersTab", httpMethod: "Post");
}

<h4>Edit Logo</h4>

Client: "@Model.Name" (ID: @Model.Id)
<br /><br />

@if (Model.Logo != null)
{
    <text>Current Logo:</text><br/>
    <img src="@Url.Action("Logo", new { id = Model.Id })" />
}

@using (Ajax.BeginForm(ajaxOpts_Post))
{
    <input id="logoUpload" name="logo" type="file" />
}

Users:<br />
@foreach (var up in Model.UserProfiles) {
    @Ajax.ActionLink(up.UserName, "Setup", "Users", new { id = up.UserId }, ajaxOptions)
    <br />
}

<br />
@Ajax.ActionLink("Back to All Users", "Index", "Users", ajaxOptions)

<script>
    $(function () {
        $("#logoUpload").kendoUpload({
            async: {
                saveUrl: "@Url.Action("UploadLogo")",
                autoUpload: false
            },
            upload: function(e) {
                e.data = { id: @Model.Id };
            },
            localization: {
                select: "Select file...",
                uploadSelectedFiles: "Upload"
            },
            multiple: false,
            complete: onUploadComplete
        });
    });

    function onUploadComplete() {
        $.ajax({
            url: '@Url.Action("EditLogo")',
            cache: false
        }).done(function (html) {
            $("#usersTab").html(html);
        });
    }
</script>

