@model ClientPortal.Web.Areas.Prog.Models.ReportVM
@{
    ViewBag.Title = "Creative Performance";
    //bool showHoverCol = Model.AnyUrls();
    bool showHoverCol = true;
}
<link href='~/Content/AdRoll/multi_product_da.css' rel="stylesheet" type="text/css" />
<link href='~/Content/AdRoll/dashboard_da.css' rel="stylesheet" type="text/css" />

@Html.Partial("_ClientBar", Model.UserInfo)

<div id="page_content">
	<div id="container">
    	<div id="page_content">
            <section>
                <div class="heading"><p>Campaign to Date: @Model.StartDate.ToShortDateString() thru @Model.EndDate.ToShortDateString()</p></div>
                <div id="gridCreative"></div>
            </section>
        </div>
    </div>
</div>

@section scripts {
<script>
    $(document).ready(function () {
        var dsCreative = CreateCreativeDataSource();
        SetupCreativeGrid(dsCreative);
        dsCreative.read();
        SetupTooltips();
    });

    function CreateCreativeDataSource() {
        return new kendo.data.DataSource({
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("Creative", "Stats")'
                }
            },
            schema: {
                model: {
                    id: 'Id',
                    fields: {
                        AdName: { type: 'string' },
                        Url: { type: 'string' },
                        AdWidth: { type: 'int' },
                        AdHeight: { type: 'int' },
                        AdBody: { type: 'string' },
                        AdHeadline: { type: 'string' },
                        AdMessage: { type: 'string' }
                        // rest of fields: numbers
                    }
                }
            },
            //sort: { field: "eCPA", dir: "asc" }
        });
    }
    function SetupCreativeGrid(datasource) {
        $("#gridCreative").kendoGrid({
            dataSource: datasource,
            autoBind: false,
            scrollable: false,
            sortable: { allowUnsort: false },
            width: 1000,
            columns: [
                {
                    columns: [
                        { field: "AdName", title: "Creative", attributes: { class: "gridcol_string" } },
                        { field: "MediaSpend", title: "Spend", format: "{0:c}", attributes: { style: "text-align: center" } },
                        { field: "Impressions", format: "{0:n0}", attributes: { style: "text-align: center" } },
                        { field: "Clicks", format: "{0:n0}", attributes: { style: "text-align: center" } },
                        { field: "CTR", format: "{0:0.00%}", attributes: { style: "text-align: center" } },
                        { field: "eCPC", format: "{0:c}", attributes: { style: "text-align: center" } }
                    ]
                }, {
                    title: "Conversions",
                    headerAttributes: { style: "text-align: center" },
                    columns: [
                        { field: "PostClickConv", title: "Click", format: "{0:n0}", attributes: { style: "text-align: center" } },
                        { field: "PostViewConv", title: "View", format: "{0:n0}", attributes: { style: "text-align: center" } },
                        { field: "Conversions", title: "Total", format: "{0:n0}", attributes: { style: "text-align: center" } }
                    ]
                }, {
                    columns: [
                        { field: "eCPA", format: "{0:c}", attributes: { style: "text-align: center" }, sortable: { compare: Sort_eCPA } },
                    @if (showHoverCol) {
                        <text>{
                            field: "Url",
                            title: "Preview",
                            template: kendo.template($("#tmplCreativeIcon").html())
                        }</text>
                    }
                    ]
                }
            ]
        });
    }
    function Sort_eCPA(a, b, descending) {
        if (a.eCPA === b.eCPA) {
            return a.MediaSpend - b.MediaSpend;
        } else {
            if (a.eCPA == 0 || b.eCPA == 0)@* one or the other is 0, not both *@
                return b.eCPA - a.eCPA;
            else
                return a.eCPA - b.eCPA;
        }
    }

    function SetupTooltips() {
        $("#gridCreative").kendoTooltip({
            position: "left",
            filter: "td:last-child img.thumbnail",
            content: kendo.template($("#tmplCreativeHover").html())
        });
    }
</script>
<script id="tmplCreativeIcon" type="text/x-kendo-template">
    #if (Url != null) {#
        <img class="thumbnail" src="@Url.Content("~/Images/")creativethumb.gif" border="0" data-url="#: Url #" data-adwidth="#: AdWidth #" data-adheight="#: AdHeight #" data-adbody="#: AdBody #" data-adheadline="#: AdHeadline #" data-admessage="#: AdMessage #">
    #}#
</script>
<script id="tmplCreativeHover" type="text/x-kendo-template">
    # if ((target.data('adheadline') != null) || (target.data('admessage') != null)) { #
    <div id="divHover" class="popover">
	    <div class="popover-content">
		    <figure class="ad thumb_#= target.data('adwidth') #x#= target.data('adheight') # fb-newsfeed-preview fb-rhc-preview">
			    <header class="fb-mobile-page-header">
				    <span class="fb-nf-sponsored fb-mobile-secondary fb-mobile-small">Sponsored</span>
			    </header>
			    <section class="fb-nf-ad-preview">
				    <section class="nf-thumbnail">
					    <img src="#= target.data('url') #">
					    <div class="fb-nf-border-bottom"></div>
				    </section>
				    <section class="fb-preview-fields">
					#if (target.data('adheadline') != null) { #
                        <h5 class="fb-rhc-headline fb-mobile-nowrap">#= target.data('adheadline') #</h5>
                    # } #
					    <span class="fb-mobile-secondary fb-rhc-url fb-mobile-nowrap">a2.adform.net</span>
					#if (target.data('admessage') != null) { #
					    <span class="fb-rhc-message">#= target.data('admessage') #</span>
                    # } #
				    </section>
				    <div class="clear"></div>
			    </section>
		    </figure>
	     </div>
	    <div style="left: -30px; padding-left: 30px; position: absolute; height: 100%; top: 0px;"></div>
    </div>
    # } else { #
    <div id="divHover" style="width:#= target.data('adwidth') #px; height:#= target.data('adheight') #px">
        <iframe id="iframeHover" src="#= target.data('url') #" width="#= target.data('adwidth') #" height="#= target.data('adheight') #" scrolling="yes" style="border: none;"></iframe>
    </div>
    # } #
</script>
}
<style type="text/css">
    #divHover {
        position:relative;
    }
    #iframeHover {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
</style>