@model ClientPortal.Web.Areas.Prog.Models.ReportVM
@{
    ViewBag.Title = "Creative Performance";
    if (Model.UserInfo.ProgAdvertiser.Name == "Seeso") { // for Demo
        var baseUrl = Url.Content("~/Images/");
        int j = 0;
        foreach (var stat in Model.Stats)
        {
            var creativeImage = "Seeso_300x600.jpg";
            if (j % 3 > 0) {
                creativeImage = (j % 3 == 1) ? "Seeso_728x90.jpg" : "Seeso_Video.jpg";
            }
            stat.Url = baseUrl + creativeImage;
            j++;
        }
    } else if (Model.UserInfo.ProgAdvertiser.Name == "Sephora") {
        var baseUrl = Url.Content("~/Images/Demo/");
        int j = 0;
        foreach (var stat in Model.Stats)
        {
            var creativeImage = "seph1.jpg";
            if (j % 4 > 0)
            {
                creativeImage = (j % 4 == 1) ? "seph2.jpg" : ((j % 4 == 2) ? "seph3.jpg" : "seph4.jpg");
            }
            stat.Url = baseUrl + creativeImage;
            j++;
        }
    }
    bool showHoverCol = Model.AnyUrls();
}

@Html.Partial("_ClientBar", Model.UserInfo)

<div id="page_content">
	<div id="container">
    	<div id="page_content">
            <section>
                <div class="heading"><p>Campaign to Date: @Model.StartDate.ToShortDateString() thru @Model.EndDate.ToShortDateString()</p></div>
                <div class="grid">

<table id="tblCreative" class="grid" cellspacing="0" width="100%">
<thead>
    <tr>
        <th class="col_first">Creative</th>
        <th>Media Spend</th>
        <th>Impressions</th>
        <th>Clicks</th>
        <th>CTR</th>
        <th>eCPC</th>
        <th class="convheader">Click Conv</th>
        <th class="convheader">View Conv</th>
        <th class="convheader">Total Conv</th>
        <th>eCPA</th>
    @if (showHoverCol)
    {
        <th>Preview (Hover)</th>
    }
    </tr>
</thead>
<tbody>
@{
    int i = 0;
}
@foreach (var stat in Model.Stats)
{
    <tr class="@(i % 2 == 0 ? "grey_row" : "")">
        <td class="col_first">@stat.AdName</td>
        <td>@stat.MediaSpend.ToString("C")</td>
        <td>@stat.Impressions.ToString("N0")</td>
        <td>@stat.Clicks.ToString("N0")</td>
        <td>@stat.CTR.ToString("0.00%")</td>
        <td>@stat.eCPC.ToString("C")</td>
        <td>@stat.PostClickConv.ToString("N0")</td>
        <td>@stat.PostViewConv.ToString("N0")</td>
        <td>@stat.Conversions.ToString("N0")</td>
        <td>@stat.eCPA.ToString("C")</td>
    @if (showHoverCol)
    {
        <td>
            @if (!String.IsNullOrWhiteSpace(stat.Url))
            {
                <img class="thumbnail" src="~/Images/creativethumb.gif" border="0" data-img="@stat.Url">
            }
        </td>
    }
    </tr>
    i++;
}
</tbody>
</table>

                </div>
            </section>
        </div>
    </div>
</div>

@section scripts {
<script>
    $(document).ready(function () {
        SetupTooltips();
    });

    function SetupTooltips() {
        tooltip = $("#tblCreative").kendoTooltip({
            position: "left",
            filter: ".thumbnail",
            content: kendo.template($("#tmplCreative").html()),
        }).data("kendoTooltip");
    }
</script>
<script id="tmplCreative" type="text/x-kendo-template">
    <div id="divHover">
        <img id="imgHover" src="#= target.data('img') #" />
    </div>
</script>
}
<style type="text/css">
    .grid td {
        padding: 10px 5px;
    }
    #divHover {
        position:relative;
        width:600px;
        height:300px;
    }
    #imgHover {
        max-width:600px;
        max-height:300px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
</style>