@model ClientPortal.Web.Areas.Prog.Models.ExecSumVM
@{
    ViewBag.Title = "Executive Summary";
    var mtd = Model.MTDStat;
    var prev = Model.LastMonthStat;
}

<div id="client_bar_exec">
<div id="container">
    <div class="exec_charts">
        @* TODO: Put in separate partial view... *@
        <section>
            <div class="heading"><p>Month to Date: @mtd.StartDate.ToShortDateString() thru @mtd.Date.ToShortDateString()</p></div>
            <div class="grid">
                <table class="grid" cellspacing="0" width="100%">
                    <thead>
                        <tr class="exec">
                            <th>Budget</th>
                            <th>Spend</th>
                            <th>Pacing</th>
                            <th>Impressions</th>
                            <th>Clicks</th>
                            <th>CTR</th>
                            <th>eCPC</th>
                            <th>Conversions</th>
                            <th>eCPA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="grey_row">
                            <td>@mtd.Budget.ToString("C")</td>
                            <td>@mtd.MediaSpend.ToString("C")</td>
                            <td>@mtd.Pacing.ToString("0.00%")</td>
                            <td>@mtd.Impressions.ToString("N0")</td>
                            <td>@mtd.Clicks.ToString("N0")</td>
                            <td>@mtd.CTR.ToString("0.00%")</td>
                            <td>@mtd.eCPC.ToString("C")</td>
                            <td>@mtd.Conversions.ToString("N0")</td>
                            <td>@mtd.eCPA.ToString("C")</td>
                        </tr>
		            </tbody>
                </table>
            </div>
        </section>
        <section>
            <div class="heading"><p>Previous Month: @prev.StartDate.ToShortDateString() thru @prev.Date.ToShortDateString()</p></div>
            <div class="grid">
                <table class="grid" cellspacing="0" width="100%">
                    <thead>
                        <tr class="exec">
                            <th>Budget</th>
                            <th>Spend</th>
                            <th>Pacing</th>
                            <th>Impressions</th>
                            <th>Clicks</th>
                            <th>CTR</th>
                            <th>eCPC</th>
                            <th>Conversions</th>
                            <th>eCPA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="grey_row">
                            <td>@prev.Budget.ToString("C")</td>
                            <td>@prev.MediaSpend.ToString("C")</td>
                            <td>@prev.Pacing.ToString("0.00%")</td>
                            <td>@prev.Impressions.ToString("N0")</td>
                            <td>@prev.Clicks.ToString("N0")</td>
                            <td>@prev.CTR.ToString("0.00%")</td>
                            <td>@prev.eCPC.ToString("C")</td>
                            <td>@prev.Conversions.ToString("N0")</td>
                            <td>@prev.eCPA.ToString("C")</td>
                        </tr>
		            </tbody>
                </table>
            </div>
        </section>
        </div>
        <div class="client_logo_exec"></div>
        <div class="client_name_exec">@Model.UserInfo.ProgAdvertiser.Name</div>
    </div>
</div>

<div id="page_content">
    <div id="container">
        <div id="page_content_exec">
            <div id="exec_leftbar">
                <div class="heading"><p>Campaign to Date</p></div>
                <div class="content_box2">
                    <ul class="exec_leftchart">
                        <li class="axis">
                            <div class="label">Spend</div>
                            <div class="biglabel">$@Model.CTDStat.MediaSpend.ToStringKMB()</div>
                        </li>
                        <li>
                            <div class="exec_spark" id="sparkSpend"></div>
                        </li>
                    </ul>
                </div>
                <div class="content_box2">
                    <ul class="exec_leftchart">
                        <li class="axis">
                            <div class="label">Impressions</div>
                            <div class="biglabel">@Model.CTDStat.Impressions.ToStringKMB()</div>
                        </li>
                        <li>
                            <div class="exec_spark" id="sparkImpressions"></div>
                        </li>
                    </ul>
                </div>
                <div class="content_box2">
                    <ul class="exec_leftchart">
                        <li class="axis">
                            <div class="label">Clicks</div>
                            <div class="biglabel">@Model.CTDStat.Clicks.ToStringKMB()</div>
                        </li>
                        <li>
                            <div class="exec_spark" id="sparkClicks"></div>
                        </li>
                    </ul>
                </div>
                <div class="content_box2">
                    <ul class="exec_leftchart">
                        <li class="axis">
                            <div class="label">Conversions</div>
                            <div class="biglabel">@Model.CTDStat.Conversions.ToStringKMB()</div>
                        </li>
                        <li>
                            <div class="exec_spark" id="sparkConversions"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="exec_right">
                <section>
                    <div class="heading"><p>Pacing Month to Date</p></div>
                    <div class="content_box" style="height:205px">
                        gauge...<br />gauge...<br />gauge...<br />gauge...<br />gauge...<br />gauge...
                    </div>
                </section>
                <section>
                    <div class="heading"><p>Campaign to Date eCPA Trend</p></div>
                    <div class="content_box">
                        <div id="trendECPA" style="height:205px"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script>
    $(document).ready(function () {
        var datasource = GetDataSourceCTD();
        SetupSparklineCharts(datasource);
        SetupMainChart(datasource);
        datasource.read();
    });

    function GetDataSourceCTD() {
        return new kendo.data.DataSource({
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("DailyCTD", "Stats", new { advId = @Model.UserInfo.ProgAdvertiser.Id })',
                }
            },
            schema: {
                model: {
                    id: 'Id',
                    fields: {
                        Date: { type: 'date' }
                        // rest of fields: numbers
                    }
                }
            }
        });
    }
    function SetupMainChart(datasource)
    {
        $("#trendECPA").kendoChart({
            dataSource: datasource,
            autoBind: false,
            series: [
                { field: "eCPA", type: "area", color: "rgb(13, 141, 214)", tooltip: { format: "{0:C}" } }
            ],
            categoryAxis: {
                field: "Date",
                labels: { rotation: -90, step: 15 },
                axisCrossingValue: [0, 2000],
                majorGridLines: { visible: false }
            },
            valueAxis: [
                { labels: { format: "C" } }
            ],
            tooltip: { visible: true }
        });
    }

    function SetupSparklineCharts(datasource)
    {
        $("#sparkSpend").kendoSparkline({
            dataSource: datasource,
            autoBind: false,
            type: "area",
            series: [
                { field: "MediaSpend", color: "rgb(13, 141, 214)", tooltip: { format: "{0:C}" } }
            ]
        });
        $("#sparkImpressions").kendoSparkline({
            dataSource: datasource,
            autoBind: false,
            type: "area",
            series: [
                { field: "Impressions", color: "rgb(13, 141, 214)", tooltip: { format: "{0:N0}" } }
            ]
        });
        $("#sparkClicks").kendoSparkline({
            dataSource: datasource,
            autoBind: false,
            type: "area",
            series: [
                { field: "Clicks", color: "rgb(13, 141, 214)", tooltip: { format: "{0:N0}" } }
            ]
        });
        $("#sparkConversions").kendoSparkline({
            dataSource: datasource,
            autoBind: false,
            type: "area",
            series: [
                { field: "Conversions", color: "rgb(13, 141, 214)", tooltip: { format: "{0:N0}" } }
            ]
        });
    }
</script>
}
