@model IEnumerable<DirectAgents.Domain.Entities.TD.TDStatWithAccount>

<h2>Programmatic</h2>

MTD Stats

<table>
<tr>
    <th>Platform</th>
    <th>Account</th>
    <th>Impressions</th>
    <th>Clicks</th>
    <th>CTR</th>
    <th>CPM</th>
    <th>CPC</th>
    <th>CPA</th>
    <th>PostClick Conv</th>
    <th>PostView Conv</th>
    <th>Total Conv</th>
    <th>Cost</th>
</tr>
@foreach (var stat in Model)
{
<tr>
    <td>@stat.PlatformName</td>
    <td>
        @if (stat.Account.Platform.Code == DirectAgents.Domain.Entities.TD.Platform.Code_AdRoll)
        {
            @Html.ActionLink(stat.AccountName, "AdRoll", new { advEid = stat.Account.ExternalId })
        }
        else if (stat.Account.Platform.Code == DirectAgents.Domain.Entities.TD.Platform.Code_DBM)
        {
            @Html.ActionLink(stat.AccountName, "DBM", new { ioID = stat.Account.ExternalId })
        }
        else
        {
            @stat.AccountName
        }
    </td>
    <td style="text-align:right">@stat.Impressions</td>
    <td style="text-align:right">@stat.Clicks</td>
    <td style="text-align:center">@stat.CTR</td>
    <td style="text-align:center">@stat.CPM</td>
    <td style="text-align:center">@stat.CPC</td>
    <td style="text-align:center">@stat.CPA</td>
    <td style="text-align:right">@stat.PostClickConv</td>
    <td style="text-align:right">@stat.PostViewConv</td>
    <td style="text-align:right">@stat.TotalConv</td>
    <td style="text-align:right">@stat.Cost</td>
</tr>
}
</table>

