@model DirectAgents.Web.Areas.TD.Models.TDStatsVM

<h2>Stats By Creative</h2>

@Model.Name

<table>
<tr>
    <th>Name</th>
    <th>Impressions</th>
    <th>Clicks</th>
    <th>CTR</th>
    <th>CPM</th>
    <th>CPC</th>
    <th>CPA</th>
    <th>PostClick Conv</th>
    <th>PostView Conv</th>
    <th>Total Conv</th>
    <th>Cost</th>
</tr>
@foreach (var stat in Model.Stats)
{
<tr>
    <td>@stat.Name</td>
    <td style="text-align:right">@stat.Impressions</td>
    <td style="text-align:right">@stat.Clicks</td>
    <td style="text-align:center">@stat.CTR</td>
    <td style="text-align:center">@stat.CPM</td>
    <td style="text-align:center">@stat.CPC</td>
    <td style="text-align:center">@stat.CPA</td>
    <td style="text-align:right">@stat.PostClickConv</td>
    <td style="text-align:right">@stat.PostViewConv</td>
    <td style="text-align:right">@stat.TotalConv</td>
    <td style="text-align:right">@stat.Cost</td>
</tr>
}
@if (Model.StatsTotal != null)
{
    var tot = Model.StatsTotal;
<tr>
    <th>@tot.Name</th>
    <th>@tot.Impressions</th>
    <th>@tot.Clicks</th>
    <th>@tot.CTR</th>
    <th>@tot.CPM</th>
    <th>@tot.CPC</th>
    <th>@tot.CPA</th>
    <th>@tot.PostClickConv</th>
    <th>@tot.PostViewConv</th>
    <th>@tot.TotalConv</th>
    <th>@tot.Cost</th>
</tr>
}
</table>
<br />