@model DirectAgents.Domain.DTO.TDStatWithBudget
@{
    var m = Model; // stats
    var budg = Model.Budget;
}

<h2>Month/MTD View</h2>

Month: @m.Date.ToString("MMM yyyy")
<br /><br />

<table>
<tr>
    <th>Advertiser</th>
    <td>@m.Campaign.Advertiser.Name</td>
</tr>
<tr>
    <th>Campaign</th>
    <td>@m.Campaign.Name</td>
</tr>
<tr>
    <th>Mgmt Fee</th>
    <td>@budg.MgmtFeePct.ToString("#0.### \\%")</td>
</tr>
<tr>
    <th>Margin</th>
    <td>@budg.MarginPct.ToString("#0.### \\%")</td>
</tr>
<tr>
    <th>Budget</th>
    <td>@budg.MediaSpend().ToString("C")</td>
</tr>
</table>

<br />
<table>
<tr>
    <th></th>
    <th>MTD</th>
    <th>Budget/Goal</th>
    <th>% reached</th>
</tr>
<tr>
    <td>Actual Cost</td>
    <td>@m.Cost.ToString("C")</td>
    <td>@budg.Cost.ToString("C")</td>
    <td>@m.FractionReached().ToString("#0.##%")</td>
</tr>
<tr>
    <td>Media Spend</td>
    <td>@m.MediaSpend().ToString("C")</td>
    <td>@budg.MediaSpend().ToString("C")</td>
    <td></td>
</tr>
<tr>
    <td>Mgmt Fee</td>
    <td>@m.MgmtFee().ToString("C")</td>
    <td>@budg.MgmtFee().ToString("C")</td>
    <td></td>
</tr>
<tr>
    <td>Total Revenue</td>
    <td>@m.TotalRevenue().ToString("C")</td>
    <td>@budg.TotalRevenue().ToString("C")</td>
    <td></td>
</tr>
<tr>
    <td>Margin</td>
    <td>@m.Margin().ToString("C")</td>
    <td>@budg.Margin().ToString("C")</td>
    <td></td>
</tr>
</table>

<br />MTD Stats
<table>
<tr>
    <td>Impressions</td>
    <td>@m.Impressions.ToString("N0")</td>
</tr>
<tr>
    <td>Clicks</td>
    <td>@m.Clicks.ToString("N0")</td>
</tr>
<tr>
    <td>Post-Click Conv</td>
    <td>@m.PostClickConv.ToString("N0")</td>
</tr>
<tr>
    <td>Post-View Conv</td>
    <td>@m.PostViewConv.ToString("N0")</td>
</tr>
<tr>
    <td>Total Conv</td>
    <td>@m.TotalConv.ToString("N0")</td>
</tr>
<tr>
    <td></td>
    <td></td>
</tr>
</table>