@model SynchVM

<span>Accounting Period: </span><b>@Model.CurrentEomDateString</b>
<br /><br />

<h2>Synch CPCs</h2>

@if (Model.Posted == false)
{

using (Html.BeginForm())
{
    <text>Offer ID:</text><br />
    @Html.TextBox("offerID") <br />
    <input type="submit" />    
}

}
else
{
    foreach (var result in Model.Results)
    {
        <text>@result.NumItemsSynched Items Synched for Offer @result.OfferID [@result.Message]</text><br />
    }
    <br />
    @Html.ActionLink("More", "Index")
}