@model ClientPortal.Data.Contexts.Advertiser
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("advertisersTab");
    var ajaxOpts_Post = RazorHelpers.GetAjaxOptions("advertisersTab", httpMethod: "Post");
}

<h4>Create Advertiser</h4>

@using (Ajax.BeginForm(ajaxOpts_Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend style="display:none"></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdvertiserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdvertiserId)
            @Html.ValidationMessageFor(model => model.AdvertiserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdvertiserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdvertiserName)
            @Html.ValidationMessageFor(model => model.AdvertiserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Culture)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Culture)
            @Html.ValidationMessageFor(model => model.Culture)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShowCPMRep)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShowCPMRep)
            @Html.ValidationMessageFor(model => model.ShowCPMRep)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShowConversionData)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShowConversionData)
            @Html.ValidationMessageFor(model => model.ShowConversionData)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConversionValueName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConversionValueName)
            @Html.ValidationMessageFor(model => model.ConversionValueName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConversionValueIsNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConversionValueIsNumber)
            @Html.ValidationMessageFor(model => model.ConversionValueIsNumber)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Ajax.ActionLink("Back to List", "Index", ajaxOptions)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
