@model ClientPortal.Data.Contexts.Advertiser
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("advertisersTab");
    var ajaxOpts_Post = RazorHelpers.GetAjaxOptions("advertisersTab", httpMethod: "Post");
}

<h4>Create UserProfile</h4>

@using (Ajax.BeginForm(ajaxOpts_Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend style="display:none"></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdvertiserName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AdvertiserName)
        </div>

        <div class="editor-label">
            <label>UserName</label>
        </div>
        <div class="editor-field">
            <input class="text-box single-line" id="UserName" name="UserName" type="text" value="" />
        </div>

        <div class="editor-label">
            <label>Password</label>
        </div>
        <div class="editor-field">
            <input class="text-box single-line" id="Password" name="Password" type="text" value="" />
        </div>
        <div>
            <input style="float: right" type="button" value="Generate Password" onclick="GeneratePassword()" />
            <br style="clear: both" />
        </div>

        <div class="editor-label">
            <label>Send Email?</label>
        </div>
        <div class="editor-field">
            @Html.CheckBox("SendEmail")
        </div>
        <div id="divEmail" style="display:none">
            <div class="editor-label">
                <label>Email Address</label>
            </div>
            <div class="editor-field">
                <input class="text-box single-line" id="Email" name="Email" type="text" value="" />
            </div>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Ajax.ActionLink("Back to List", "Index", ajaxOptions)
</div>

<script>
    $(function() {
        $('#SendEmail').click(function () {
            $('#divEmail').toggle();
        });
    });

    function GeneratePassword() {
        var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
        var string_length = 8;
        var randomstring = '';
        for (var i = 0; i < string_length; i++) {
            var rnum = Math.floor(Math.random() * chars.length);
            randomstring += chars.substring(rnum, rnum + 1);
        }
        $('#Password').val(randomstring);
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
