@model ClientPortal.Data.Contexts.Advertiser

@{
    ViewBag.Title = "Edit";
}

<h4>Edit Advertiser</h4>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "advertisersTab" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend style="display:none"></legend>

        @Html.HiddenFor(model => model.AdvertiserId)

        <div class="editor-label" style="margin-bottom: 12px">
            <b>AdvertiserId:</b> @Html.DisplayFor(model => model.AdvertiserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdvertiserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdvertiserName)
            @Html.ValidationMessageFor(model => model.AdvertiserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Culture)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Culture)
            @Html.ValidationMessageFor(model => model.Culture)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShowCPMRep)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShowCPMRep)
            @Html.ValidationMessageFor(model => model.ShowCPMRep)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShowConversionData)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShowConversionData)
            @Html.ValidationMessageFor(model => model.ShowConversionData)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConversionValueName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConversionValueName)
            @Html.ValidationMessageFor(model => model.ConversionValueName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConversionValueIsNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConversionValueIsNumber)
            @Html.ValidationMessageFor(model => model.ConversionValueIsNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AutomatedReportsEnabled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AutomatedReportsEnabled)
            @Html.ValidationMessageFor(model => model.AutomatedReportsEnabled)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AutomatedReportsDestinationEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AutomatedReportsDestinationEmail)
            @Html.ValidationMessageFor(model => model.AutomatedReportsDestinationEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AutomatedReportsPeriodDays)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AutomatedReportsPeriodDays)
            @Html.ValidationMessageFor(model => model.AutomatedReportsPeriodDays)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdWordsAccountId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdWordsAccountId)
            @Html.ValidationMessageFor(model => model.AdWordsAccountId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BingAdsAccountId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BingAdsAccountId)
            @Html.ValidationMessageFor(model => model.BingAdsAccountId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>   
    @Html.HiddenFor(model => model.HasSearch)
    @Html.HiddenFor(model => model.AutomatedReportsNextSendAfter)
}

<div>
    @Ajax.ActionLink("Back to List", "Index", new AjaxOptions() {
        UpdateTargetId = "advertisersTab", HttpMethod = "Get"
    })
</div>
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
