@model ClientPortal.Data.Contexts.Advertiser
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("advertisersTab");
    var ajaxOpts_Post = RazorHelpers.GetAjaxOptions("advertisersTab", httpMethod: "Post");
}

<h4>Edit Advertiser Contacts</h4>

@using (Ajax.BeginForm("EditContacts", null, ajaxOpts_Post, new { onsubmit = "SetContactsHidden()" }))
{
    <input type="hidden" id="contactids" name="contactids" />
    <fieldset>
        <legend style="display:none"></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdvertiserName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AdvertiserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdvertiserContacts)
        </div>
        <div class="editor-field">
            <select id="selectContacts" multiple="multiple" data-placeholder="Select contacts...">
            </select>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Ajax.ActionLink("Back to List", "Index", ajaxOptions)
</div>

<script>
    SetupEditContacts();

    function SetupEditContacts() {
        var url = '@Url.Action("NameList", "Contacts")';
        $("#selectContacts").kendoMultiSelect({
//            placeholder: "Select contacts...",
            dataTextField: "Name",
            dataValueField: "ContactId",
            dataSource: {
                transport: {
                    read: { url: url, dataType: "json" }
                }
            },
            value: [
@foreach(var ac in Model.AdvertiserContactsOrdered) {
    <text>{ ContactId: "@ac.ContactId", Name: "@(ac.Contact.FirstName + " " + ac.Contact.LastName)" },</text>
}
            ]
        });
    }

    function SetContactsHidden() {
        var sel = $('#selectContacts').data('kendoMultiSelect');
        $('#contactids').val(sel.value());
    }
</script>