@model ClientPortal.Data.Contexts.Advertiser
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("advertisersTab");
    var ajaxOpts_Post = RazorHelpers.GetAjaxOptions("advertisersTab", httpMethod: "Post");
}

<h4>Edit Logo</h4>

@if (Model.Logo != null)
{
    <text>Current Logo:</text><br/>
    <img src="@Url.Action("Logo", new { id = Model.AdvertiserId })" />
}

@using (Ajax.BeginForm(ajaxOpts_Post))
{
    <input id="logoUpload" name="logo" type="file" />
}

<div>
    @Ajax.ActionLink("Back to List", "Index", ajaxOptions)
</div>

<script>
    $(function () {
        $("#logoUpload").kendoUpload({
            async: {
                saveUrl: "@Url.Action("UploadLogo")",
                autoUpload: false
            },
            upload: function(e) {
                e.data = { id: @Model.AdvertiserId };
            },
            localization: {
                select: "Select file...",
                uploadSelectedFiles: "Upload"
            },
            multiple: false,
            complete: onUploadComplete
        });
    });

    function onUploadComplete() {
        $.ajax({
            url: '@Url.Action("EditLogo")',
            cache: false
        }).done(function (html) {
            $("#advertisersTab").html(html);
        });
    }
</script>
