@model IEnumerable<ClientPortal.Data.Contexts.Advertiser>

@{
    ViewBag.Title = "Index";
    var ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "advertisersTab",
        HttpMethod = "Get"
    };
}

<p>
    @Ajax.ActionLink("Create New Advertiser", "Create", ajaxOptions) |
    @Ajax.ActionLink("Refresh", "Index", ajaxOptions)
</p>
<table>
    <tr>
        <th>@Ajax.ActionLink("Id", "Index", new { sort="AdvertiserId" }, ajaxOptions)</th>
        <th>@Ajax.ActionLink("Name", "Index", new { sort="AdvertiserName" }, ajaxOptions)</th>
        <th>Culture</th>
        <th>ShowCPM?</th>
        <th>ConVal</th>
        <th>Show?</th>
        <th>IsNum?</th>
        <th>Profile?</th>
        <th>Logo?</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertiserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertiserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Culture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowCPMRep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConversionValueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowConversionData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConversionValueIsNumber)
        </td>
        <td>
            @if (item.UserProfiles.Count() > 0) {
                <text>yes</text>
            } else {
                @Ajax.ActionLink("no", "CreateUserProfile", new { id=item.AdvertiserId }, ajaxOptions)
            }
        </td>
        <td>
            @Ajax.ActionLink((item.Logo == null ? "no" : "yes"), "EditLogo", new { id=item.AdvertiserId }, ajaxOptions)
        </td>
        <td>
            @Ajax.ActionLink("Edit", "Edit", new { id=item.AdvertiserId }, ajaxOptions) |
            @Ajax.ActionLink("Edit Contacts", "EditContacts", new { id=item.AdvertiserId }, ajaxOptions) |
            @Ajax.ActionLink("Details", "Details", new { id=item.AdvertiserId }, ajaxOptions) |
            @Ajax.ActionLink("Delete", "Delete", new { id=item.AdvertiserId }, ajaxOptions)
        </td>
    </tr>
}

</table>
