@model IEnumerable<ClientPortal.Data.Contexts.Advertiser>

@{
    ViewBag.Title = "Index";
    var ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "advertisersTab",
        HttpMethod = "Get"
    };
}

<p>
    @Ajax.ActionLink("Create New Advertiser", "Create", ajaxOptions) |
    @Ajax.ActionLink("Refresh", "Index", ajaxOptions)
</p>
<table>
    <tr>
        <th></th>
        <th style="text-align:center">@Ajax.ActionLink("Id", "Index", new { sort="AdvertiserId" }, ajaxOptions)</th>
        <th style="text-align:left; padding-left:10px">@Ajax.ActionLink("Advertiser", "Index", new { sort="AdvertiserName" }, ajaxOptions)</th>
        <th style="text-align:center">Login</th>
        <th>Culture</th>
        <th>ShowCPM?</th>
        <th>ConVal</th>
        <th>Show?</th>
        <th>IsNum?</th> 
        <th>Logo</th>
        <th>Reports<br />Enabled?</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Ajax.ActionLink("Edit", "Edit", new { id=item.AdvertiserId }, ajaxOptions) |
            @Ajax.ActionLink("Edit Contacts", "EditContacts", new { id=item.AdvertiserId }, ajaxOptions) |
            @Ajax.ActionLink("Details", "Details", new { id=item.AdvertiserId }, ajaxOptions) |
            @Ajax.ActionLink("Delete", "Delete", new { id=item.AdvertiserId }, ajaxOptions)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.AdvertiserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertiserName)
        </td>
        <td style="text-align:center">
            @if (item.UserProfiles.Count() > 0) {
                @(String.Join(", ", item.UserProfiles.Select(u => u.UserName).ToArray()))
            } else {
                @Ajax.ActionLink("create", "CreateUserProfile", new { id=item.AdvertiserId }, ajaxOptions)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Culture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowCPMRep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConversionValueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowConversionData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConversionValueIsNumber)
        </td>
        <td style="text-align:center">
            @Ajax.ActionLink((item.Logo == null ? "add" : "edit"), "EditLogo", new { id=item.AdvertiserId }, ajaxOptions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutomatedReportsEnabled)
        </td>
    </tr>
}

</table>
<br />
