@model DirectAgents.Web.Areas.TD.Models.ReportingVM
@{
    var camp = Model.Campaign;
    int numCols = 9;
}

<h2>Daily Stats</h2>

Campaign: @camp.Name

<div>
    <div id="spreadsheet" style="width:950px"></div>
</div>
<br />
@Html.ActionLink("Reporting Home", "Home", "Reports", new { campId = camp.Id }, null)

@section scripts {
<script>
    $(document).ready(function () {
        SetupDataSourceAndSpreadsheet();

        var spreadsheet = $('#spreadsheet').data('kendoSpreadsheet');
        var sheet = spreadsheet.activeSheet();
        //sheet.range('A:A').format('dd/mm/yyyy');
        sheet.range('B:F').format('#,0');
        sheet.range('G:I').format('$#,0.00');
        sheet.range('H:H').format('#,0.00%');
    });

    function SetupDataSourceAndSpreadsheet() {
        var datasource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("DailyData")',
                    data: {
                        campId: @camp.Id,
                        start: '@Model.Start.ToRouteString()',
                        end: '@Model.End.ToRouteString()'
                    },
                    type: 'post',
                    dataType: 'json'
                }
            },
            schema: {
                model: {
                    id: 'Id',
                    fields: {
                        Date: { type: 'date' },
                        Impressions: { type: 'number' },
                        Clicks: { type: 'number' },
                        TotalConv: { type: 'number' },
                        PostClickConv: { type: 'number' },
                        PostViewConv: { type: 'number' },
                        Spend: { type: 'number' },
                        CTR: { type: 'number' },
                        CPA: { type: 'number' }
                    }
                }
            }
        });
        $('#spreadsheet').kendoSpreadsheet({
            columns: @numCols,
            rows: 100,
            //toolbar: false,
            //sheetsbar: false,
            sheets: [{
                name: 'Daily',
                dataSource: datasource,
                frozenRows: 1,
                columns: [
                    { width: 100 },
                    { width: 100 },
                    { width: 100 },
                    { width: 100 },
                    { width: 100 },
                    { width: 100 },
                    { width: 100 },
                    { width: 100 },
                    { width: 100 },
                    //{ width: 100 } // extra col
                ],
                rows: [{ // define header row
                    cells: [
                    @for (int i = 0; i < numCols; i++)
                    {<text>
                        {
                            bold: "true",
                            background: "#9c27b0",
                            textAlign: "center",
                            color: "white"
                        },
                    </text>}
                    ]
                }],
            }]
        });
    }
</script>
}

