@model IEnumerable<Invoice>

<table style="border-spacing: 10px 0">
    <tr>
        <th>Date</th>
        <th>Account Manager</th>
        <th>Advertiser</th>
        <th colspan="2">Amount</th>
        <th>Status</th>
    </tr>
@foreach (var inv in Model)
{
    <tr style="background-color: #eee">
        <td>@inv.DateRequested.ToShortDateString() @inv.DateRequested.ToShortTimeString()</td>
        <td>@inv.Advertiser.AccountManagerTeam.name</td>
        <td>@inv.Advertiser.name</td>
        <td>@inv.CurrencyName</td>
        <td>@inv.Total.ToString("N2")</td>
        <td>@inv.InvoiceStatus.name</td>
        <td>
            @Html.ActionLink("View", "Show", new { id = inv.id })
            @if (inv.invoice_status_id < InvoiceStatus.Generated)
            {
                <text> | </text>
                @Html.ActionLink("Mark Generated", "SetStatus", new { id = inv.id, statusid = InvoiceStatus.Generated })
            }
            else
            {
                <text> | </text>
                @Html.ActionLink("Mark Ungenerated", "SetStatus", new { id = inv.id, statusid = InvoiceStatus.AccountingReview })
            }
        </td>
    </tr>
}
</table>
