@model Invoice
@{
    var invoice = Model;
}

<b>Invoice Request for:</b> @invoice.Advertiser.name
<br /><br />

<table style="border: 1px solid gray">
    <tr>
        <th>Campaign</th>
        <th>#Units</th>
        <th colspan="2">Amount</th>
    </tr>
@for (var i=0; i < invoice.LineItems.Count; i++)
{
    var li = invoice.LineItems[i];
    <tr>
        <td>@li.Campaign.campaign_name (@li.Campaign.pid)</td>
        <td style="text-align: center">@li.NumUnits</td>
        <td>@li.Currency.name</td>
        <td style="text-align: right">@li.Amount.ToString("N2")</td>
    </tr>
}
    <tr>
        <td colspan="2" style="font-weight: bold; text-align: right">TOTAL:</td>
        <td>@invoice.CurrencyName</td>
        <td>@invoice.Total.ToString("N2")</td>
    </tr>
</table>

<br />
<b>Comments:</b><br />

@Html.DisplayWithBreaksFor(m => m.LatestNoteString)
