@model InvoicesSummary
@{
    var incompleteInvoices = Model.Invoices(false).OrderBy(i => i.Advertiser.name).ThenBy(i => i.DateRequested);
    var completeInvoices = Model.Invoices(true).OrderBy(i => i.Advertiser.name).ThenBy(i => i.DateRequested);
}

<h2>Invoice Requests</h2>

Accounting Period:
@Html.Partial("ChooseMonth", (SelectList)ViewBag.ChooseMonthSelectList)
<br />

Go to:
@Html.ActionLink("Campaign Summary", "Index", "Workflow") |
@Html.ActionLink("Invoice Requestor", "Start")
<br /><br />

@if (incompleteInvoices.Count() > 0)
{
    @Html.Partial("Index", incompleteInvoices)
    <br /><br />
}

@if (completeInvoices.Count() > 0)
{
    @Html.Partial("Index", completeInvoices)
}