@model ClientPortal.Web.Models.SearchVM

<style type="text/css">
    .client_logo {
        background-image: url("/Prog/Home/Logo");
    }
    /*.k-numeric-wrap .k-input {
        height: 1.65em;
        line-height: 1.65em;
    }*/
</style>
<div id="client_bar">
	<div id="container">
		<div class="client_logo"></div>
        <div class="client_name">@Model.SearchProfile.SearchProfileName</div>
        <div class="page_title">Weekly Summary</div>
    </div>
</div>

<div id="page_content">
    <div id="container">
        <div id="page_content">

<section>
    <div class="show-export">
    <div class="show">
        Show: <input id="numweeksInput" value="8" /> weeks
        <a class="button paddedbutton" href="#" onclick="RefreshGrid('weeksum'); return false">Refresh</a>
    </div>
    <div class="export"><a class="button paddedbutton" href="#" onclick="ExportWeekSumCSV(); return false">Export CSV</a></div>
    </div>
    <div class="heading"><p>Weekly Summary</p></div>
    <div id="weeksumGrid"></div>
</section>

<div class="section-block-left">
    <section>
        <div class="heading"><p id="weekleftChartHeader"></p></div>
        <div id="weekleftChartSection" class="content_box2">
            <div class="chart-wrapper">
                <div id="weekleftChart"></div>
            </div>
        </div>
    </section>
</div>

<div class="section-block-right">
    <section>
        <div class="heading"><p id="weekrightChartHeader"></p></div>
        <div id="weekrightChartSection" class="content_box2">
            <div class="chart-wrapper">
                <div id="weekrightChart"></div>
            </div>
        </div>
    </section>
</div>

        </div>
    </div>
</div>

@section scripts {
<script src="~/Scripts/search_grids_charts.js"></script>
@Html.Partial("_DateFuncs", Model.Dates)

<script>
    $(function () {
        cultureGlobal = '@Model.UserInfo.Culture';
        $('#numweeksInput').kendoNumericTextBox({
            decimals: 0,
            format: 'n0',
            min: 1
        });
        $('#numweeksInput').data('kendoNumericTextBox').wrapper.width(65);
        SetupGridAndCharts();
        $(window).bind('resize', WindowResize);
    });

    function WindowResize() {
        ResizeChart('weekleft', true);
        ResizeChart('weekright', true);
    }

    function SetupGridAndCharts() {
        var weeksumDS = CreateSummaryDataSource(
            '@Url.Action("WeekSumData", "SearchReports")',
            function () {
                return { numweeks: $('#numweeksInput').val() };
            },
            false, //don't group
            'nosort',
            0); //default page size

    @if (Model.SearchProfile.ShowRevenue) {
        <text>CreateSummaryGrid(weeksumDS, $('#weeksumGrid'), 300, 'Week', 10, 2, true, false, false, DetailInitWrapperWM, @(Model.SearchProfile.ShowViewThrus ? "true" : "false"));</text>
        <text>CreateRevROASChart(weeksumDS, 'weekleftChart', 'Weekly Revenue vs. ROAS Performance');</text>
        <text>CreateOrderCPOChart(weeksumDS, 'weekrightChart', 'Weekly Orders vs. CPO Performance');</text>
    } else {
        <text>CreateSummaryGridLeadGen(weeksumDS, $('#weeksumGrid'), 300, 'Week', 10, 2, true, false, false, DetailInitWrapperWM, @(Model.SearchProfile.ShowViewThrus ? "true" : "false"), @(Model.SearchProfile.ShowCalls ? "true" : "false"));</text>
        <text>CreateCTRCPCChart(weeksumDS, 'weekleftChart', 'Weekly CTR vs. CPC Performance');</text>
        if (Model.SearchProfile.ShowCalls) {
            <text>CreateLeadsCPLChart(weeksumDS, 'weekrightChart', 'Weekly TotalLeads vs. CPL Performance', 'TotalLeads');</text>
        } else {
            <text>CreateLeadsCPLChart(weeksumDS, 'weekrightChart', 'Weekly Leads vs. CPL Performance', 'Leads');</text>
        }
    }
        weeksumDS.read();
    }

    function DetailInitWrapperWM(e) {
        DetailInit(e,
                   '@Url.Action("DeviceData", "SearchReports")',
                   @(Model.SearchProfile.ShowRevenue ? "CreateSummaryGrid" : "CreateSummaryGridLeadGen"),
                   @(Model.SearchProfile.ShowViewThrus ? "true" : "false"),
                   @(Model.SearchProfile.ShowCalls ? "true" : "false"),
                   'title',
                   11
                   );
    };

    function ExportWeekSumCSV() {
        window.location.href = '@Url.Action("WeekSumExport", "SearchReports")';
    }
</script>
}