@model ClientPortal.Data.Contexts.Creative
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmCreativesTab");

    bool inWizard = ViewBag.InWizard ?? false;
    string parentSel = inWizard ? "#cpmDropsTab" : "#cpmCreativesTab";
    string setupFunc = "SetupCreativeThumbnailUploadEl" + (inWizard ? "_wiz" : "");
    string onUploadFunc = "onUploadCreativeThumbnailComplete" + (inWizard ? "_wiz" : "");
}

@if (!inWizard)
{
    <h3>@(Model.Thumbnail == null ? "Add Thumbnail" : "View/Edit Thumbnail")</h3>
}
<div id="divEditCreativeThumbnail">
    @Html.Partial("../Creatives/EditThumbnailInner", Model)
</div>

@if (!inWizard)
{
    <div>
        @Ajax.ActionLink("Back to Creatives List", "Index", "Creatives", new { offerid = Model.OfferId }, ajaxOptions)
    </div>
}

<script>
    $(function () {
        @(setupFunc)();
    });

    function @(setupFunc)() {
        $("@parentSel #creativeThumbnailUpload").kendoUpload({
            async: {
                saveUrl: "@Url.Action("UploadThumbnail", "Creatives")",
                autoUpload: false
            },
            upload: function(e) {
                e.data = { id: @Model.CreativeId };
            },
            localization: {
                select: "Select File...",
                uploadSelectedFiles: "Upload"
            },
            multiple: false,
            complete: @onUploadFunc
        });
    }

    function @(onUploadFunc)() {
        $.ajax({
            url: '@Url.Action("EditThumbnail", "Creatives")',
            data: {
                id: @Model.CreativeId,
                inner: true
            },
            cache: false
        }).done(function (html) {
            $("@parentSel #divEditCreativeThumbnail").html(html);
            @(setupFunc)();
        });
    }
</script>
