@model IEnumerable<ClientPortal.Data.Contexts.Creative>
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmCreativesTab");
    var ajaxOpts_ConfirmSynch = RazorHelpers.GetAjaxOptions("cpmCreativesTab", null, "Get", "Synch Creatives?");
    var ajaxOpts_ConfirmOverwrite = RazorHelpers.GetAjaxOptions("cpmCreativesTab", null, "Get", "This will overwrite existing changes. Are you sure?");
    var ajaxOpts_ConfirmDeleteThumb = RazorHelpers.GetAjaxOptions("cpmCreativesTab", null, "Get", "Are you sure you want to delete this thumbnail?");

    ClientPortal.Data.Contexts.Offer offer = (ClientPortal.Data.Contexts.Offer)ViewData["offer"];
    bool showActions = ViewBag.ShowActions ?? true;
    string title = ViewBag.Title ?? "Creatives:";
    DateTime? lastSynch = ViewBag.LastSynch;
}

@if (offer == null)
{
    @title
    if (lastSynch.HasValue){ <i>[Last Synch: @lastSynch.Value.ToString("g")]</i> }
}
else
{
    <text>Offer: </text><b>@offer.DisplayName</b><br />
    if (showActions)
    {
        @Ajax.ActionLink("Synch Creatives", "Synch", "Creatives", new { offerid = offer.OfferId }, ajaxOpts_ConfirmSynch)<text> | </text>
        @Ajax.ActionLink("Synch With Overwrite", "Synch", "Creatives", new { offerid = offer.OfferId, overwrite = true }, ajaxOpts_ConfirmOverwrite)<text> | </text>
        @Ajax.ActionLink("Refresh", "Index", "Creatives", new { offerid = offer.OfferId }, ajaxOptions)
        <br />
    }
    if (offer.LastSynch_Creatives.HasValue)
    {
        <i>Last Synch: @offer.LastSynch_Creatives</i><br />
    }
}
<table border="1">
    <tr>
        @if (showActions) {
            <th></th>
        }
        <th>Creative Name</th>
        <th>Type</th>
        <th>Created</th>
        <th>Width</th>
        <th>Height</th>
        <th>Files</th>
        @if (showActions) {
            <th>Thumbnail</th>
        }
    </tr>
@foreach (var creative in Model)
{
    <tr>
        @if (showActions) {
            <td>@Ajax.ActionLink("Edit", "Edit", "Creatives", new { id = creative.CreativeId }, ajaxOptions)</td>
        }
        <td>@creative.DisplayName</td>
        <td>@creative.CreativeType.CreativeTypeName</td>
        <td>@creative.DateCreated.ToShortDateString()</td>
        <td>@creative.Width</td>
        <td>@creative.Height</td>
        <td>
            @if (showActions) {
                @Ajax.ActionLink(creative.CreativeFiles.Count.ToString(), "Index", "CreativeFiles", new { creativeid = creative.CreativeId }, ajaxOptions)
            } else {
                @creative.CreativeFiles.Count
            }
        </td>
        @if (showActions) {
            <td>@Ajax.ActionLink((creative.Thumbnail == null ? "Add" : "View/Edit"), "EditThumbnail", "Creatives", new { id = creative.CreativeId }, ajaxOptions)
            @if (creative.Thumbnail != null)
            {
                <text> | </text>@Ajax.ActionLink("Delete", "DeleteThumbnail", "Creatives", new { id = creative.CreativeId }, ajaxOpts_ConfirmDeleteThumb)
            }
            </td>
        }
    </tr>
}
</table>
@if (showActions)
{ // don't want to show this in the reports wizard
    <br />
}
