@model IEnumerable<Analyst>
@{
    ViewBag.Title = "Analysts";
}

<h3>@Html.ActionLink("EOM Admin", "Index", "Admin") - Analysts</h3>

Accounting Period:
@Html.Partial("ChooseMonth", (SelectList)ViewBag.ChooseMonthSelectList)
<br />

<table style="border: 1px solid gray; border-spacing: 10px 0">
    <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>CommRate</th>
        <th>Manager</th>
    </tr>
    @foreach (var an in Model)
    {
        <tr>
            <td>@Html.ActionLink("Edit", "Edit", new { id = an.id })</td>
            <td>@an.id</td>
            <td>@an.name</td>
            <td>@an.comm_rate</td>
            <td>@(an.AnalystManager != null ? an.AnalystManager.name : "")</td>
        </tr>
    }
    <tr><td>&nbsp;</td></tr>
</table>
@Html.ActionLink("New Analyst", "NewAnalyst")
<br /><br />
