@model ClientPortal.Data.Contexts.CampaignDrop

<h3>Create Drop</h3>

@using (Ajax.BeginForm(new AjaxOptions { })) //UpdateTargetId =
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Campaign Drop</legend>
        @Html.HiddenFor(m => m.CampaignId)
        <table>
            <tr>
                <td>Campaign</td>
                <td>@Html.DisplayFor(m => m.Campaign.CampaignName)</td>
            </tr>
            <tr>
                <td>Affiliate</td>
                <td>@Html.DisplayFor(m => m.Campaign.Affiliate.AffiliateName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Date)</td>
                <td>@Html.TextBoxFor(m => m.Date, "{0:d}")</td>
            </tr>
            <tr>
                <td>Creative</td>
                <td>@Html.EditorFor(_ => ViewData["Creatives"], "CreativeDropDown", "CreativeId")</td>
            </tr>
        </table>

        <br />
        <input type="submit" value="Create Drop" />
        &nbsp;
        @Html.ActionLink("Cancel", "Show", "Campaigns", new { id = Model.CampaignId }, null)

    </fieldset>
}