@model ClientPortal.Data.Contexts.CampaignDrop
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmDropsTab", null, "Post");
    string from = (string)ViewData["from"];
    bool showHeader = ViewBag.ShowHeader ?? true;
    bool includeCreative = ViewBag.IncludeCreative ?? true;
}

@if (showHeader)
{
    <h3>Create Drop</h3>
}

@using (Ajax.BeginForm(ajaxOptions))
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Campaign Drop</legend>
        @Html.HiddenFor(m => m.CampaignId)
        <table>
            <tr>
                <td>@Html.Label("Campaign")</td>
                <td>@Html.DisplayFor(m => m.Campaign.CampaignName)</td>
            </tr>
            <tr>
                <td>@Html.Label("Affiliate")</td>
                <td>@Html.DisplayFor(m => m.Campaign.Affiliate.AffiliateName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Date)</td>
                <td>@Html.TextBoxFor(m => m.Date, "{0:d}")</td>
            </tr>
            @if (includeCreative)
            {
                var creatives = Model.Campaign.Offer.CreativesByDate();
                <tr>
                    <td>@Html.Label("Creative")</td>
                    <td>@Html.EditorFor(_ => creatives, "CreativeDropDown", "CreativeId")</td>
                </tr>
            }
            <tr>
                <td>@Html.LabelFor(m => m.FromEmail)</td>
                <td>@Html.EditorFor(m => m.FromEmail)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Subject)</td>
                <td>@Html.EditorFor(m => m.Subject)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Cost)</td>
                <td>@Html.EditorFor(m => m.Cost)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Volume)</td>
                <td>@Html.EditorFor(m => m.Volume)</td>
            </tr>
        </table>

        <br />
        <input type="submit" value="Create Drop" />
        @if (!IsAjax)
        {
            <text>&nbsp;</text>
            if (from == "offer") {
                @Html.ActionLink("Cancel", "Show", "Offers", new { id = Model.Campaign.OfferId }, null)
            } else if (from == "campaigns") {
                @Html.ActionLink("Cancel", "Index", "Campaigns", new { offerid = Model.Campaign.OfferId }, null)
            } else {
                @Html.ActionLink("Cancel", "Show", "Campaigns", new { id = Model.CampaignId }, null)
            }
        }
    </fieldset>
}
