@model ClientPortal.Data.Contexts.CampaignDrop

<h3>Drop Details</h3>

Offer: @Model.Campaign.Offer.DisplayName
<br />
Campaign: @Model.Campaign.CampaignName
<br />
Affiliate: @Model.Campaign.Affiliate.AffiliateName (@Model.Campaign.AffiliateId)
<br /><br />

<fieldset>
    <legend>Campaign Drop</legend>
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Date)</td>
            <td>@Html.DisplayFor(m => m.Date, "Date")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Subject)</td>
            <td>@Html.DisplayFor(m => m.Subject)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Cost)</td>
            <td>@Html.DisplayFor(m => m.Cost, "Money")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Volume)</td>
            <td>@Html.DisplayFor(m => m.Volume)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Opens)</td>
            <td>@Html.DisplayFor(m => m.Opens)</td>
        </tr>
    </table>
    @foreach (var creativeStat in Model.CreativeStats)
    {
        //Html.RenderPartial("../CreativeStats/Show", creativeStat);
        <fieldset>
            <legend>Creative</legend>
            <table>
                <tr>
                    <td>@Html.LabelFor(_ => creativeStat.Creative.CreativeName, "Name")</td>
                    <td>@Html.DisplayFor(_ => creativeStat.Creative.DisplayName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(_ => creativeStat.Clicks)</td>
                    <td>@Html.DisplayFor(_ => creativeStat.Clicks)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(_ => creativeStat.Leads)</td>
                    <td>@Html.DisplayFor(_ => creativeStat.Leads)</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ActionLink("Remove from drop", "Delete", "CreativeStats", new { id = creativeStat.CreativeStatId }, new { onclick = "return confirm('Are you sure you want to remove this creative?')" })</td>
                </tr>
            </table>
        </fieldset>
    }
    <br />
    @Html.ActionLink("Edit Drop", "Edit", new { id = Model.CampaignDropId }) |
    @Html.ActionLink("Add Creative to Drop", "Create", "CreativeStats", new { campaigndropid = Model.CampaignDropId }, null) |
    @Html.ActionLink("Synch Creative Stats", "SynchStats", new { id = Model.CampaignDropId }) |
    @Html.ActionLink("Delete Drop", "Delete", "CampaignDrops", new { id = Model.CampaignDropId }, new { onclick = "return confirm('Are you sure you want to delete this drop?')" })
</fieldset>
<br />
Back to:
@Html.ActionLink("Offer", "Show", "Offers", new { id = Model.Campaign.OfferId }, null ) |
@Html.ActionLink("Campaign", "Show", "Campaigns", new { id = Model.CampaignId }, null) |
@Html.ActionLink("Show all drops for Offer " + Model.Campaign.OfferId, "Index", "CampaignDrops", new { offerid = Model.Campaign.OfferId }, null)
