@model ClientPortal.Data.Contexts.CampaignDrop
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmDropsTab");
    var ajaxOpts_Confirm = RazorHelpers.GetAjaxOptions("cpmDropsTab", null, "Get", "Are you sure you want to remove this creative?");
    var ajaxOpts_ConfirmSynch = RazorHelpers.GetAjaxOptions("cpmDropsTab", null, "Get", "This will overwrite existing stats. Are you sure?");
    var ajaxOpts_Creative = RazorHelpers.GetAjaxOptions("cpmCreativesTab", "navCPMCreatives");
}

@if (!IsAjax)
{
    <h3>Drop Details</h3>
}
@*Offer: <b>@Model.Campaign.Offer.DisplayName</b><br />*@
Campaign: <b>@Model.Campaign.CampaignName</b><br />
Affiliate: <b>@Model.Campaign.Affiliate.AffiliateName (@Model.Campaign.AffiliateId)</b><br />

@Ajax.ActionLink("Edit", "Edit", "CampaignDrops", new { id = Model.CampaignDropId }, ajaxOptions) |
@Ajax.ActionLink("Add Creative", "Create", "CreativeStats", new { campaigndropid = Model.CampaignDropId }, ajaxOptions) |
@Ajax.ActionLink("Synch Creative Stats", "SynchStats", new { id = Model.CampaignDropId }, ajaxOpts_ConfirmSynch) |
@Ajax.ActionLink("Refresh", "Show", "CampaignDrops", new { id = Model.CampaignDropId }, ajaxOptions)
<fieldset>
    <legend>Campaign Drop</legend>
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Date)</td>
            <td>@Html.DisplayFor(m => m.Date, "Date")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Subject)</td>
            <td>@Html.DisplayFor(m => m.Subject)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Cost)</td>
            <td>@Html.DisplayFor(m => m.Cost, "Money")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Volume)</td>
            <td>@Html.DisplayFor(m => m.Volume)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Opens)</td>
            <td>@Html.DisplayFor(m => m.Opens)</td>
        </tr>
    </table>
    @foreach (var creativeStat in Model.CreativeStats)
    {
        //Html.RenderPartial("../CreativeStats/Show", creativeStat);
        <fieldset>
            <legend>Creative</legend>
            <table>
                <tr>
                    <td colspan="2">
                        @if (creativeStat.Creative.Thumbnail != null)
                        {
                            <img src="@Url.Action("Thumbnail", "Creatives", new { id = creativeStat.CreativeId })" />
                            @Ajax.ActionLink("View/Edit Thumbnail", "EditThumbnail", "Creatives", new { id = creativeStat.CreativeId }, ajaxOpts_Creative)
                        } else {
                            @Ajax.ActionLink("[Add Thumbnail]", "EditThumbnail", "Creatives", new { id = creativeStat.CreativeId }, ajaxOpts_Creative)
                        }
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(_ => creativeStat.Creative.CreativeName, "Name")</td>
                    <td>@Html.DisplayFor(_ => creativeStat.Creative.DisplayName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(_ => creativeStat.Clicks)</td>
                    <td>@Html.DisplayFor(_ => creativeStat.Clicks)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(_ => creativeStat.Leads)</td>
                    <td>@Html.DisplayFor(_ => creativeStat.Leads)</td>
                </tr>
                <tr>
                    <td colspan="2">@Ajax.ActionLink("Remove from drop", "Delete", "CreativeStats", new { id = creativeStat.CreativeStatId }, ajaxOpts_Confirm)</td>
                </tr>
            </table>
        </fieldset>
    }
</fieldset>
@if (!IsAjax)
{
    <br /><text>Back to:</text>
    @Html.ActionLink("Offer", "Show", "Offers", new { id = Model.Campaign.OfferId }, null )<text> | </text>
    @Html.ActionLink("Campaign", "Show", "Campaigns", new { id = Model.CampaignId }, null)<text> | </text>
    @Html.ActionLink("Show all drops for Offer " + Model.Campaign.OfferId, "Index", "CampaignDrops", new { offerid = Model.Campaign.OfferId }, null)
}
