@model EomToolWeb.WikiSettings

@using (Html.BeginForm("Settings", "Wiki", FormMethod.Post, new { id = "frmWikiSettings" }))
{
<fieldset>
    <p>
        @Html.LabelFor(m => m.ExcludeNotLiveYet)
        @Html.EditorFor(m => m.ExcludeNotLiveYet)
    </p>
    <p>
        @Html.LabelFor(m => m.ExcludePaused)
        @Html.EditorFor(m => m.ExcludePaused)
    </p>
    <p>
        @Html.LabelFor(m => m.ExcludeHidden)
        @Html.EditorFor(m => m.ExcludeHidden)
    </p>
    <p>
        @Html.LabelFor(m => m.ExcludeInactive)
        @Html.EditorFor(m => m.ExcludeInactive)
    </p>
    <p>
        @Html.LabelFor(m => m.ExcludeCPM)
        @Html.EditorFor(m => m.ExcludeCPM)
    </p>
</fieldset>
}
