@model IEnumerable<DirectAgents.Domain.Entities.CPSearch.ClientReport>

<h2>ClientReports</h2>

<table>
    <tr>
        <th>ID</th>
        <th></th>
        <th>Name</th>
        <th>StartDayOfWeek</th>
        <th>ProgCampaign</th>
        <th>SearchProfile</th>
    </tr>
@foreach (var rep in Model)
{
    <tr>
        <td style="text-align:right">@rep.Id</td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = rep.Id })</td>
        <td>@rep.Name</td>
        <td style="text-align:center">@((DayOfWeek)rep.StartDayOfWeek)</td>
        <td style="text-align:center">
@if (rep.ProgCampaign != null)
{
    @Html.ActionLink(rep.ProgCampaign.NameWithAdvertiser, "Show", "Campaigns", new { area = "ProgAdmin", id = rep.ProgCampaignId }, null)
}
        </td>
        <td style="text-align:center">
@if (rep.SearchProfile != null)
{
    @Html.ActionLink(rep.SearchProfile.SearchProfileName, "IndexGauge", "SearchAccounts", new { area = "SearchAdmin", spid = rep.SearchProfileId }, null)
}
        </td>
    </tr>
}
</table>
<br />
@Html.ActionLink("New ClientReport", "CreateNew")