@model IEnumerable<ClientPortal.Web.Areas.Admin.Models.AdvertiserVM>
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("progAdvertisersTab");
}

@Ajax.ActionLink("Refresh", "Advertisers", ajaxOptions)

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Login</th>
    </tr>
@foreach (var advVM in Model)
{
    <tr>
        <td style="text-align:right">@advVM.ProgAdvertiser.Id</td>
        <td>@advVM.ProgAdvertiser.Name</td>
        <td>
            @if (advVM.UserProfiles.Count() > 0) {
                <text>@advVM.Login</text>
                <text> | </text>
                @Ajax.ActionLink("add","CreateUserProfile", new { advId = advVM.ProgAdvertiser.Id }, ajaxOptions)
            } else {
                @Ajax.ActionLink("create", "CreateUserProfile", new { advId = advVM.ProgAdvertiser.Id }, ajaxOptions)
                <text> | </text>
                @Ajax.ActionLink("assign", "AssignUserProfile", new { advId = advVM.ProgAdvertiser.Id }, ajaxOptions)
            }
        </td>
    </tr>
}
</table>
<br />
