@model AffiliateAmountsModel
@{
    //ViewBag.Title?
    var campAffItems = Model.CampAffItems.OrderBy(a => a.AffName).ThenBy(a => a.AdvName)
                                         .ThenBy(a => a.CampName).ThenBy(a => a.UnitType.name).ToList();
    int? lastAffId = -1;
    bool grayRow = false;
    bool unitTypeEditable = true;
}

<h2>Affiliate Amounts</h2>

Accounting Period: <b>@Model.CurrentEomDateString</b><br />

<table style="border: 1px solid gray">
    <tr>
        <th>Affiliate</th>
        <th>Advertiser</th>
        <th>PID</th>
        <th>Campaign</th>
        <th>#Units</th>
        <th>UnitType</th>
        <th colspan="2">Revenue</th>
        <th></th>
        <th colspan="2">Cost</th>
        <th>CampaignStatus</th>
        <th>AccountingStatus</th>
        <th>AdManager</th>
        <th>AcctManager</th>
        <th>MediaBuyer</th>
    </tr>
@for (int i = 0; i < campAffItems.Count; i++)
{
    var ca = campAffItems[i];
    if (ca.AffId != lastAffId)
    {
        lastAffId = ca.AffId;
        grayRow = !grayRow;
    }
    <tr style="@(grayRow ? "background-color:#ddd" : "")">
        <td>@ca.AffName</td>
        <td>@ca.AdvName</td>
        <td style="text-align:center">@ca.Pid</td>
        <td>@ca.CampName</td>
        <td style="text-align:center">@ca.Units</td>
        <td id="tdUnitType@(i)" style="text-align:center">
            @if (unitTypeEditable)
            {
                <a href="#" onclick="EditUnitType(@i, @ca.UnitType.id); return false">@ca.UnitType.name</a>
            } else {
                @ca.UnitType.name
            }
        </td>
        <td>@ca.RevCurr.name</td>
        <td style="text-align: right">@ca.Rev.ToString("N2")</td>
        <td>&nbsp;</td>
        <td>@ca.CostCurr.name</td>
        <td style="text-align:right">@ca.Cost.ToString("N2")</td>
        <td style="text-align:center">@ca.CampaignStatusName</td>
        <td style="text-align:center">@ca.AccountingStatusName</td>
        <td>@ca.AdManagerName</td>
        <td>@ca.AcctManagerName</td>
        <td>@ca.MediaBuyerName</td>
    </tr>
    @Html.Hidden("ids" + i, ca.ItemIdsString)
}
</table>

@section scripts {
<script>
    function EditUnitType(iRow, id) {
        $.get('@Url.Action("UnitTypeDropDown")', {name: 'selectUnitType' + iRow, selected: id}, function (data) {
            $('#tdUnitType' + iRow).html(data + '<br><input type="button" value="Save" onclick="SaveUnitType(' + iRow + ')">');
        });
    }

    function SaveUnitType(iRow) {
        var itemIds = $('#ids' + iRow).val();
        var unitTypeId = $('#selectUnitType' + iRow).val();
        var unitTypeName = $('#selectUnitType' + iRow + ' :selected').text()
        if (confirm('Confirm UnitType change?')) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeUnitType")',
                data: { itemids: itemIds, unittypeid: unitTypeId }
            }).done(function (msg) {
                $('#tdUnitType' + iRow).html('<a href="#" onclick="EditUnitType(' + iRow + ', ' + unitTypeId + '); return false">' + unitTypeName + '</a>');
            });
        }
    }
</script>
}