@model AffiliateAmountsModel
@{
    //ViewBag.Title?
    int? lastGroupId = -1;
    bool grayRow = false;
    bool unitTypeEditable = true;
    int i = 0;
    int thisGroupId;
}

<h2>Affiliate Amounts</h2>

Accounting Period: <b>@Model.CurrentEomDateString</b><br />

<table style="border: 1px solid gray">
    <tr>
        <th>@Html.ActionLink("Advertiser", "AffiliateAmounts", new { sort="advertiser" })</th>
        <th>@Html.ActionLink("PID", "AffiliateAmounts", new { sort="pid" })</th>
        <th>@Html.ActionLink("Campaign", "AffiliateAmounts", new { sort="campaign" })</th>
        <th>@Html.ActionLink("Affiliate", "AffiliateAmounts", new { sort="affiliate" })</th>
        <th>#Units</th>
        <th>UnitType</th>
        <th colspan="2">Revenue</th>
        <th></th>
        <th colspan="2">Cost</th>
        @* finalization status? *@
        @* AM? *@
    </tr>
@foreach (var ca in Model.CampaignAmounts)
{
    thisGroupId = (Model.Sort == "affiliate") ? ca.AffId.Value : ca.Pid;
    if (thisGroupId != lastGroupId)
    {
        lastGroupId = thisGroupId;
        grayRow = !grayRow;
    }
    <tr style="@(grayRow ? "background-color:#ddd" : "")">
        <td>@ca.AdvertiserName</td>
        <td style="text-align:center">@ca.Pid</td>
        <td>@ca.CampaignName</td>
        <td>@ca.AffiliateName</td>
        <td style="text-align:center">@ca.NumUnits</td>
        <td id="tdUnitType@(i)" style="text-align:center">
            @if (unitTypeEditable)
            {
                <a href="#" onclick="EditUnitType(@i, @ca.UnitType.id); return false">@ca.UnitType.name</a>
            } else {
                @ca.UnitType.name
            }
        </td>
        <td>@ca.RevenueCurrency.name</td>
        <td style="text-align: right">@ca.Revenue.ToString("N2")</td>
        <td>&nbsp;</td>
        <td>@ca.CostCurrency.name</td>
        <td style="text-align: right">@ca.Cost.ToString("N2")</td>
    </tr>
    @Html.Hidden("ids" + i, ca.ItemIdsString)
    i++;
}
</table>

<script>
    function EditUnitType(iRow, id) {
        $.get('@Url.Action("UnitTypeDropDown")', {name: 'selectUnitType' + iRow, selected: id}, function (data) {
            $('#tdUnitType' + iRow).html(data + '<br><input type="button" value="Save" onclick="SaveUnitType(' + iRow + ')">');
        });
    }

    function SaveUnitType(iRow) {
        var itemIds = $('#ids' + iRow).val();
        var unitTypeId = $('#selectUnitType' + iRow).val();
        var unitTypeName = $('#selectUnitType' + iRow + ' :selected').text()
        if (confirm('Confirm UnitType change?')) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeUnitType")',
                data: { itemids: itemIds, unittypeid: unitTypeId }
            }).done(function (msg) {
                $('#tdUnitType' + iRow).html('<a href="#" onclick="EditUnitType(' + iRow + ', ' + unitTypeId + '); return false">' + unitTypeName + '</a>');
            });
        }
    }
</script>