@model AffiliateCampaignAmountsModel
@{
    //ViewBag.Title?
    var campaignAmounts = Model.CampaignAmounts.OrderBy(a => a.AffiliateName).ThenBy(a => a.AdvertiserName)
                                                .ThenBy(a => a.CampaignName).ThenBy(a => a.UnitType.name).ToList();
    int? lastAffId = -1;
    bool grayRow = false;
    bool unitTypeEditable = true;
}

<h2>Affiliate Amounts</h2>

Accounting Period: <b>@Model.CurrentEomDateString</b><br />

<table style="border: 1px solid gray">
    <tr>
        <th>Affiliate</th>
        <th>Advertiser</th>
        <th>PID</th>
        <th>Campaign</th>
        <th>#Units</th>
        <th>UnitType</th>
        <th colspan="2">Revenue</th>
        <th></th>
        <th colspan="2">Cost</th>
        @* finalization status? *@
        @* AM? *@
    </tr>
@for (int i = 0; i < campaignAmounts.Count; i++)
{
    var ca = campaignAmounts[i];
    if (ca.AffId != lastAffId)
    {
        lastAffId = ca.AffId;
        grayRow = !grayRow;
    }
    <tr style="@(grayRow ? "background-color:#ddd" : "")">
        <td>@ca.AffiliateName</td>
        <td>@ca.AdvertiserName</td>
        <td style="text-align:center">@ca.Pid</td>
        <td>@ca.CampaignName</td>
        <td style="text-align:center">@ca.NumUnits</td>
        <td id="tdUnitType@(i)" style="text-align:center">
            @if (unitTypeEditable)
            {
                <a href="#" onclick="EditUnitType(@i, @ca.UnitType.id); return false">@ca.UnitType.name</a>
            } else {
                @ca.UnitType.name
            }
        </td>
        <td>@ca.RevenueCurrency.name</td>
        <td style="text-align: right">@ca.Revenue.ToString("N2")</td>
        <td>&nbsp;</td>
        <td>@ca.CostCurrency.name</td>
        <td style="text-align: right">@ca.Cost.ToString("N2")</td>
    </tr>
    @Html.Hidden("ids" + i, ca.ItemIdsString)
}
</table>

<script>
    function EditUnitType(iRow, id) {
        $.get('@Url.Action("UnitTypeDropDown")', {name: 'selectUnitType' + iRow, selected: id}, function (data) {
            $('#tdUnitType' + iRow).html(data + '<br><input type="button" value="Save" onclick="SaveUnitType(' + iRow + ')">');
        });
    }

    function SaveUnitType(iRow) {
        var itemIds = $('#ids' + iRow).val();
        var unitTypeId = $('#selectUnitType' + iRow).val();
        var unitTypeName = $('#selectUnitType' + iRow + ' :selected').text()
        if (confirm('Confirm UnitType change?')) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangeUnitType")',
                data: { itemids: itemIds, unittypeid: unitTypeId }
            }).done(function (msg) {
                $('#tdUnitType' + iRow).html('<a href="#" onclick="EditUnitType(' + iRow + ', ' + unitTypeId + '); return false">' + unitTypeName + '</a>');
            });
        }
    }
</script>