@model ClientPortal.Web.Models.DashboardModel
@{
    string firstCreateChartCall = null;
    var now = DateTime.Now;
    var firstOfMonthDT = new DateTime(now.Year, now.Month, 1);

    var today = now.ToShortDateString();
    var firstOfMonth = firstOfMonthDT.ToShortDateString();
    var firstOfLastMonth = firstOfMonthDT.AddMonths(-1).ToShortDateString();
    var lastOfLastMonth = firstOfMonthDT.AddDays(-1).ToShortDateString();
}

<h3>Dashboard</h3>

<div class="row">
    <div class="six columns">
        <div class="panel">
            <b>Summary Report</b>
            <table>
                <tr>
                    <th></th>
                    <th>Clicks</th>
                    <th>Leads</th>
                    <th>&nbsp;Spend</th>
                </tr>
            @foreach (var summary in Model.AdvertiserSummaries)
            {
                <tr>
                    <td>@summary.Name</td>
                    <td>@String.Format("{0:n0}", summary.Clicks)</td>
                    <td>@String.Format("{0:n0}", summary.Conversions)</td>
                    <td>@summary.RevenueFormatted</td>
                </tr>
            }
            </table>
        </div>
    </div>

    <div class="six columns panel">
        <b>Performance This Month vs. Prior: Leads</b>
        @Html.Partial("PerformanceVis")
    </div>
</div>

<div class="row">
    <div class="six columns">
        <div class="panel">
            <b>Budget</b>
            @Html.Partial("SpendVis")
        </div>
    </div>
    <div class="six columns panel">
        <b>Budget Spent Month to Date</b>
        <div class="chart-wrapper">
            <div id="spendMultiBarChart"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="six columns">
        <div class="panel">
            <h4>Offers / Goals</h4>
        @foreach (var offersum in Model.OfferGoalSummaries)
        {
            <b>@offersum.Offer.OfferName</b><br />
            for (var i=0; i < offersum.Goals.Count; i++)
            {
                var goal = offersum.Goals[i];
                var dataLastMonthToDate = goal.ValueFor(offersum.SummaryLMTD);
                var dataLastMonthTotal = goal.ValueFor(offersum.SummaryLM);
                var dataThisMonthToDate = goal.ValueFor(offersum.SummaryMTD);
                var dataGoal = goal.TargetBasedOn(offersum.SummaryLM);
                var valueFormat = (goal.MetricId == ClientPortal.Web.Models.MetricEnum.Spend ? "C" : "N0");
                var goalString = "Goal: [" + goal.MetricId + ": " + goal.TargetFormattedBasedOn(offersum.SummaryLM) + "]";
                var heading = offersum.Offer.OfferName.Replace("'", "");
                var createChartCall = "CreateGoalChart('" +goal.MetricId+ "', [" +dataLastMonthToDate+ "," +dataLastMonthTotal+ "," +dataThisMonthToDate+ "," +dataGoal+ "], '" +valueFormat+ "', '" +goal.Culture+ "', '" +goalString+ "', '" +heading+ "')";
                if (firstCreateChartCall == null) { firstCreateChartCall = createChartCall; }

                @goalString
                <a href="#" onclick="@createChartCall; return false">chart</a>
                <br />
            }
            <table>
                <tr>
                    <th></th>
                    <th>Clicks</th>
                    <th>Leads</th>
                    <th>Spend</th>
                </tr>
            @foreach (var rangesum in offersum.DateRangeSummaries)
            {
                <tr>
                    <td>@rangesum.Name</td>
                    <td>@String.Format("{0:n0}", rangesum.Clicks)</td>
                    <td>@String.Format("{0:n0}", rangesum.Conversions)</td>
                    <td>@rangesum.RevenueFormatted</td>
                </tr>
            }
            </table>
        }
        </div>
    </div>

    <div class="panel six columns">
    @if (Model.OfferGoalSummaries.Count > 0)
    {
        @Html.Partial("GoalVis")
    }
    </div>
</div>

<script>
    $(function () {
        @Html.Raw(firstCreateChartCall);
        CreatePerformanceChart([@Model.SummaryLM.Conversions, @Model.SummaryMTD.Conversions], 'N0', '@Model.Culture', 180)
        CreateSpendChart([@Model.SummaryMTD.Revenue], 'C0', '@Model.Culture', 'MTD Spend', 75);

        var spendDS = CreateDailySpendDataSource('@Url.Action("DailySummaryData", "Reports")', '@firstOfMonth', '@today');
//        var spendDS = CreateDailySpendDataSource('@Url.Action("DailySummaryData", "Reports")', '@firstOfLastMonth', '@lastOfLastMonth');
        CreateSpendLineChart(spendDS, 'Daily Spend', 125);
        CreateSpendMultiBarChart('spendMultiBarChart', spendDS, 200);
        spendDS.read();
    });
</script>