@model ClientPortal.Web.Models.DashboardModel

<!-- Timeframe -->
<div class="row">
    <div class="twelve columns" style="top: -35px; height: 15px">
        <span>Timeframe:</span>
        <select style="width: 125px" id="dash_dateRangeSel" onchange="ChangeDashboardDateRange()">
            <option value="wtd">Week to Date</option>
            <option value="mtd" selected="selected">Month to Date</option>
            <option value="ytd">Year to Date</option>
            <option value="lastweek">Last Week</option>
            <option value="lastmonth">Last Month</option>
            <option value="custom">- custom -</option>
        </select>
        <span class="paddedlabel">Start:</span>
        <input id="dash_startdate" name="startdate" type="text" value="@Html.FormatDate(Model.Start, Model.CultureInfo)" onchange="DashboardDateChanged()" />
        <span class="paddedlabel">End:</span>
        <input id="dash_enddate" name="enddate" type="text" value="@Html.FormatDate(Model.End, Model.CultureInfo)" onchange="DashboardDateChanged()" />
        <a class="button paddedbutton" id="dash_filterBtn" href="#" onclick="if($(this).attr('disabled') != 'disabled') RefreshDashboardRange(); return false">Refresh</a>
    </div>
</div>

@helper ChangeVis(double? change, bool showPercent) {
    if (change.HasValue && change != 0) {
        <br />
        <span style="white-space: nowrap">
            <img src="~/Images/arrow_@(change > 0 ? "up" : "down").jpg" />
            @(Math.Abs(change.Value) + (showPercent ? "%" : ""))
        </span>
    }
}

<!-- Row 1 -->
<div class="row">

    <!-- Column 1 -->
    <div class="six columns">
        <div class="panel" id="panelSumRep">
            <b>Summary Report</b>
            <table class="summarytable" style="width: 100%">
                <tr>
                    <th></th>
                    <th>Clicks</th>
                    <th>Leads</th>
                    <th>Rate</th>
                    <th>Spend</th>
                    @if (Model.ShowConVal)
                    {
                        <th>@Model.ConValName</th>
                    }
                </tr>
                @foreach (var summary in Model.AdvertiserSummaries)
                {
                    <tr>
                        <td style="vertical-align: middle"><a href="@summary.Link">@summary.Name</a></td>
                        <td>@String.Format("{0:n0}", summary.Clicks)@ChangeVis(summary.PctChg_Clicks, true)</td>
                        <td>@String.Format("{0:n0}", summary.Conversions)@ChangeVis(summary.PctChg_Conversions, true)</td>
                        <td>@String.Format("{0:n1}", summary.ConversionRate)%@ChangeVis(summary.Chg_ConversionRate, false)</td>
                        <td>@summary.RevenueFormatted@ChangeVis(summary.PctChg_Revenue, true)</td>
                        @if (Model.ShowConVal)
                        {
                            <td>@summary.ConValFormatted(Model.ConValIsNum ? "n0" : "c")@ChangeVis(summary.PctChg_ConVal, true)</td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>

    <!-- Column 2 -->
    <div class="six columns panel" id="panelPerfChart">
        <div id="perfChartOuter">
            <b>Performance</b>
            @Html.Partial("PerformanceVis")
        </div>
    </div>

</div>

<!-- Row 2 -->
<div class="row">

    <!-- Column 1 -->
    <div class="six columns">
        <div class="panel" id="projChartOuter">
            <span><b>Projection</b></span>
            <span id="projNote" style="float: right"></span>
            @Html.Partial("ProjectionVis")
            <span style="float: right">*Based on average # of leads per day</span>
        </div>
    </div>

    <!-- Column 2 -->
    <div class="six columns panel">
        <div class="row">
            <div class="six columns">
                <div id="heatMapOuter">
                    <b>Conversions by State</b>
                    @Html.Partial("_HeatMap")
                </div>
            </div>
            <div class="six columns">
                <div id="topStatesOuter">
                    <b>Top <span id="topNStatesNumLabel" /> States</b>
                    <div id="divTopStates"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Row 3 -->
<div class="row">

    <!-- Column 1 -->
    <div class="six columns">
        <div class="panel" id="spendChartOuter">
            <b>Budget</b>
            @Html.Partial("SpendVis")
        </div>
    </div>

    <!-- Column 2 -->

    <div class="six columns panel">
        <div class="row">
            <div class="six columns">
                <div id="clicksByDeviceOuter">
                    <b>Mobile Clicks</b>
                    @Html.Partial("_ClicksByDevice")
                </div>
            </div>
            <div class="six columns">
                <div id="clicksByDeviceChartOuter">
                    <b>Top Devices</b>
                    <div id="divClicksByDeviceChart"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- clicks by device (todo: properly position in the dash) -->
@*<div class="row">
    <div class="six columns panel">
        
    </div>
</div>*@

<!-- Goal Rows -->
<div id="dashboardGoals">
    @Html.Partial("DashboardGoals", Model.OfferGoalSummaries)
</div>

<script>
    $(function () {
        kendo.culture(cultureGlobal);
        $('#dash_dateRangeSel').kendoDropDownList({ value: '@Model.DateRangeType' });
        $('#dash_startdate').kendoDatePicker({ footer: ' ' });
        $('#dash_enddate').kendoDatePicker({ footer: ' ' });

        CreatePerformanceChart([''], [0], 'N0', 173);

        var projDS = CreateProjectionDataSource('@Html.Raw(Url.Action("DailySummaryData", "Reports", new { cumulative = true, projection = true }))');
        CreateProjectionChart(projDS, 180);
        projDS.read();
        projDS.bind('change', function () {
            var aggs = this.aggregates();
            var projNote = kendo.toString(aggs.Conversions.max, 'n0') + ' Leads projected by ' + aggs.Date.max.toLocaleDateString() + '*';
            $('#projNote').html(projNote);
            UpdateProjectionChart();
        });

        //CreateSpendChart(0, 'C0', cultureGlobal, 'Spend', 75);
        CreateSpendChart(0, 'C0', 'en-US', 'Spend', 75);@* show all in USD for now *@

        var spendDS = CreateDailySpendDataSource('@Url.Action("DailySummaryData", "Reports")');
        CreateSpendLineChart(spendDS, 'Daily Spend', 125);
        spendDS.read();
        spendDS.bind('change', function () {
            var aggs = this.aggregates();
            if ($('#dash_dateRangeSel').val() == 'mtd')
                UpdatePerformanceChartValues(['Last Month', 'MTD', 'Projection'], [@Model.SummaryLM.Conversions, aggs.Conversions.sum, Projection(aggs.Conversions.sum)]);
            else
                UpdatePerformanceChartValues([$('#dash_startdate').val() + ' - ' + $('#dash_enddate').val()], [aggs.Conversions.sum]);
            UpdateSpendChart(aggs.Revenue.sum);
            UpdateSpendLineChart();
        });

        DrawHeatMap();
        FillClicksByDevice();

        CreateGoalCharts(); @* //defined in DashboardGoals *@
        ResizeDashboardPanelHeights();
    });

    function Projection(value) {
        var date = new Date();
        var numDays = date.getDate(); // # days gone by
        var daysInMonth = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate();
        return daysInMonth * value / numDays;
    }

    function RefreshDashboardRange() {
        $.get('@Url.Action("SetDashboardDateRange", "Home")', { type: $('#dash_dateRangeSel').val(), startdate: $('#dash_startdate').val(), enddate: $('#dash_enddate').val() });
        $('#spendLineChart').data('kendoChart').dataSource.read();
        $('#projChart').data('kendoChart').dataSource.read();
        DrawHeatMap();
        UpdateClicksByDevice();
    }

    function DashboardDateChanged() {
        $('#dash_dateRangeSel').data('kendoDropDownList').value('custom');
    }
    function ChangeDashboardDateRange() {
        var startId = '#dash_startdate';
        var endId = '#dash_enddate';
        var refresh = true;
        var dateRange = $('#dash_dateRangeSel').val();
        switch (dateRange) {
            case "wtd":
                $(startId).val('@Model.Dates.FirstOfWeek');
                $(endId).val('@Model.Dates.Latest');
                break;
            case "mtd":
                $(startId).val('@Model.Dates.FirstOfMonth');
                $(endId).val('@Model.Dates.Latest');
                break;
            case "ytd":
                $(startId).val('@Model.Dates.FirstOfYear');
                $(endId).val('@Model.Dates.Latest');
                break;
            case "lastweek":
                $(startId).val('@Model.Dates.FirstOfLastWeek');
                $(endId).val('@Model.Dates.LastOfLastWeek');
                break;
            case "lastmonth":
                $(startId).val('@Model.Dates.FirstOfLastMonth');
                $(endId).val('@Model.Dates.LastOfLastMonth');
                break;
            default:
                refresh = false;
        }
        if (refresh) {
            RefreshDashboardRange();
        }
    }

    function ResizeDashboardCharts() {
        ResizeDashboardChart('proj', true);
        ResizeDashboardChart('perf', true);
        ResizeDashboardChart('spend', true);
        @foreach (var offersum in Model.OfferGoalSummaries)
        {
            <text>ResizeDashboardChart('goal@(offersum.Id)', true);</text>
        }
        ResizeDashboardPanelHeights();
    }

    function ResizeDashboardChart(chart, refresh) {
        if ($('#' + chart + 'ChartOuter').length > 0) {
            var w = $('#' + chart + 'ChartOuter').width();
            if (w > 0) {
                $('#' + chart + 'ChartOuter .chart-wrapper').css('width', w);
                if (refresh) {
                    $('#' + chart + 'Chart').data('kendoChart').refresh();
                    if (chart == 'spend')
                        $('#' + chart + 'LineChart').data('kendoChart').refresh();
                }
            }
        }
    }

    function ResizeDashboardPanelHeights() {
        ResizePanelHeights('panelSumRep', 'panelPerfChart');
        @foreach (var offersum in Model.OfferGoalSummaries)
        {
            <text>ResizeOfferGoalsRow('@(offersum.Id)');</text>
        }
    }

    function ResizeOfferGoalsRow(offersumId) {
        ResizePanelHeights('goal' + offersumId + 'SumPanel', 'goal' + offersumId + 'ChartOuter');
    }
    function ResizePanelHeights(panel1Id, panel2Id) {
        var panel1Height = $('#' + panel1Id).height();
        var panel2Height = $('#' + panel2Id).height();
        if (panel1Height > panel2Height) {
            $('#' + panel2Id).height(panel1Height);
        } else if (panel2Height > panel1Height) {
            $('#' + panel2Id).height('auto');
        }
    }

    function CreateMonthlyGoalChart(values, chartid, metric, valueFormat, culture, heading, subheading) {
        var categories = ['Last MTD', 'Last Month', 'MTD', 'Goal'];
        CreateGoalChart(categories, values, chartid, metric, valueFormat, culture, heading, subheading);
    }
    function CreateGoalChart(categories, values, chartid, metric, valueFormat, culture, heading, subheading) {
        $('#goal' + chartid + 'ChartHeading').html('<b>' + heading + '</b> ' + subheading);
        //kendo.culture(culture);@* show all in USD for now; note: having different cultures for different offers (goals) might not work, it might have to be the same for the whole page *@
        $('#goal' + chartid + 'Chart').kendoChart({
            chartArea: {
                height: 186
            },
            legend: {
                visible: false
            },
            seriesDefaults: {
                type: "column"
            },
            series: [{
                name: metric,
                data: values
            }],
            valueAxis: {
                labels: { format: valueFormat, step: 2 },
                title: { text: metric }
            },
            categoryAxis: {
                categories: categories
            },
            tooltip: {
                visible: true,
                format: valueFormat
            }
        });
    }
</script>
