@model ClientPortal.Web.Models.OfferGoalSummary
@{
    var goal = Model.Goals[0];
    var dataGoal = goal.TargetBasedOn(Model.SummaryLM);
    var dataLastMonth = goal.ValueFor(Model.SummaryLM);
    var dataThisMonth = goal.ValueFor(Model.SummaryMTD);
    var goalString = "Goal: [" + goal.MetricId + ": " + goal.TargetFormattedBasedOn(Model.SummaryLM) + "]";
}

<div id="goalChartHeading"></div>

<div class="chart-wrapper">
    <div id="goalChart"></div>
</div>

<script>
    function CreateChart(metric, values, valueFormat, culture, goalString, heading) {
        $('#goalChartHeading').html(heading);
        kendo.culture(culture);
        $("#goalChart").kendoChart({
            title: {
                text: goalString
            },
            legend: {
                visible: false
            },
            seriesDefaults: {
                type: "column"
            },
            series: [{
                name: metric,
                data: values
            }],
            valueAxis: {
                labels: { format: valueFormat }
            },
            categoryAxis: {
                categories: ["Last Month", "This Month to-date", "Goal"]
            },
            tooltip: {
                visible: true,
                format: valueFormat
            }
        });
    }

    $(function () {
        var metric = "@goal.MetricId";
        var values = [@dataLastMonth, @dataThisMonth, @dataGoal];
        var valueFormat = "@(goal.MetricId == ClientPortal.Web.Models.MetricEnum.Spend ? "C" : "N0")";
        var culture = "@Model.Culture"; // e.g. "de-DE";
        var goalString = "@goalString";
        var heading = "@Model.Offer.OfferName.Replace("'", "")";
        CreateChart(metric, values, valueFormat, culture, goalString, heading);
    });
</script>
