@model ClientPortal.Web.Models.IndexModel
@{
    ViewBag.IncludeGoogleVis = true;
}

@*<!--+---------+
      | Top Bar |
      +---------+-->*@
<div class="row fullWidth">
    <div class="large-5 columns toplogo">
        <img src="~/Images/logo1a.png" />
    </div>
    <div class="large-2 columns topinfo">
        @Html.Partial("_HelloPartial", Model.HasLogo)
    </div>
    <div class="large-5 columns logout">
        <div style="float: right">
            @Html.Partial("_LoginPartial", Model.HasLogo)
        </div>
    </div>
</div>
<!-- /TopBar -->

@*<!--+--------------------------------------+
      | Gray Band/HTabs Background/Container | 
      +--------------------------------------+-->*@
<div class="row fullWidth">
    <div class="grayband">
    </div>
</div>
<!-- /GrayBandForHTabs -->

@*<!--+--------------+
      | Main Content |
      +--------------+-->*@
<div class="row fullWidth" id="main">

    @*<!--+---------+
          | Sidebar |
          +---------+-->*@
    <div class="portaltabs-v">

        @*<!--+---------------+
              | Vertical Tabs |
              +---------------+-->*@
        <dl class="vertical tabs" data-tab>
            <dd class="active"><a href="#dashboardTab" id="vertNav_Dashboard">Dashboard</a></dd>
            <dd><a href="#vertical2Tab" id="vertNav_Reports">Reports</a></dd>
            <dd><a href="#vertical3Tab" data-bind="click: loadMyAccount">My Account</a></dd>
            @*<dd><a href="#vertical4Tab" id="vertNav_Notifications">Notifications</a></dd>*@
            <dd style="margin-top: 20px">
@Html.Partial("_MainContacts")
            </dd>
        </dl>
        <!-- /VTabs -->

    </div>
    <!-- /Sidebar -->

    @*<!--+---------------+
          | VTabs Content |
          +---------------+-->*@
    <ul class="tabs-content">

        @*<!--+-----------
              | Dashboard VTab
              +------------->*@
        <li id="dashboardTab" class="content active">
        </li>
        <!-- /DashboardVTabContent   -->

        @*<!--+----------
              | Reports VTab
              +------------>*@
        <li id="vertical2Tab" class="content">
            <div class="portaltabs-h">

                @*<!--+----------------+
                      | Reports HTabs  |
                      +----------------+-->*@
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#repOffSumTab" id="repNav_OffSum">Offer Summary</a></dd>
                    <dd><a href="#repDaySumTab" id="repNav_DaySum">Daily Summary</a></dd>
                    <dd><a href="#repConversionsTab" id="repNav_Conversions">Conversion Report</a></dd>
                    @if (Model.ShowCPMRep)
                    {
                        <dd><a href="#repCPMTab" id="repNav_CPM">CPM</a></dd>
                    }
                    <dd><a href="#repAffTab" id="repNav_Aff">Affiliates</a></dd>
                </dl>
                <!-- /ReportsHTabs  -->

                @*<!--+------------------------+
                      | Reports HTabs Content  |
                      +------------------------+-->*@
                <div class="tabs-content">
                    <div id="repOffSumTab" class="content active">
                        <div id="offsumNotLoaded"></div>
                    </div>
                    <div id="repDaySumTab" class="content"></div>
                    <div id="repConversionsTab" class="content"></div>
                    @if (Model.ShowCPMRep)
                    {
                        <div id="repCPMTab" class="content"></div>
                    }
                    <div id="repAffTab" class="content"></div>
                </div>
                <!-- /ReportsContent  -->

            </div>
        </li>
        <!-- /Reports   -->

        @*<!--+------------
              | My Account VTab
              +-------------->*@
        <li id="vertical3Tab" class="content">
            <div class="portaltabs-h">

                @*<!--+-----------------+
                      | My Account Tabs |
                      +-----------------+-->*@
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#goalsTab" id="navGoals">Goals</a></dd>
                    @*<dd><a href="#filesTab" id="navFiles">Files</a></dd>
                    <dd><a href="#invoicesTab" id="navInvoices">Invoices</a></dd>*@
                    <dd><a href="#contactTab" id="navContact">Contact</a></dd>
                </dl>
                <!-- /MyAccountTabs  -->


                @*<!--+-------------------------+
                      | My Account Tabs Content |
                      +-------------------------+-->*@
                <div class="tabs-content">
                    <div id="goalsTab" class="content active">
                        <div id="divGoals"></div>
                    </div>
                    <div id="filesTab" class="content">
                        <div id="divFiles"></div>
                    </div>
                    <div id="invoicesTab" class="content">
                        <div id="divInvoices"></div>
                    </div>
                    <div id="contactTab" class="content">
                        <div id="divContact"></div>
                    </div>
                </div>
                <!-- /MyAccountContent  -->

            </div>
        </li>
        <!-- /MyAccount   -->

        @*<!--+--------------
              | Notifications VTab
              +-------------- -->*@
        <li id="vertical4Tab" class="content">
            <h3>Notifications</h3>
        </li>
        <!-- /Notifications  -->

    </ul>
    <!-- /VTabs Content -->

</div>
<!-- /MainContent -->

@*<!--+---------------------+
      | Footer / Bottom Bar |
      +---------------------+-->*@
<footer class="row fullWidth">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-6 columns">
                <p>&copy; 2016 Direct Agents</p>
            </div>
            <div class="large-6 columns">
            </div>
        </div>
    </div>
</footer>
<!-- /BottomBar  -->

@Html.Partial("~/Views/Goals/_Infrastructure.cshtml")

@section head {
    <link href="~/Content/kendo/2015.1.408/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2015.1.408/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2015.1.408/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2015.1.408/kendo.dataviz.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/kendo/2015.1.408/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2015.1.408/cultures/kendo.culture.de-DE.min.js"></script>
    <script src="~/Scripts/kendo/2015.1.408/cultures/kendo.culture.en-GB.min.js"></script>
    <script src="~/Scripts/kendo/2015.1.408/cultures/kendo.culture.en-AU.min.js"></script>
    @Html.Partial("_DateFuncs", Model.Dates)
    <script>

        // ready function
        $(function () {
            cultureGlobal = '@Model.Culture';
            LoadMainContacts();
            LoadDashboard();
            SetupTabs();
            SetupGoalWindow();
            $(window).bind('resize', WindowResize);
        });

        function jumpToOffSumRep(timeFrame) {
            $('#vertNav_Reports').trigger('click');
            $('#repNav_OffSum').trigger('click');
            @* todo: set timeframe *@
        }

        function WindowResize() {
            ResizeDashboardCharts();
            ResizeChart('offsum', true);
            ResizeChart('daysum', true);
            ResizeChart('conrep', true);
        }

        // Resize a chart, optionally refreshing it.
        function ResizeChart(chart, refresh) {
            var offset = 0;
            if (chart == 'daysum') offset = 225;

            if ($('#' + chart + 'ChartSection').length > 0) {
                var w = $('#' + chart + 'ChartSection').width();
                if (w > 0) {
                    $('#' + chart + 'ChartSection .chart-wrapper').css('width', w - offset);
                    if (refresh)
                        $('#' + chart + 'Chart').data('kendoChart').refresh();
                }
            }
        }

        function LoadDashboard() {
            $.ajax({
                url: '@Url.Action("Dashboard")',
                cache: false
            }).done(function (html) {
                $("#dashboardTab").html(html);
            });
        }

        function OffSumClick() {
            if ($('#offsumChart').length == 0) {
                $.ajax({
                    url: '@Url.Action("OfferSummaryPartial", "Reports")',
                    cache: false
                }).done(function (html) {
                    $("#repOffSumTab").html(html);
                    ResizeChart('offsum', false);
                    SetupOfferSummaryGrid();
                });
            } else {
                setTimeout(function () { ResizeChart('offsum', true); }, 100);
            }
        }

        // Setup kendo view model with click behaviors for tabs..
        var viewModel = kendo.observable({
            loadMyAccount: function () {
                $.ajax({
                    url: '@Url.Action("Index", "Goals")',
                    cache: false
                }).done(function (html) {
                    $("#divGoals").html(html);
                });
            }
        });
        kendo.bind($("#main"), viewModel);

        // Setup event handlers so that AJAX content loads on demand as tabs are clicked.
        function SetupTabs() {

            // Dashboard
            $("#vertNav_Dashboard").click(function () {
                LoadDashboard();
            });
@*
            // Files
            $("#navFiles").one("click", function () {
                $.ajax({
                    url: '@Url.Action("Index", "Files")',
                    cache: false
                }).done(function (html) {
                    $("#divFiles").html(html);
                });
            });

            // Invoices
            $("#navInvoices").click(function () {
                $.ajax({
                    url: '@Url.Action("Index", "Invoices")',
                    cache: false
                }).done(function (html) {
                    $("#divInvoices").html(html);
                });
            });
*@
            // Contacts
            $("#navContact").one("click", function () {
                $("#divContact").html('Loading...');
                $.ajax({
                    url: '@Url.Action("Contact", "Home")',
                    cache: false
                }).done(function (html) {
                    $("#divContact").html(html);
                });
            });

            // Reports
            $("#vertNav_Reports").click(function () {
                if ($('#offsumNotLoaded').length > 0)
                    OffSumClick();
            });

            // Offer Summary
            $("#repNav_OffSum").click(function () {
                OffSumClick();
            });

            // Daily Summary
            $("#repNav_DaySum").click(function () {
                if ($('#daysumChart').length == 0) {
                    $.ajax({
                        url: '@Url.Action("DailySummaryPartial", "Reports")',
                        cache: false
                    }).done(function (html) {
                        $("#repDaySumTab").html(html);
                        ResizeChart('daysum', false);
                        SetupDailySummaryGrid();
                    });
                } else {
                    setTimeout(function () { ResizeChart('daysum', true); }, 100);
                }
            });

            // Conversions
            $("#repNav_Conversions").click(function () {
                if ($('#conrepChart').length == 0) {
                    $.ajax({
                        url: '@Url.Action("ConversionReportPartial", "Reports")',
                        cache: false
                    }).done(function (html) {
                        $("#repConversionsTab").html(html);
                        ResizeChart('conrep', false);
                        SetupConversionReportGrid();
                        SetupConversionReportChart();
                    });
                } else {
                    setTimeout(function () { ResizeChart('conrep', true); }, 100);
                }
            });

            // CPM
            @if (Model.ShowCPMRep)
            {
                @* need this? if ($('#cpmsumGrid').length == 0) ...? *@
            <text>
            $("#repNav_CPM").one("click", function () {
                $.ajax({
                    url: '@Url.Action("CPMSummaryPartial", "Reports")',
                    cache: false
                }).done(function (html) {
                    $("#repCPMTab").html(html);
                    SetupCPMSummaryGrid();
                });
            });
            </text>
            }

            // Affiliates
            $("#repNav_Aff").click(function () {
                if ($('#affrepGrid').length == 0) {
                    $.ajax({
                        url: '@Url.Action("AffiliateReportPartial", "Reports")',
                        cache: false
                    }).done(function (html) {
                        $("#repAffTab").html(html);
                        SetupAffiliateReportGrid();
                    });
                } else {
                    setTimeout(function () { ResizeChart('affrep', true); }, 100);@* note: there's no affrep grid but keep this for future use *@
                }
            });
        } // SetupTabs


        // Returns val as a culture formatted string.
        function FormatCurr(val, culture) {
            //kendo.culture(culture);
            kendo.culture('en-US');@* show all in USD for now *@
            return kendo.toString(val, "c");
        }
        function FormatCurrTemp(val, culture) {@* temporarily used by the aff drilldown on offsum rep, affrep & convrep *@
            kendo.culture(culture);
            return kendo.toString(val, "c");
        }

        function CreateOfferFilter(grid) {
            var offersDS = new kendo.data.DataSource({
                transport: {
                    read: {
                        type: "post",
                        dataType: "json",
                        url: "@Url.Action("Offers", "Reports")",
                    data: function () {
                        return {
                            startdate: '@Model.Dates.OneYearAgo'
                        };
                    }
                }
            }
        });
        $('#' + grid + '_offerFilter').kendoDropDownList({
            autoBind: true,
            optionLabel: "All Offers",
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: offersDS,
            change: function () { RefreshGrid(grid, true); }
        });                                         @* show all in USD for now *@
    }

    </script>
}