@{
    var now = DateTime.Now;
    var sunday = now;
    while (sunday.DayOfWeek != DayOfWeek.Sunday) { sunday = sunday.AddDays(-1); }
    var firstOfMonthDT = new DateTime(now.Year, now.Month, 1);

    var today = now.ToShortDateString();
    var yesterday = now.AddDays(-1).ToShortDateString();
    var firstOfMonth = firstOfMonthDT.ToShortDateString();
    var firstOfYear = new DateTime(now.Year, 1, 1).ToShortDateString();
    var firstOfLastMonth = firstOfMonthDT.AddMonths(-1).ToShortDateString();
    var lastOfLastMonth = firstOfMonthDT.AddDays(-1).ToShortDateString();
    var firstOfWeek = sunday.ToShortDateString();
    var firstOfLastWeek = sunday.AddDays(-7).ToShortDateString();
    var lastOfLastWeek = sunday.AddDays(-1).ToShortDateString();

    var todayMY = now.ToString("MM/yyyy");
    var lastMonthMY = firstOfMonthDT.AddMonths(-1).ToString("MM/yyyy");
    var threeMonthsAgoMY = firstOfMonthDT.AddMonths(-3).ToString("MM/yyyy");
    var firstOfYearMY = new DateTime(now.Year, 1, 1).ToString("MM/yyyy");
}
<div class="row">
    <div class="six columns toplogo">
        <img src="~/Images/logo1.png" />
    </div>
    <div class="three columns topinfo">
        @Html.Partial("_HelloPartial")
    </div>
    <div class="three columns logout">
        <div style="float: right">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="row">
    <div class="twelve columns grayband">
    </div>
</div>
<div class="row">
    <div class="two columns portaltabs-v">
        <dl class="vertical tabs">
            <dd><a href="#vertical1">My Account</a></dd>
            <dd class="active"><a href="#vertical2">Reports</a></dd>
            <dd><a href="#vertical3">Notifications</a></dd>
            <dd><a href="#vertical4">Contacts</a></dd>
        </dl>
    </div>
    <div class="ten columns portaltabs-h">
        <dl class="tabs">
            <dd class="active"><a href="#tab1" id="tab1">Performance</a></dd>
            <dd><a href="#tab2" id="tab2">Offer Summary</a></dd>
            <dd><a href="#tab3" id="tab3">Daily Summary</a></dd>
            <dd><a href="#tab4" id="tab4">Conversion Report</a></dd>
            <dd><a href="#tab5" id="tab5">CPM</a></dd>
        </dl>
        <ul class="tabs-content">
            <li id="tab1Tab" class="active"></li>
            <li id="tab2Tab"></li>
            <li id="tab3Tab"></li>
            <li id="tab4Tab"></li>
            <li id="tab5Tab"></li>
        </ul>
    </div>
</div>
<footer class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="six columns">
                <p>&copy; 2013 Direct Agents</p>
            </div>
            <div class="six columns">
            </div>
        </div>
    </div>
</footer>

@section head {
    <link href="~/Content/kendo/2012.3.1114/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2012.3.1114/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/kendo/2012.3.1114/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2012.3.1114/cultures/kendo.culture.de-DE.min.js"></script>
    <script src="~/Scripts/kendo/2012.3.1114/cultures/kendo.culture.en-GB.min.js"></script>
    <script src="~/Scripts/kendo/2012.3.1114/cultures/kendo.culture.en-AU.min.js"></script>
    <script>
    $(function () {
        SetupTabs();
    });

    function DateChanged(grid) {
        $('#' + grid + '_dateRangeSel').val('custom');
        $('#' + grid + '_filterBtn').attr('disabled', false);
    }

    function ChangeDateRange(grid) {
        var startId = '#' + grid + '_startdate';
        var endId = '#' + grid + '_enddate';
        var refresh = true;
        var dateRange = $('#' + grid + '_dateRangeSel').val();
        switch (dateRange) {
            case "today":
                $(startId).val('@today');
                $(endId).val('@today');
                break;
            case "yesterday":
                $(startId).val('@yesterday');
                $(endId).val('@yesterday');
                break;
            case "wtd":
                $(startId).val('@firstOfWeek');
                $(endId).val('@today');
                break;
            case "mtd":
                $(startId).val('@firstOfMonth');
                $(endId).val('@today');
                break;
            case "ytd":
                $(startId).val('@firstOfYear');
                $(endId).val('@today');
                break;
            case "lastweek":
                $(startId).val('@firstOfLastWeek');
                $(endId).val('@lastOfLastWeek');
                break;
            case "lastmonth":
                $(startId).val('@firstOfLastMonth');
                $(endId).val('@lastOfLastMonth');
                break;
            default:
                refresh = false;
        }
        if (refresh)
            RefreshGrid(grid);
    }
    function ChangeDateRangeMY(grid) {
        var startId = '#' + grid + '_startdate';
        var endId = '#' + grid + '_enddate';
        var refresh = true;
        var dateRange = $('#' + grid + '_dateRangeSel').val();
        switch (dateRange) {
            case "prev3months":
                $(startId).val('@threeMonthsAgoMY');
                $(endId).val('@lastMonthMY');
                break;
            case "lastmonth":
                $(startId).val('@lastMonthMY');
                $(endId).val('@lastMonthMY');
                break;
            case "ytd":
                $(startId).val('@firstOfYearMY');
                $(endId).val('@todayMY');
                break;
            default:
                refresh = false;
        }
        if (refresh)
            RefreshGrid(grid);
    }

    function RefreshGrid(grid) {
        $('#' + grid + 'Grid').data('kendoGrid').dataSource.read();
        $('#' + grid + '_filterBtn').attr('disabled', true);
    }

    function ResizeChart(chart) {
        var w = $('#' + chart + 'ChartSection').width() - 190;
        $('.chart-wrapper').css('width', w);
    }

    function Resize_DailySummaryChart() {
        ResizeChart('daysum');
        $('#daysumChart').data('kendoChart').refresh();
    }

    function SetupTabs() {
        $("#tab2").one("click", function () {
            $.ajax({
                url: '@Url.Action("OfferSummaryPartial")',
                cache: false
            }).done(function (html) {
                $("#tab2Tab").html(html);
                SetupOfferSummaryGrid();
            });
        });
        $("#tab3").one("click", function () {
            $.ajax({
                url: '@Url.Action("DailySummaryPartial")',
                cache: false
            }).done(function (html) {
                $("#tab3Tab").html(html);
                ResizeChart('daysum');
                $(window).bind('resize', Resize_DailySummaryChart);
                SetupDailySummaryGrid();
            });
        });
        $("#tab5").one("click", function () {
            $.ajax({
                url: '@Url.Action("CPMSummaryPartial")',
                cache: false
            }).done(function (html) {
                $("#tab5Tab").html(html);
                SetupCPMSummaryGrid();
            });
        });
    }

    function FormatCurr(val, culture) {
        kendo.culture(culture);
        return kendo.toString(val, "c");
    }

    function SetupOfferSummaryGrid() {
            
        var dataSource = new kendo.data.DataSource({
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            serverAggregates: true,
            pageSize: 20,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("OfferSummaryGrid")',
                    data: function () {
                        return {
                            startdate: $('#offsum_startdate').val(),
                            enddate: $('#offsum_enddate').val()
                        };
                    }
                }
            },
            schema: {
                data: 'data',
                total: 'total',
                aggregates: 'aggregates',
                model: {
                    id: 'OfferId',
                    fields: {
                        Name: { type: 'string' },
                        Format: { type: 'string' },
                        Price: { type: 'number' },
                        Clicks: { type: 'number' },
                        Conversions: { type: 'number' },
                        Revenue: { type: 'number' },
                        //HireDate: { type: 'date' },
                        //Active: { type: 'boolean' }
                    }
                }
            },
            aggregate: [
                { field: "Clicks", aggregate: "sum" },
                { field: "Conversions", aggregate: "sum" },
                { field: "Revenue", aggregate: "sum" }
            ]
        });

        $('#offsumGrid').kendoGrid({
            dataSource: dataSource,
            height: 400,
            columns: [
                { field: 'OfferId', title: 'Id', width: 60, attributes: { style: "text-align: right" } },
                { field: 'Name', title: 'Offer' },
                { field: 'Format', width: 80 },
                { field: 'Price', width: 70, template: '#= FormatCurr(Price, Culture) #', attributes: { style: "text-align: right" } },
                { field: 'Clicks', width: 90, format: '{0:n0}', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'Conversions', title: 'Conv.', width: 70, format: '{0:n0}', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'Revenue', width: 100, template: '#= FormatCurr(Revenue, Culture) #', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                //{ field: 'HireDate', title: 'Hire Date', format: "{0:MM/dd/yyyy}" },
                //{ field: 'Active' }
            ],
            filterable: true,
            sortable: {
                mode: 'multiple'
            },
            pageable: true
        });

        $('#offsum_startdate').kendoDatePicker();
        $('#offsum_enddate').kendoDatePicker();
    }

    function SetupDailySummaryGrid() {
            
        var dataSource = new kendo.data.DataSource({
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            serverAggregates: true,
            pageSize: 62,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("DailySummaryGrid")',
                    data: function () {
                        return {
                            startdate: $('#daysum_startdate').val(),
                            enddate: $('#daysum_enddate').val()
                        };
                    }
                }
            },
            schema: {
                data: 'data',
                total: 'total',
                aggregates: 'aggregates',
                model: {
                    id: 'Id',
                    fields: {
                        Date: { type: 'date' },
                        Impressions: { type: 'number' },
                        Clicks: { type: 'number' },
                        Conversions: { type: 'number' },
                        ConversionPct: { type: 'number' },
                        Revenue: { type: 'number' },
                        EPC: { type: 'number' }
                    }
                }
            },
            aggregate: [
                { field: "Impressions", aggregate: "sum" },
                { field: "Clicks", aggregate: "sum" },
                { field: "Conversions", aggregate: "sum" },
                { field: "ConversionPct", aggregate: "agg" },
                { field: "Revenue", aggregate: "sum" },
                { field: "EPC", aggregate: "agg" }
            ]
        });
        $('#daysumGrid').kendoGrid({
            dataSource: dataSource,
            height: 400,
            columns: [
                { field: 'Date', width: 60, format: '{0:d}' },
                { field: 'Impressions', width: 70, format: '{0:n0}', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'Clicks', width: 90, format: '{0:n0}', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'Conversions', title: 'Conv.', width: 70, format: '{0:n0}', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'ConversionPct', title: 'Conv Pct', width: 90, format: '{0:p}', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(agg, 'p') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'Revenue', width: 100, template: '#= FormatCurr(Revenue, Culture) #', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'EPC', width: 90, template: '#= FormatCurr(EPC, Culture) #', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(agg, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } }
            ],
            filterable: true,
            sortable: {
                mode: 'multiple'
            },
            pageable: true
            //dataBinding: function (e) {
            //    var data = $('#dailySummaryGrid').data("kendoGrid").dataSource.data();
            //    if (data.length > 0)
            //        $('#dailySummaryGrid').data("culture", data[0].Culture); // TODO: include it in the json returned, like "total"
            //    // retrieve with $('#dailySummaryGrid').data("culture");
            //}
        });
        $('#daysum_startdate').kendoDatePicker();
        $('#daysum_enddate').kendoDatePicker();
        setTimeout(function () { CreateDaySumChart(); }, 400);
        $(".configuration").bind("change", RefreshDaySumChart);
    }

    function CreateDaySumChart() {
        var dataSource = $('#daysumGrid').data("kendoGrid").dataSource;

        $("#daysumChart").kendoChart({
            chartArea: {
                height: 300
            },
            theme: $(document).data("kendoSkin") || "default",
            title: {
                text: ""
            },
            dataSource: dataSource,
            series: [
                { type: "line", aggregate: "sum", field: "Clicks", name: "Clicks" },
                { type: "line", aggregate: "sum", field: "Revenue", name: "Revenue", tooltip: { format: "C" } }
            ],
            categoryAxis: {
                baseUnit: "days",
                field: "Date",
                labels: { rotation: -90 }
            },
            valueAxis: {
                labels: { format: "N0" }
            },
            tooltip: {
                visible: true,
                format: "N0"
            }
        });
    }
    
    function RefreshDaySumChart() {
        var chart = $("#daysumChart").data("kendoChart"),
            series = chart.options.series,
            categoryAxis = chart.options.categoryAxis,
            baseUnitInputs = $("input:radio[name=baseUnit]"),
            aggregateInputs = $("input:radio[name=aggregate]");

        for (var i = 0, length = series.length; i < length; i++) {
            series[i].aggregate = aggregateInputs.filter(":checked").val();
        };

        categoryAxis.baseUnit = baseUnitInputs.filter(":checked").val();

        chart.refresh();
    }

    function SetupCPMSummaryGrid() {

        var dataSource = new kendo.data.DataSource({
//            serverPaging: true,
//            serverSorting: true,
            serverFiltering: true,
//            serverAggregates: true,
//            pageSize: 20,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("CPMSummaryGrid")',
                    data: function () {
                        return {
                            startdate: $('#cpmsum_startdate').val(),
                            enddate: $('#cpmsum_enddate').val()
                        };
                    }
                }
            },
            //group: {
            //    field: "Period", aggregates: [
            //        { field: "Revenue", aggregate: "sum" }
            //    ]
            //},
            schema: {
                data: 'data',
                total: 'total',
//                aggregates: 'aggregates',
                model: {
                    id: 'Id',
                    fields: {
                        Period: { type: 'date' },
                        OfferId: { type: 'number' },
                        Offer: { type: 'string' },
                        Revenue: { type: 'number' },
                        AccountingStatusId: { type: 'number' }
                    }
                }
            },
            aggregate: [
                { field: "Revenue", aggregate: "sum" }
            ]
        });

        $('#cpmsumGrid').kendoGrid({
            dataSource: dataSource,
            height: 400,
            columns: [
                {
                    field: 'OfferId', title: 'Id', width: 90, attributes: { style: "text-align: right" }
                },
                {
                    field: 'Offer',
                    groupFooterTemplate: "<b>Group Total.....</b>",
                    footerTemplate: "TOTAL", footerAttributes: { style: "font-weight: bold" }
                },
                {
                    field: 'Period', width: 90, format: '{0:MMM yyyy}', attributes: { style: "text-align: right" },
                },
                {
                    field: 'Revenue', title: 'Spend', width: 110, template: '#= FormatCurr(Revenue, Culture) #', attributes: { style: "text-align: right" },
                    aggregates: ["sum"], groupFooterTemplate: "<b style:'text-align:right'>#= kendo.toString(sum, 'c') #</b>",
                    footerTemplate: "#= kendo.toString(sum, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" }
                },
                {
                    field: 'AccountingStatusId', title: 'Accounting', width: 100, attributes: { style: "text-align: center" }
                }
            ],
            filterable: true,
            sortable: {
                mode: 'multiple'
            },
            groupable: true,
//            pageable: true
        });

        $('#cpmsum_startdate').kendoDatePicker({ start: "year", depth: "year", format: "MM/yyyy" });
        $('#cpmsum_enddate').kendoDatePicker({ start: "year", depth: "year", format: "MM/yyyy" });
    }
    </script>
}