@model ClientPortal.Web.Models.OfferGoalSummary
@{
    bool createGoalChart = ViewBag.CreateGoalChart ?? false;
}

<!-- Left -->
<div class="six columns">
    <div class="panel" style="height: 250px">
        <b>Offer: @Model.Offer.OfferName</b><br />
        @for (var i = 0; i < Model.Goals.Count; i++)
        {
            var goal = Model.Goals[i];
            var dataGoal = goal.TargetBasedOn(Model.SummaryLM);
            var valueFormat = (goal.MetricId == ClientPortal.Web.Models.MetricEnum.Spend ? "C" : "N0");
            var goalString = goal.TargetFormattedBasedOn(Model.SummaryLM);
            //var heading = Model.Offer.OfferName.Replace("'", "");
            string funcPrefix;
            if (goal.IsMonthly)
            {
                var dataLastMonthToDate = goal.ValueFor(Model.SummaryLMTD);
                var dataLastMonthTotal = goal.ValueFor(Model.SummaryLM);
                var dataThisMonthToDate = goal.ValueFor(Model.SummaryMTD);
                funcPrefix = "CreateMonthlyGoalChart([" + dataLastMonthToDate + "," + dataLastMonthTotal + "," + dataThisMonthToDate + "," + dataGoal + "]";
            }
            else
            {
                var dataTimeframe = goal.ValueFor(Model.SummaryCustom);
                funcPrefix = "CreateGoalChart(['" + goal.TimeframeFormatted() + "','Goal'], [" + dataTimeframe + "," + dataGoal + "]";
            }
            goal.CreateGoalChartCall = funcPrefix + ", '" + Model.Id + "', '" + goal.MetricId + "', '" + valueFormat + "', '" + goal.Culture + "', '" + goalString + "');";

            <text>@(@goal.IsMonthly ? "Monthly" : "Custom") Goal: </text>
            <span style="color: darkblue">@goalString</span>
            <a href="#" onclick="@goal.CreateGoalChartCall; return false">show</a>
            <text>|</text>
            <a href="#" onclick="EditGoal(@goal.Id); return false">edit</a>
            <br />
        }
        <table class="summarytable">
            <tr>
                <th></th>
                <th>Clicks</th>
                <th>Leads</th>
                <th>Spend</th>
            </tr>
            @foreach (var rangesum in Model.DateRangeSummaries)
            {
                <tr>
                    <td>@rangesum.Name</td>
                    <td>@String.Format("{0:n0}", rangesum.Clicks)</td>
                    <td>@String.Format("{0:n0}", rangesum.Conversions)</td>
                    <td>@rangesum.RevenueFormatted</td>
                </tr>
            }
        </table>
    </div>
</div>

<!-- Right -->
<div class="panel six columns" id="goal@(Model.Offer.Offer_Id)ChartOuter">
    <div id="goal@(Model.Id)ChartHeading"></div>

    <div class="chart-wrapper">
         <div id="goal@(Model.Id)Chart"></div>
    </div>
</div>

<script>
@if (createGoalChart && Model.Goals.Count > 0)
{
    @Html.Raw(Model.Goals[0].CreateGoalChartCall)
}
</script>
