@model Affiliate
@{
    ViewBag.Title = "Edit Affiliate";
    var statusList = new[] { "", "New", "New1", "New2", "Existing" };
    var paymentOnHoldList = new List<string> { "", "W-9", "Management Discretion", "Previous Periods Open Invoices", "Cashflows", "Finalization Issues", "Banking Information", "Other" };
    if (Model.payment_on_hold != null && !paymentOnHoldList.Contains(Model.payment_on_hold))
    {
        paymentOnHoldList.Add(Model.payment_on_hold);
    }
}

<h3>Edit Affiliate</h3>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Affiliate</legend>
        @Html.HiddenFor(m => m.id)
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.affid, "AffId")</td>
                <td>@Html.DisplayFor(m => m.affid)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.name, "Name")</td>
                <td>@Html.DisplayFor(m => m.name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.status, "Status")</td>
                <td>@Html.DropDownListFor(m => m.status, new SelectList(statusList))</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.margin_exempt, "MarginExempt")</td>
                <td>@Html.EditorFor(m => m.margin_exempt)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.payment_on_hold, "PaymentOnHold")</td>
                <td id="tdPaymentOnHold">@Html.DropDownListFor(m => m.payment_on_hold, new SelectList(paymentOnHoldList))</td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Save" />
    </fieldset>
}

<br />
@Html.ActionLink("Cancel", "Show", new { id = Model.id })

<script>
    $(document).ready(function () {
        $('#payment_on_hold').change(function () {
            if ($(this).val() == "Other")
                $('#tdPaymentOnHold').html('<input type="text" name="payment_on_hold" value="Other">');
        });
    });
</script>