@model Affiliate
@{
    ViewBag.Title = "Show Affiliate";
}

<h3>Show Affiliate</h3>

<fieldset>
    <legend>Affiliate [@Html.ActionLink("Edit", "Edit", new { id = Model.id })]</legend>
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.affid, "AffId")</td>
            <td class="bold">@Html.DisplayFor(m => m.affid)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.name, "Name")</td>
            <td class="bold">@Html.DisplayFor(m => m.name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.status, "Status")</td>
            <td class="bold">@Html.DisplayFor(m => m.status)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.margin_exempt, "MarginExempt")</td>
            <td class="bold">@Model.margin_exempt.ToString()</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.MediaBuyer)</td>
            <td class="bold">@Html.DisplayFor(m => m.MediaBuyer.name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.NetTermType, "NetTerms")</td>
            <td class="bold">@Html.DisplayFor(m => m.NetTermType.name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.AffiliatePaymentMethod, "PaymentMethod")</td>
            <td class="bold">@Html.DisplayFor(m => m.AffiliatePaymentMethod.name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Currency)</td>
            <td class="bold">@Html.DisplayFor(m => m.Currency.name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.payment_on_hold, "PaymentOnHold")</td>
            <td class="bold">@Html.DisplayFor(m => m.payment_on_hold)</td>
        </tr>
    </table>
</fieldset>

<br />
@Html.ActionLink("Back to List", "Index")