@model PayoutsListViewModel

@{
    ViewBag.Title = "Payouts";
}

@Html.ActionLink("PreApproval", "List", new { mode = "preapproval" }) |
@Html.ActionLink("ActionNeeded", "List", new { mode = (string)null }) |
@Html.ActionLink("Held", "List", new { mode = "held" }) |
@Html.ActionLink("Approved", "List", new { mode = "approved" })

<h2>Payouts</h2>

@Html.Partial("PayoutsGrid", Model)