@model PayoutsListViewModel

<table>
    <tr>
        <th>Publisher</th>
        <th>Campaign</th>
        <th>Cost<br />Curr</th>
        <th>Payout</th>
        <th>Actions</th>
        <th>%Margin</th>
        <th>Payment<br />Term</th>
        <th>Pay<br />Curr</th>
        <th>Payout</th>
        <th>Status</th>
        <th>Accting<br />Status</th>
        <th>Approval</th>
        @if (Model.ShowActions)
        {
            <th></th>
        }
        @if (Model.TestMode)
        {
            <th>affid</th>
            <th>pid</th>
            <th>ItemIds</th>
        }
    </tr>
    @foreach (var payout in Model.Payouts)
    {
        <tr>
            <td>@payout.Publisher
            </td>
            <td>@payout.Campaign_Name
            </td>
            <td>@payout.Cost_Currency
            </td>
            <td>@String.Format("{0:N2}", payout.Cost_Unit)
            </td>
            <td>@String.Format("{0:N2}", payout.Units)
            </td>
            <td>@String.Format("{0:N2}", payout.MarginPct)
            </td>
            <td>@payout.Net_Terms
            </td>
            <td>@payout.Pub_Pay_Curr
            </td>
            <td>@String.Format("{0:N2}", payout.Pub_Payout)
            </td>
            <td>@payout.Status
            </td>
            <td>@payout.Accounting_Status
            </td>
            <td>@payout.Media_Buyer_Approval_Status
            </td>
            @if (Model.ShowActions)
            {
                <td id="tdCampActions@(payout.pid)">
                    @if (payout.media_buyer_approval_status_id != MediaBuyerApprovalStatus.Approved)
                    {
                        @Ajax.ActionLink("Approve", "Approve", new { itemids = payout.ItemIds },
                            new AjaxOptions {
                                Url = Url.Action("Approve", new { itemids = payout.ItemIds }),
                                UpdateTargetId = "tdCampActions" + payout.pid
                            });
                    }
                    @if (payout.media_buyer_approval_status_id != MediaBuyerApprovalStatus.Hold)
                    {
                        @Ajax.ActionLink("Hold", "Hold", new { itemids = payout.ItemIds },
                            new AjaxOptions {
                                Url = Url.Action("Hold", new { itemids = payout.ItemIds }),
                                UpdateTargetId = "tdCampActions" + payout.pid
                            });
                    }
                </td>
            }
            @if (Model.TestMode)
            {
                <td>@payout.affid
                </td>
                <td>@payout.pid
                </td>
                <td>@payout.ItemIds
                </td>
            }
        </tr>
    }
</table>
<br />
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
