@model PublisherSummaryViewModel
<table id="tblSummary">
    @foreach (var ps in Model.PublisherSummaries)
    {
        <tr id="pub@(ps.affid)">
            <td>@ps.affid
            </td>
            <td>
                <a href="#" onclick="ShowDetails(@ps.affid); return false;">@ps.PublisherName</a>
            </td>
            <td>@ps.Currency
            </td>
            <td>@String.Format("{0:N2}", ps.PayoutTotal)
            </td>
            <td>@String.Format("{0:N2}%", ps.MinPctMargin) - @String.Format("{0:N2}", ps.MaxPctMargin)%
            </td>
            <td><a href="#" onclick="ShowNotes(@ps.BatchIds); return false;">Notes</a>
            </td>
            @if (Model.ShowActions)
            {
                <td id="tdPubActions@(ps.affid)">
                    <a href="#" onclick="ApprovePub(@ps.affid); return false;">Approve</a> <a href="#" onclick="HoldPub(@ps.affid); return false;">
                        Hold</a>
                </td>
            }
        </tr>
    }
</table>
