@model PublisherSummaryViewModel
@{
    ViewBag.Title = "Publisher Summary";
}
<style type="text/css">
    #summaryOuter
    {
        /*border: 2px dashed Blue;*/
        position: absolute;
        height: 100%;
        width: 100%;
    }
    #summaryGridContainer
    {
        /*border: 1px solid Red;*/
        position: absolute;
        left: 0;
        width: 50%;
    }
    #publisherReportContainer
    {
        border-left: 3px solid Black;
        position: absolute;
        top: 0;
        right: 0;
        height: 50%;
        width: 50%;
        overflow: auto;
    }
    #publisherDetailsContainer
    {
        border-top: 3px solid Black;
        position: absolute;
        bottom: 0;
        height: 50%;
        width: 100%;
    }
</style>
<div id="summaryOuter">
    <div id="summaryGridContainer">
        @Html.ActionLink("PreApproval", "Summary", new { mode = "preapproval" }, new { @class = Model.Mode == "preapproval" ? "selected" : "notselected" })
        |
        @Html.ActionLink("ActionNeeded", "Summary", new { mode = (string)null }, new { @class = string.IsNullOrWhiteSpace(Model.Mode) ? "selected" : "notselected" })
        |
        @Html.ActionLink("Held", "Summary", new { mode = "held" }, new { @class = Model.Mode == "held" ? "selected" : "notselected" })
        |
        @Html.ActionLink("Approved", "Summary", new { mode = "approved" }, new { @class = Model.Mode == "approved" ? "selected" : "notselected" })
        @Html.Partial("SummaryGrid", Model)
    </div>
    <div id="publisherReportContainer">
    </div>
    <div id="publisherDetailsContainer">
    </div>
</div>
<div id="divNotes" title="Add Notes">
    Enter Notes:
    <form id="frmNotes">
    <input id="dlgAction" type="hidden" value="" />
    <input id="dlgAffId" type="hidden" name="affid" value="" />
    <input id="dlgReleasing" type="hidden" name="releasing" value="false" />
    <textarea id="txtNote" style="width: 315px; height: 135px" name="note"></textarea>
    </form>
</div>
<div id="divNotesSummary" title="Notes">
    <div id="divNotesSummaryInner">
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        function ShowDetails(affid) {
            $.get('@Url.Action("Details", new { mode = Model.Mode })?affid=' + affid + '&ts=' + new Date().getTime(), function (content) {
                $('#tblSummary tr').removeClass('highlighted');
                $('#pub' + affid).addClass('highlighted');
                $('#publisherDetailsContainer').html(content);
                $.get('@Url.Action("DetailsJson", new { mode = Model.Mode })?affid=' + affid + '&ts=' + new Date().getTime(), function (data) {
                    RenderGrid(data);
                });
                $.get('@Url.Action("PublisherReport", new { mode = Model.Mode })?affid=' + affid + '&ts=' + new Date().getTime(), function (publisherReportContent) {
                    $('#publisherReportContainer').html(publisherReportContent);
                });
            });
        }
        function ApprovePub(affid, releasing) {
            $('#dlgAction').val("Approve");
            $('#dlgAffId').val(affid);
            $('#dlgReleasing').val(releasing);
            var title = "Approve";
            if (releasing) title = "Release";
            $('#divNotes').dialog("option","title",title).dialog("open");
        }
        function HoldPub(affid) {
            $('#dlgAction').val("Hold");
            $('#dlgAffId').val(affid);
            $('#divNotes').dialog("option","title","Hold").dialog("open");
        }
        function ApproveOrHold() {
            if ($.trim($('#txtNote').val()) == "") {
                alert("Please enter a note.");
                return;
            }
            var affid = $('#dlgAffId').val();
            var url;
            if ($('#dlgAction').val() == "Approve")
                url = '@Url.Action("Approve", "Publishers")';
            else
                url = '@Url.Action("Hold", "Publishers")';
            $.get(url, $('#frmNotes').serialize(), function (data) {
                $('#tdPubActions' + affid).html(data);
                $('#divNotes').dialog("close");
            });
        }
        function ShowNotes(batchids) {
            $.get('@Url.Action("ShowNotes", "Batches")', { batchids: batchids }, function (data) {
                $('#divNotesSummaryInner').html(data);
                $('#divNotesSummary').dialog("open");
            });
        }
        $(function () {
            $("#divNotes").dialog({
                autoOpen: false,
                height: 300,
                width: 350,
                modal: true,
                buttons: {
                    "OK": ApproveOrHold,
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    //allFields.val("").removeClass("ui-state-error");
                }
            });
            $("#divNotesSummary").dialog({
                autoOpen: false,
                height: 500,
                width: 400,
                modal: true
            });
        });
        $(function () {
            $("#publisherSummaryContainer").resizable({
                handles: "s, se",
                helper: "resizing-helper"
            });
        });
    </script>
}
