@model PublisherSummaryViewModel
@{
    ViewBag.Title = "Publisher Summary";
}
@Html.ActionLink("PreApproval", "Summary", new { mode = "preapproval" }, new { @class = Model.Mode == "preapproval" ? "selected" : "notselected" })
|
@Html.ActionLink("ActionNeeded", "Summary", new { mode = (string)null }, new { @class = string.IsNullOrWhiteSpace(Model.Mode) ? "selected" : "notselected" })
|
@Html.ActionLink("Held", "Summary", new { mode = "held" }, new { @class = Model.Mode == "held" ? "selected" : "notselected" })
|
@Html.ActionLink("Approved", "Summary", new { mode = "approved" }, new { @class = Model.Mode == "approved" ? "selected" : "notselected" })

<h2>Publisher Summary</h2>

@Html.Partial("SummaryGrid", Model)

<div id="pubDetails">
</div>
<script type="text/javascript">
    function ShowDetails(affid) {
        $.get('@Url.Action("Details", new { mode = Model.Mode })?affid=' + affid, function (data) {
            $('#tblSummary tr').removeClass('highlighted');
            $('#pub' + affid).addClass('highlighted');
            $('#pubDetails').html(data);
        });
    }
    function ApprovePub(affid) {
        $.get('@Url.Action("Approve", "Publishers")?affid=' + affid, function (data) {
            $('#tdPubActions' + affid).html('(approved)');
        });
    }
    function HoldPub(affid) {
        $.get('@Url.Action("Hold", "Publishers")?affid=' + affid, function (data) {
            $('#tdPubActions' + affid).html('(held)');
        });
    }
</script>
