@model PublisherSummaryViewModel
@{
    ViewBag.Title = "Publisher Summary";
}
@Html.ActionLink("PreApproval", "Summary", new { mode = "preapproval" }, new { @class = Model.Mode == "preapproval" ? "selected" : "notselected" })
|
@Html.ActionLink("ActionNeeded", "Summary", new { mode = (string)null }, new { @class = string.IsNullOrWhiteSpace(Model.Mode) ? "selected" : "notselected" })
|
@Html.ActionLink("Held", "Summary", new { mode = "held" }, new { @class = Model.Mode == "held" ? "selected" : "notselected" })
|
@Html.ActionLink("Approved", "Summary", new { mode = "approved" }, new { @class = Model.Mode == "approved" ? "selected" : "notselected" })
<h2>
    Publisher Summary</h2>
<style type="text/css">
    #publisherSummaryContainer
    {
    }
    #publisherReportContainer
    {
    }
</style>
<table>
    <tr>
        <td>
            <div id="publisherSummaryContainer">
                @Html.Partial("SummaryGrid", Model)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="publisherDetailsContainer">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="publisherReportContainer">
            </div>
        </td>
    </tr>
</table>
<div id="divNotes" title="Add Notes">
    Enter Notes:
    <form id="frmNotes">
    <input id="dlgAffId" type="hidden" name="affid" value="" />
    <input id="dlgAction" type="hidden" value="" />
    <textarea style="width:315px;height:135px" name="note"></textarea>
    </form>
</div>
<div id="divNotesSummary" title="Notes">
    <div id="divNotesSummaryInner"></div>
</div>
@section scripts {
    <script type="text/javascript">
        function ShowDetails(affid) {
            $.get('@Url.Action("Details", new { mode = Model.Mode })?affid=' + affid + '&ts=' + new Date().getTime(), function (content) {
                $('#tblSummary tr').removeClass('highlighted');
                $('#pub' + affid).addClass('highlighted');
                $('#publisherDetailsContainer').html(content);
                $.get('@Url.Action("DetailsJson", new { mode = Model.Mode })?affid=' + affid + '&ts=' + new Date().getTime(), function (data) {
                    RenderGrid(data);
                });
                $.get('@Url.Action("PublisherReport", new { mode = Model.Mode })?affid=' + affid + '&ts=' + new Date().getTime(), function (publisherReportContent) {
                    $('#publisherReportContainer').html(publisherReportContent);
                });
            });
        }
        function ApprovePub(affid) {
            $('#dlgAction').val("Approve");
            $('#dlgAffId').val(affid);
            $('#divNotes').dialog("open");
        }
        function HoldPub(affid) {
            $('#dlgAction').val("Hold");
            $('#dlgAffId').val(affid);
            $('#divNotes').dialog("open");
        }
        function SaveNotes() {
            var affid = $('#dlgAffId').val();
            var url;
            if ($('#dlgAction').val() == "Approve")
                url = '@Url.Action("Approve", "Publishers")';
            else
                url = '@Url.Action("Hold", "Publishers")';
            $.get(url, $('#frmNotes').serialize(), function (data) {
                $('#tdPubActions' + affid).html(data);
                $('#divNotes').dialog("close");
            });
        }
        function ShowNotes(batchids) {
            $.get('@Url.Action("ShowNotes", "Batches")', { batchids: batchids }, function (data) {
                $('#divNotesSummaryInner').html(data);
                $('#divNotesSummary').dialog("open");
            });
        }
        $(function () {
            $("#divNotes").dialog({
                autoOpen: false,
                height: 300,
                width: 350,
                modal: true,
                buttons: {
                    "OK": SaveNotes,
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    //allFields.val("").removeClass("ui-state-error");
                }
            });
            $("#divNotesSummary").dialog({
                autoOpen: false,
                height: 500,
                width: 400,
                modal: true
            });
        });
        $(function () {
            $("#publisherSummaryContainer").resizable({
                handles: "s, se",
                helper: "resizing-helper"
            });
        });
    </script>
}
