@model LTWeb.Models.QuestionVM

@if (Model.Key == "LoanType")
{
            <div id="lenny-first"></div>
    <div id="progressbar" style="display:none"></div>
    
    
}
else if (Model.Key == "PropertyState")
{
            <div id="lenny-second"></div>
    <div id="progressbar-label">Progress:&nbsp;</div>
    
}


else if (Model.Key == "CreditRating"
|| Model.Key == "PropertyType" || Model.Key == "PropertyUse" || Model.Key == "PropertyZip")
{
            <div id="lenny-six"></div>
    <div id="progressbar-label">Progress:&nbsp;</div>
}


else if (Model.Key == "PropertyApproximateValue" || Model.Key == "EstimatedMortgageBalance" || Model.Key == "CashOut")
{
            <div id="lenny-three"></div>
    <div id="progressbar-label">Progress:&nbsp;</div>
}


else if (Model.Key == "MonthlyPayment" || Model.Key == "BankruptcyDischarged" || Model.Key == "ForeclosureDischarged" || Model.Key == "IsVetran")
{
            <div id="lenny-seven"></div>
    <div id="progressbar-label">Progress:&nbsp;</div>
}


else if (Model.Key == "FirstName" || Model.Key == "Address" || Model.Key == "Email" || Model.Key == "HomePhone")
{
            <div id="lenny-four"></div>
    <div id="progressbar-label">Progress:&nbsp;</div>
}


else if (Model.Key == "SSN")
{
            <div id="lenny-five-option2"></div>
    <div id="progressbar-label">Progress:&nbsp;</div>
}






    <div id="page1FormHeader" class="png">
        <h2>Get FREE Quotes from Trusted Lenders</h2>


        @if (LTWeb.Session.LTModel.SsnRequired)
        {
            <!--<h3 class="ssnOptional">&nbsp;</h3>--><br /><br />
        }
        else
        {
            <!--<h3 class="ssnOptional" style="margin-top: 0px;">No SSN Required</h3>--><br /><br />
        }
        
        <div id="progressbarcontainer">
            
            
           

           <div id="progressbar" style="width:270px; height:12px; margin-top:3px;"></div>
             
        </div>
    </div>
    <div class="form-content png">
        <div class="dropdown-item" style="margin-top: 30px">
            <div id="form_inner_1step">
                @using (Html.BeginForm("Save", "Questions", FormMethod.Post, new { id = LTWeb.Settings.QuestionsFormId }))
                {
                    <input type="hidden" name="QuestionIndex" value="@Model.QuestionIndex" />
                    <div style="width:380px">
                        @if (!string.IsNullOrWhiteSpace(Model.Supertext))
                        {
                            <span class="green-final-step">@Model.Supertext</span><br /><br />
                        }
                        <div>
                            @if (Model.Key == "Complete")
                            {
                                <p>@Model.Text</p>
                            }
                            else
                            {
                                Html.RenderPartial("ShowInner");
                                LTWeb.Models.QuestionVM subquestion = Model.SamePageQuestion;
                                while (subquestion != null)
                                {
                                    <br />
                                    <br />     
                                    <br />                                                                               
                                    @Html.Partial("ShowInner", subquestion)
                                    subquestion = subquestion.SamePageQuestion;
                                }
                            }
                        </div>
                    </div>
                    <br />
                    <br /> 
                    <br />                                               
                            if (Model.Key != "Complete")
                            {
                        <div>
                            <div style="float: left; width: 400px; margin-left: 20px">
                                @*-------------*@
                                @*     LOCK    *@
                                @*-------------*@
                                <div style="float: left; width: @(Model.IsFirstQuestion ? "30px" : "80px"); display: inline; margin-top: 20px;">
                                    
                                    @if (Model.Key == "SSN")
                                        {
                                    
                                        <div class="security3"></div>
                                    
                                    }else{
                                      
                                        <div class="@(Model.IsFirstQuestion ? "security" : "security2")"></div>
                                    }
                                </div>
                                @*-------------*@
                                @*SUBMIT BUTTON*@
                                @*-------------*@
                                <div style="float: left; width: 201px">
                                    <input type="submit" onclick="Save(); return false" value="" id="SaveButton" class="@(Model.IsFirstQuestion ? "btnPage1" : Model.Key == "SSN" ? "btnPage3" : "btnPage2")" />
                                </div>
                            </div>
                            @if (Model.Key == "SSN")
                            {
                                Html.RenderPartial("TermsConsent");
                            }
                        </div>
                            }
                            else
                            {
                        <iframe src="https://smarttrk.com/p.ashx?o=30253&t=@ViewBag.AppID" height="1" width="1" frameborder="0"></iframe>
                            }
                }
            </div>
        </div>
    </div>
    <div class="form-fields-end png">&nbsp;</div>

<script type="text/javascript">
    if (typeof InitializeProgressbar == 'function') InitializeProgressbar(@Model.Progress);
</script>

@section Scripts {
<script type="text/javascript">

var processing = false;

(function(window,undefined){
    InitializeProgressbar(@Model.Progress); //after full page load
    $.ajaxSetup({ cache: false });

    var History = window.History;
    if (!History.enabled) {
        return false;
    }
    SetState(true);

    History.Adapter.bind(window, 'statechange', function () {
        var State = History.getState();
        //History.log(State.data, State.title, State.url);
        CheckLoad(State.data.index, '@Url.Action("Load")');
    });
})(window);

// TODO: initialize validation?

</script>
}
