@model LTWeb.Models.QuestionVM

    <div id="page1FormHeader" class="png">
        <h2>Get FREE Quotes from Trusted Lenders</h2>

        @if (LTWeb.Session.LTModel.SsnRequired) {
            <h3 class="ssnOptional">&nbsp;</h3>
        } else {
            <h3 class="ssnOptional">No SSN Required</h3>
        }
        <div id="progressbarcontainer" style="margin-left:30px; margin-top:10px">
            <div style="float:left; color:black">Progress:&nbsp;</div>
            <div id="progressbar" style="width:270px; height:18px"></div>
        </div>
    </div>
    <div class="form-content png">
        <div class="dropdown-item">
            <div id="form_inner_1step">
                @using (Html.BeginForm("Save", "Questions", FormMethod.Post, new { id = LTWeb.Settings.QuestionsFormId }))
                {
                <input type="hidden" name="QuestionIndex" value="@Model.QuestionIndex" />
                <div style="width:380px">
                    @if (!string.IsNullOrWhiteSpace(Model.Supertext))
                    {
                        <span class="green">@Model.Supertext</span><br /><br />
                    }
                    <div style="margin-bottom: 18px; margin-left: 80px; width: 300px;">
                        @Html.Partial("ShowInner")
                        @{
                            LTWeb.Models.QuestionVM subquestion = Model.SamePageQuestion;
                            while (subquestion != null)
                            {
                                <br />
                                @Html.Partial("ShowInner", subquestion)
                                subquestion = subquestion.SamePageQuestion;
                            }
                        }
                    </div>
                </div>
                <div>
                    <div style="width: 400px; margin-right: 100px">
                        <div style="float: left; margin-top: 20px;">
                            <div class="@(Model.QuestionIndex == 0 ? "security" : "security2")"></div>
                        </div>
                        <div style="float: left;">
                            <input type="submit" onclick="Save(); return false" value="" id="ContentPlaceHolder1_GetQuoteNow1_Button1" class="@(Model.QuestionIndex == 0 ? "btnPage1" : "btnPage2")" />
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="form-fields-end png">&nbsp;</div>

<script type="text/javascript">
    if (typeof InitializeProgressbar == 'function') InitializeProgressbar(@Model.Progress);
</script>

@section Scripts {
<script type="text/javascript">

(function(window,undefined){
    InitializeProgressbar(@Model.Progress); //after full page load
    $.ajaxSetup({ cache: false });

    var History = window.History;
    if (!History.enabled) {
        return false;
    }
    SetState(true);

    History.Adapter.bind(window, 'statechange', function () {
        var State = History.getState();
        //History.log(State.data, State.title, State.url);
        CheckLoad(State.data.index, '@Url.Action("Load")');
    });
})(window);

// TODO: initialize validation?

</script>
}
