@model ClientPortal.Data.Contexts.SearchProfile
@{
    var ajaxOpts_Profiles = RazorHelpers.GetAjaxOptions("searchProfilesTab", "navSearchProfiles");
    var statsTypes = new[] { "Overall", "Campaign" };
    var intervals = new[] { "Weekly", "Monthly" };
}

<h3>Report Components</h3>

SearchProfile: @Model.SearchProfileName<br />
<br />
Conversion Type Stats:<br />
@using (Html.BeginForm("Generic", "SearchStats", FormMethod.Get, new { target = "_blank" }))
{
    @Html.Hidden("spid", Model.SearchProfileId)
    <table>
        <tr>
            <td>StatsType:</td>
            <td>@Html.DropDownList("statsType", new SelectList(statsTypes), new { style = "margin: .2rem 0" })</td>
        </tr>
        <tr>
            <td>Interval:</td>
            <td>@Html.DropDownList("interval", new SelectList(intervals), new { style = "margin: .2rem 0" })</td>
        </tr>
        <tr>
            <td>NumRows:</td>
            <td><input type="text" name="numrows" value="16" style="width:100px" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Generate" /> (opens in new tab)</td>
        </tr>
    </table>
}

<br />
Back to:
@Ajax.ActionLink("Profiles", "SearchProfiles", "SearchAdmin", ajaxOpts_Profiles) |
@Ajax.ActionLink("Generate Spreadsheet", "GenerateSpreadsheet", new { spId = Model.SearchProfileId }, ajaxOpts_Profiles)
