@model ClientPortal.Data.Contexts.SearchProfile
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("searchProfilesTab");
    var ajaxOpts_Post = RazorHelpers.GetAjaxOptions("searchProfilesTab", null, "Post");
}

@using (Ajax.BeginForm(ajaxOpts_Post))
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>New Search Profile</legend>
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.SearchProfileId, "Id")</td>
                <td>@Html.EditorFor(m => m.SearchProfileId)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.SearchProfileName, "Profile Name")</td>
                <td>@Html.EditorFor(m => m.SearchProfileName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.StartDayOfWeek)</td>
                <td>@Html.EditorFor(m => m.StartDayOfWeek)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ShowSearchChannels)</td>
                <td>@Html.EditorFor(m => m.ShowSearchChannels)</td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Save" />
            &nbsp;@Ajax.ActionLink("cancel", "SearchProfiles", ajaxOptions)
    </fieldset>
}
Notes:<br />
0 = Sunday, 1 = Monday, 2 = Tuesday, 3 = Wednesday, 4 = Thursday, 5 = Friday, 6 = Saturday
