@using ClientPortal.Data.Contexts;
@model SearchProfile
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("searchProfilesTab");
    var ajaxOpts_Post = RazorHelpers.GetAjaxOptions("searchProfilesTab", null, "Post");
    var googleSearchAccounts = Model.GoogleSearchAccounts;
    var bingSearchAccounts = Model.BingSearchAccounts;
    var criteoSearchAccounts = Model.CriteoSearchAccounts;
}

@using (Ajax.BeginForm(ajaxOpts_Post))
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>Edit Search Profile</legend>
        @Html.HiddenFor(m => m.SearchProfileId)
        @Html.HiddenFor(m => m.UseConvertedClicks)
        @Html.HiddenFor(m => m.ShowSearchChannels)
        @Html.HiddenFor(m => m.LCaccid)
        @Html.HiddenFor(m => m.CallMinSeconds)
        <div style="float:left">
            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.SearchProfileId, "Id:")</td>
                    <td>@Html.DisplayFor(m => m.SearchProfileId)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.SearchProfileName, "Profile Name")</td>
                    <td style="min-width:300px">@Html.EditorFor(m => m.SearchProfileName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.StartDayOfWeek)</td>
                    <td>@Html.EditorFor(m => m.StartDayOfWeek, "DayOfWeek")</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.ShowRevenue, "Retail/eCommerce")</td>
                    <td>@Html.EditorFor(m => m.ShowRevenue) (show revenue, net, rev/order, roas)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.ShowViewThrus)</td>
                    <td>@Html.EditorFor(m => m.ShowViewThrus) (view-through conversions)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.ShowCassConvs)</td>
                    <td>@Html.EditorFor(m => m.ShowCassConvs) (click-assisted conversions - report only)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.UseConvertedClicks)</td>
                    <td>@Html.DisplayFor(m => m.UseConvertedClicks) (contact KS to change)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.ShowSearchChannels)</td>
                    <td>@Html.DisplayFor(m => m.ShowSearchChannels)</td>
                </tr>
                @if (!String.IsNullOrWhiteSpace(Model.LCaccid))
                {
                    <tr>
                        <td>@Html.LabelFor(m => m.LCaccid, "LocalConnex accid")</td>
                        <td>@Html.DisplayFor(m => m.LCaccid)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.CallMinSeconds)</td>
                        <td>@Html.DisplayFor(m => m.CallMinSeconds)</td>
                    </tr>
                }
            </table>
        </div>
        <div style="float:left; margin-left:20px">
            AdWords Accounts:<br />
            @if (googleSearchAccounts != null && googleSearchAccounts.Count() > 0)
            {
                foreach (var sa in googleSearchAccounts) {
                    <span>- @sa.Name [@sa.AccountCode]</span>
                    <i>@Ajax.ActionLink("edit", "EditSearchAccount", new { id = sa.SearchAccountId }, ajaxOptions)</i><br />
                }
            } else {
                <i>@Ajax.ActionLink("Create", "CreateSearchAccount", new { spId = Model.SearchProfileId, channel = SearchAccount.GoogleChannel }, ajaxOptions)</i><br />
            }
            <br />
            Bing Accounts:<br />
            @if (bingSearchAccounts != null && bingSearchAccounts.Count() > 0)
            {
                foreach (var sa in bingSearchAccounts) {
                    <span>- @sa.Name [@sa.AccountCode]</span>
                    <i>@Ajax.ActionLink("edit", "EditSearchAccount", new { id = sa.SearchAccountId }, ajaxOptions)</i><br />
                }
            } else {
                <i>@Ajax.ActionLink("Create", "CreateSearchAccount", new { spId = Model.SearchProfileId, channel = SearchAccount.BingChannel }, ajaxOptions)</i><br />
            }
            @if (criteoSearchAccounts != null && criteoSearchAccounts.Count() > 0)
            {
                <br />
                <span>Criteo Accounts:</span><br />
                foreach (var sa in criteoSearchAccounts) {
                    <span>- @sa.Name [@sa.AccountCode]</span>
                    <i>@Ajax.ActionLink("edit", "EditSearchAccount", new { id = sa.SearchAccountId }, ajaxOptions)</i><br />
                }
            }
        </div>
        <br style="clear:both" />
        <div style="margin-top:10px">
            <input type="submit" value="Save" />
                &nbsp;@Ajax.ActionLink("cancel", "SearchProfiles", ajaxOptions)
        </div>
    </fieldset>
}
