@model IEnumerable<ClientPortal.Data.Contexts.SearchProfile>

@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("searchProfilesTab");
    var ajaxOpts_Reports = RazorHelpers.GetAjaxOptions("searchReportsTab", "navSearchReports");
}

<table border="1">
    <tr>
        <th></th>
        <th>SearchProfile</th>
        <th>Login</th>
        <th>Reports</th>
    </tr>
@foreach (var profile in Model)
{
	int numReports = profile.SimpleReports.Count();
    <tr>
        <td>@Ajax.ActionLink("Edit", "EditProfile", new { spId = profile.SearchProfileId }, ajaxOptions)</td>
        <td>@profile.SearchProfileName</td>
        <td>
            @if (profile.UserProfiles.Any()) {
                @(String.Join(", ", profile.UserProfiles.Select(u => u.UserName).ToArray()))
            } else {
                @Ajax.ActionLink("create", "CreateUserProfile", new { spId = profile.SearchProfileId }, ajaxOptions)
            }
        </td>
        <td>
            @if (numReports > 1) {
                @Ajax.ActionLink("edit", "IndexSearch", "SimpleReports", new { spId = profile.SearchProfileId }, ajaxOpts_Reports )
			} else if (numReports == 1) {
                @Ajax.ActionLink("edit", "Edit", "SimpleReports", new { id = profile.SimpleReports.First().SimpleReportId }, ajaxOpts_Reports )
            } else {
                @Ajax.ActionLink("enable", "EnableReports", new { spId = profile.SearchProfileId }, ajaxOptions )
            }
        </td>
        <td>@Ajax.ActionLink("Edit Contacts", "EditSearchProfileContacts", new { spId = profile.SearchProfileId }, ajaxOptions)</td>
    </tr>
}
</table>