@model IEnumerable<ClientPortal.Data.Contexts.SearchProfile>

@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("searchProfilesTab");
    var ajaxOpts_Reports = RazorHelpers.GetAjaxOptions("searchReportsTab", "navSearchReports");
}

@Ajax.ActionLink("Refresh", "SearchProfiles", ajaxOptions)
<table border="1">
    <tr>
        <th></th>
        <th>Id</th>
        <th>SearchProfile</th>
        <th>Login</th>
        <th>Reports-></th>
        <th>Email</th>
        <th>DA Contacts</th>
    </tr>
@foreach (var profile in Model)
{
	int numReports = profile.SimpleReports.Count();
    <tr>
        <td>@Ajax.ActionLink("Edit", "EditProfile", new { spId = profile.SearchProfileId }, ajaxOptions)</td>
        <td style="text-align:right">@profile.SearchProfileId</td>
        <td>@profile.SearchProfileName</td>
        <td>
            @if (profile.UserProfiles.Any()) {
                @(String.Join(", ", profile.UserProfiles.Select(u => u.UserName).ToArray()))
            } else {
                @Ajax.ActionLink("create", "CreateUserProfile", new { spId = profile.SearchProfileId }, ajaxOptions)
            }
        </td>
		<td>@Ajax.ActionLink("Test", "TestReports", new { spId = profile.SearchProfileId }, ajaxOptions)</td>
        <td>
            @if (numReports > 1) {
                @Ajax.ActionLink("edit", "IndexSearch", "SimpleReports", new { spId = profile.SearchProfileId }, ajaxOpts_Reports)
			} else if (numReports == 1) {
				var rep = profile.SimpleReports.First();
				@(rep.Enabled ? "ON " : "OFF ")
                @Ajax.ActionLink("(edit)", "Edit", "SimpleReports", new { id = rep.SimpleReportId }, ajaxOpts_Reports)
            } else {
                @Ajax.ActionLink("initialize", "InitializeReport", new { spId = profile.SearchProfileId }, ajaxOptions)
            }
        </td>
        <td>@Ajax.ActionLink("Edit Contacts", "EditSearchProfileContacts", new { spId = profile.SearchProfileId }, ajaxOptions)</td>
    </tr>
}
</table>
<br />
@Ajax.ActionLink("New Profile", "CreateSearchProfile", ajaxOptions)