@model IEnumerable<ClientPortal.Data.Contexts.SearchProfile>

@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("searchProfilesTab");
    var ajaxOpts_Reports = RazorHelpers.GetAjaxOptions("searchReportsTab", "navSearchReports");
}

@Ajax.ActionLink("Refresh", "SearchProfiles", ajaxOptions)
&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#070">$ = Retail/eCommerce</span>
&nbsp;&nbsp;&nbsp;+ = Show Calls
<table border="1">
    <tr>
        <th></th>
        <th>Id</th>
        <th></th>
        <th>SearchProfile</th>
        <th>(Click to) Login</th>
        <th>Spreadsheet</th>
        <th>Email Reports</th>
        <th>DA Contacts</th>
    </tr>
@foreach (var profile in Model)
{
    string showCallsIcon = profile.ShowCalls ? "+" : "";
	int numReports = profile.SimpleReports.Count();
    <tr>
        <td>@Ajax.ActionLink("Edit", "EditProfile", new { spId = profile.SearchProfileId }, ajaxOptions)</td>
        <td style="text-align:right">@profile.SearchProfileId</td>
        @if (profile.ShowRevenue)
        {
            <td style="color:#070">$@(showCallsIcon)</td>
            <td style="color:#070">@profile.SearchProfileName</td>
        } else {
            <td>@showCallsIcon</td>
            <td>@profile.SearchProfileName</td>
        }
        <td>
            @if (profile.UserProfiles.Any()) {
                foreach (var up in profile.UserProfiles) {
                    @Html.ActionLink(up.UserName, "SpecialLogin", "Account", new { area = "", userId = up.UserId }, null)
                    if (up != profile.UserProfiles.Last()) {<text>, </text>}
                }
            } else {
                @Ajax.ActionLink("create", "CreateUserProfile", new { spId = profile.SearchProfileId }, ajaxOptions)
            }
        </td>
		<td>@Ajax.ActionLink("Generate", "TestReports", new { spId = profile.SearchProfileId }, ajaxOptions)</td>
        <td>
            @if (numReports > 1) {
                @Ajax.ActionLink("edit", "IndexSearch", "SimpleReports", new { spId = profile.SearchProfileId }, ajaxOpts_Reports)
			} else if (numReports == 1) {
				var rep = profile.SimpleReports.First();
				@(rep.Enabled ? "ON " : "OFF ")
                @Ajax.ActionLink("(edit)", "Edit", "SimpleReports", new { id = rep.SimpleReportId }, ajaxOpts_Reports)
            } else {
                @Ajax.ActionLink("initialize", "InitializeReport", new { spId = profile.SearchProfileId }, ajaxOptions)
            }
        </td>
        <td>
            @Ajax.ActionLink("Edit", "EditSearchProfileContacts", new { spId = profile.SearchProfileId }, ajaxOptions)
            -
            @foreach (var spc in profile.SearchProfileContactsOrdered)
            {
                @(spc.Contact.FullName)<text>&nbsp;</text>
            }
        </td>
    </tr>
}
</table>
<br />
@Ajax.ActionLink("New Profile", "CreateSearchProfile", ajaxOptions)