@model ClientPortal.Data.Contexts.SearchProfile
@{
    var ajaxOpts_Profiles = RazorHelpers.GetAjaxOptions("searchProfilesTab", "navSearchProfiles");
    //var ajaxOpts_Reports = RazorHelpers.GetAjaxOptions("searchReportsTab");
    var ajaxOpts_Post = RazorHelpers.GetAjaxOptions("searchReportsTab", null, "Post");
    var endDate = Model.GetLast_WeekEndDate();
    string filename = Model.SearchProfileName.Replace(" ", "") + "_" + DateTime.Today.ToString("yyyyMMdd") + ".xlsx";
}

<h3>Test Spreadsheet</h3>

SearchProfile: @Model.SearchProfileName<br />
Start Day of Week: @((DayOfWeek)Model.StartDayOfWeek)
<br /><br />

@using (Html.BeginForm("GenerateSpreadsheet", "SearchAdmin"))
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>Generate Spreadsheet</legend>
        @Html.HiddenFor(m => m.SearchProfileId)
        <table>
            <tr>
                <td>@Html.Label("Stats End-Date:")</td>
                <td><input type="text" name="enddate" value="@endDate.ToShortDateString()" onfocus="EnableSubmitGenSpreadsheet()" /></td>
            </tr>
            <tr>
                <td>@Html.Label("Weeks to include:")</td>
                <td><input type="text" name="numweeks" value="10" onfocus="EnableSubmitGenSpreadsheet()" /></td>
            </tr>
            <tr>
                <td>@Html.Label("Months to include:")</td>
                <td><input type="text" name="nummonths" value="10" onfocus="EnableSubmitGenSpreadsheet()" /></td>
            </tr>
            <tr>
                <td>@Html.Label("Filename:")</td>
                <td><input type="text" name="filename" value="@filename" style="min-width:300px" onfocus="EnableSubmitGenSpreadsheet()" /></td>
            </tr>
        </table>
        <br />
        <input id="submitGenSpreadsheet" type="submit" value="Generate" onClick="this.form.submit(); this.disabled=true" />
    </fieldset>
}
Back to:
@Ajax.ActionLink("Profiles", "SearchProfiles", "SearchAdmin", ajaxOpts_Profiles)
@*| @Ajax.ActionLink("Email Reports", "IndexSearch", "SimpleReports", ajaxOpts_Reports)*@

<script>
    function EnableSubmitGenSpreadsheet() {
        $('#submitGenSpreadsheet').prop('disabled', false); //.prop('value', 'Generate');
    }
    //$(document).ready(function () {
    //    $('input[type="submit"]').attr('disabled', 'disabled');
    //    $('input[type="text"]').keyup(function () {
    //        if ($(this).val() != '') {
    //            $('input[type="submit"]').removeAttr('disabled');
    //        }
    //    });
    //});
</script>