@using System.Globalization
@model IEnumerable<DirectAgents.Domain.Entities.CPSearch.SearchProfile>

<h2>StatsGauge - SearchProfiles</h2>

<table>
    <tr>
        <th style="text-align:right">Id</th>
        <th>Name</th>
        <th style="text-align:center">DaySums</th>
        <th style="text-align:center">ConvSums</th>
        <th style="text-align:center">CallSums</th>
    </tr>
    @foreach(var sp in Model)
    {
        <tr>
            <td style="text-align:right">@sp.SearchProfileId</td>
            <td>@Html.ActionLink(sp.SearchProfileName, "IndexGauge", "SearchAccounts", new { spId = sp.SearchProfileId }, null)</td>
            <td style="text-align:center">@sp.MinDaySum.ToString("d", CultureInfo.InvariantCulture) - @sp.MaxDaySum.ToString("d", CultureInfo.InvariantCulture)</td>
            <td style="text-align:center">@sp.MinConvSum.ToString("d", CultureInfo.InvariantCulture) - @sp.MaxConvSum.ToString("d", CultureInfo.InvariantCulture)</td>
            <td style="text-align:center">@sp.MinCallSum.ToString("d", CultureInfo.InvariantCulture) - @sp.MaxCallSum.ToString("d", CultureInfo.InvariantCulture)</td>
        </tr>
    }
</table>