@model IEnumerable<DirectAgents.Domain.Entities.CPProg.Keyword>

<h2>Keywords</h2>

<table>
    <tr>
        <th>Id</th>
        <th>@Html.ActionLink("Name", "Keywords")</th>
        <th>ExternalId</th>
        <th>@Html.ActionLink("Strategy", "Keywords", new { sort = "strat" })</th>
        <th>@Html.ActionLink("AdSet", "Keywords", new { sort = "adset" })</th>
    </tr>
    @foreach (var keyword in Model)
    {
        <tr>
            <td>@keyword.Id</td>
            <td>@keyword.Name</td>
            <td>@keyword.ExternalId</td>
            <td>@(keyword.Strategy != null ? keyword.Strategy.Name + " (" + keyword.StrategyId + ")" : "")</td>
            <td>@(keyword.AdSet != null ? keyword.AdSet.Name + " (" + keyword.AdSetId + ")" : "")</td>
        </tr>
    }
</table>

