@model IEnumerable<DirectAgents.Domain.Entities.CPProg.SearchTerm>

<h2>SearchTerms</h2>

<table>
    <tr>
        <th>Id</th>
        <th>@Html.ActionLink("Name", "SearchTerms")</th>
        <th>@Html.ActionLink("Keyword", "SearchTerms", new { sort = "keyw" })</th>
    </tr>
    @foreach (var term in Model)
    {
        <tr>
            <td>@term.Id</td>
            <td>@term.Query</td>
            <td>@(term.Keyword != null ? term.Keyword.Name + " (" + term.KeywordId + ")" : "")</td>
        </tr>
    }
</table>


