@model ClientPortal.Web.Models.SearchReportModel

<div class="row">
    <div class="large-12 columns">
        <div class="searchpanel" id="channelperfOuter">
            <b>Channel Performance</b>
            &nbsp;&nbsp;&nbsp;
            Show: <input id="numweeksChannelPerfInput" value="8" /> weeks
            <a class="button paddedbutton" href="#" onclick="RefreshGrid('channelperf'); return false">Refresh</a>
            <a class="button paddedbutton" style="float: right" href="#" onclick="ExportChannelPerfCSV(); return false">Export CSV</a>
            <div id="channelperfGrid" style="margin-top: 10px"></div>
        </div>
    </div>
</div>

<style>
#channelperfGrid .k-grid-footer{
    display: none;
}
</style>

<script>
    $(function () {
        $('#numweeksChannelPerfInput').kendoNumericTextBox({
            decimals: 0,
            format: 'n0',
            min: 1
        });
        $('#numweeksChannelPerfInput').data('kendoNumericTextBox').wrapper.width(65);

        var channelperfDS = CreateSummaryDataSource(
            '@Url.Action("ChannelPerfData", "SearchReports")',
            function() {
                return { numweeks: $('#numweeksChannelPerfInput').val() };
            },
            true, // group
            'nosort',
            0); //default page size

    @if (Model.SearchProfile.ShowRevenue) {
        <text>CreateSummaryGrid(channelperfDS, $('#channelperfGrid'), 550, 'Channel', 17, 2, false, false, false, DetailInitWrapper, @(Model.SearchProfile.ShowViewThrus ? "true" : "false"));</text>
    } else {
        <text>CreateSummaryGridLeadGen(channelperfDS, $('#channelperfGrid'), 550, 'Channel', 17, 2, false, false, false, DetailInitWrapper, @(Model.SearchProfile.ShowViewThrus ? "true" : "false"), @(Model.SearchProfile.ShowCalls ? "true" : "false"));</text>
    }
        channelperfDS.read();
    });

    function DetailInitWrapper(e) {
        DetailInit(e,
                   '@Url.Action("CampaignPerfData", "SearchReports")',
                   @(Model.SearchProfile.ShowRevenue ? "CreateSummaryGrid" : "CreateSummaryGridLeadGen"),
                   @(Model.SearchProfile.ShowViewThrus ? "true" : "false"),
                   @(Model.SearchProfile.ShowCalls ? "true" : "false"),
                   '@(Model.SearchProfile.ShowRevenue ? "revenue" : "title")',
                   18
                   );
    };

    function ExportChannelPerfCSV() {
        window.location.href = '@Url.Action("ChannelPerfExport", "SearchReports")';
    }
</script>
