@model ClientPortal.Web.Models.SearchReportModel

<div class="row">
    <div class="large-12 columns">
        <div class="searchpanel" id="weeksumOuter">
            <b>Weekly Summary</b>
            &nbsp;&nbsp;&nbsp;
            Show: <input id="numweeksInput" value="8" /> weeks
            <a class="button paddedbutton" href="#" onclick="RefreshGrid('weeksum'); return false">Refresh</a>
            <a class="button paddedbutton" style="float: right" href="#" onclick="ExportWeekSumCSV(); return false">Export CSV</a>
            <div id="weeksumGrid" style="margin-top: 10px"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        <div id="weekleftChartSection" class="k-content">
            <div class="chart-wrapper">
                <div id="weekleftChart"></div>
            </div>
        </div>
    </div>
    <div class="large-6 columns">
        <div id="weekrightChartSection" class="k-content">
            <div class="chart-wrapper">
                <div id="weekrightChart"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#numweeksInput').kendoNumericTextBox({
            decimals: 0,
            format: 'n0',
            min: 1
        });
        $('#numweeksInput').data('kendoNumericTextBox').wrapper.width(65);

        var weeksumDS = CreateSummaryDataSource(
            '@Url.Action("WeekSumData", "SearchReports")',
            function() {
                return { numweeks: $('#numweeksInput').val() };
            },
            false, //don't group
            'nosort',
            0); //default page size

    @if (Model.SearchProfile.ShowRevenue) {
        <text>CreateSummaryGrid(weeksumDS, $('#weeksumGrid'), 300, 'Week', 10, 2, true, false, false, DetailInitWrapperWM, @(Model.SearchProfile.ShowViewThrus ? "true" : "false"));</text>
        <text>CreateRevROASChart(weeksumDS, 'weekleftChart', 'Weekly Revenue vs. ROAS Performance');</text>
        <text>CreateOrderCPOChart(weeksumDS, 'weekrightChart', 'Weekly Orders vs. CPO Performance');</text>
    } else {
        <text>CreateSummaryGridLeadGen(weeksumDS, $('#weeksumGrid'), 300, 'Week', 10, 2, true, false, false, DetailInitWrapperWM, @(Model.SearchProfile.ShowViewThrus ? "true" : "false"), @(Model.SearchProfile.ShowCalls ? "true" : "false"));</text>
        <text>CreateCTRCPCChart(weeksumDS, 'weekleftChart', 'Weekly CTR vs. CPC Performance');</text>
        if (Model.SearchProfile.ShowCalls) {
            <text>CreateLeadsCPLChart(weeksumDS, 'weekrightChart', 'Weekly TotalLeads vs. CPL Performance', 'TotalLeads');</text>
        } else {
            <text>CreateLeadsCPLChart(weeksumDS, 'weekrightChart', 'Weekly Leads vs. CPL Performance', 'Leads');</text>
        }
    }
        weeksumDS.read();
    });

    function DetailInitWrapperWM(e) {
        DetailInit(e,
                   '@Url.Action("DeviceData", "SearchReports")',
                   @(Model.SearchProfile.ShowRevenue ? "CreateSummaryGrid" : "CreateSummaryGridLeadGen"),
                   @(Model.SearchProfile.ShowViewThrus ? "true" : "false"),
                   @(Model.SearchProfile.ShowCalls ? "true" : "false"),
                   'title',
                   11
                   );
    };

    function ExportWeekSumCSV() {
        window.location.href = '@Url.Action("WeekSumExport", "SearchReports")';
    }
</script>
