@model ClientPortal.Web.Models.SearchIndexModel

<style>
    .searchdiv {
        padding: 10px;
    }
    .searchpanel {
        padding: 10px;
    }
    #main {
        line-height: 1.6;@* matches style of ul (class="tabs-content") in portals with vert nav *@
    }
</style>

@*<!--+---------+
      | Top Bar |
      +---------+-->*@
<div class="row fullWidth" style="height: 100px">
    <div class="large-5 columns toplogo">
        <img src="~/Images/logo1a.png" />
    </div>
    <div class="large-2 columns topinfo">
        @Html.Partial("_HelloPartial", Model.HasLogo)
    </div>
    <div class="large-5 columns logout">
        <div style="float: right">
            @Html.Partial("_LoginPartial", Model.HasLogo)
        </div>
    </div>
</div>
<!-- /TopBar -->

@*<!--+--------------------------------------+
      | Gray Band/HTabs Background/Container | 
      +--------------------------------------+-->*@
<div class="row fullWidth">
    <div class="grayband">
        @*<!--+---------------+
              | Top Tabs      |
              +---------------+-->*@
        <dl class="tabs" data-tab>
            <dd class="active"><a href="#navDashboardTab" id="nav_Dashboard">Weekly</a></dd>
            <dd><a href="#navMonthlyTab" id="nav_Monthly">Monthly</a></dd>
            <dd><a href="#navChannelPerfTab" id="nav_ChannelPerf">Channel Performance</a></dd>
            <dd><a href="#navCampaignPerfTab" id="nav_CampaignPerf">Campaign Performance</a></dd>
            <dd><a href="#navCampaignWeeklyTab" id="nav_CampaignWeekly">Campaign Weekly</a></dd>
            <dd><a href="#navContactTab" id="nav_Contact">Contact</a></dd>
        </dl>
        <!-- /Tabs -->
    </div>
</div>
<!-- /GrayBandForHTabs -->

@*<!--+--------------+
      | Main Content |
      +--------------+-->*@
<div class="row fullWidth" id="main">

    @*<!--+---------------+
          | Tabs Content  |
          +---------------+-->*@
    <div class="tabs-content">

        <div id="navDashboardTab" class="content active">
            <div id="divDashboard" class="searchdiv"></div>
        </div>
        <div id="navMonthlyTab" class="content">
            <div id="divMonthly" class="searchdiv"></div>
        </div>
        <div id="navChannelPerfTab" class="content">
            <div id="divChannelPerf" class="searchdiv"></div>
        </div>
        <div id="navCampaignPerfTab" class="content">
            <div id="divCampaignPerf" class="searchdiv"></div>
        </div>
        <div id="navCampaignWeeklyTab" class="content">
            <div id="divCampaignWeekly" class="searchdiv"></div>
        </div>
        <div id="navContactTab" class="content">
            <div id="divContact" class="searchdiv"></div>
        </div>

    </div>
    <!-- /Tabs -->

</div>
<!-- /MainContent -->

@*<!--+---------------------+
      | Footer / Bottom Bar |
      +---------------------+-->*@
<footer class="row fullWidth">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-6 columns">
                <p>&copy; 2014 Direct Agents</p>
            </div>
            <div class="large-6 columns">
            </div>
        </div>
    </div>
</footer>
<!-- /BottomBar  -->

@section head {
    <link href="~/Content/kendo/2014.2.903/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.2.903/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <style>
        .k-grid tbody .k-grid .k-grid-header, .k-detail-cell .k-pager-wrap, .k-detail-cell .k-grid-footer
        {
            display: none;
        }
        td.k-detail-cell > div.k-grid
        {
            border: 1px solid black;
        }
    </style>
}

@section scripts {
    <script src="~/Scripts/kendo/2014.2.903/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.903/cultures/kendo.culture.de-DE.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.903/cultures/kendo.culture.en-GB.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.903/cultures/kendo.culture.en-AU.min.js"></script>
    <script src="~/Scripts/search_grids_charts.js"></script>
    @Html.Partial("_DateFuncs", Model.Dates)

    <script>
        // ready function
        $(function () {
            cultureGlobal = '@Model.Culture';
            LoadDashboard();
            SetupTabs();
        });

        function LoadDashboard() {
            $.ajax({
                url: '@Url.Action("Dashboard")',
                cache: false
            }).done(function (html) {
                $('#divDashboard').html(html);
            });
        }

        function SetupTabs() {

            // Monthly
            $('#nav_Monthly').one('click', function () {
                $('#divMonthly').html('Loading...');
                $.ajax({
                    url: '@Url.Action("Monthly")',
                    cache: false
                }).done(function (html) {
                    $('#divMonthly').html(html);
                });
            });

            // Channel Perf
            $('#nav_ChannelPerf').one('click', function () {
                $('#divChannelPerf').html('Loading...');
                $.ajax({
                    url: '@Url.Action("ChannelPerf")',
                    cache: false
                }).done(function (html) {
                    $('#divChannelPerf').html(html);
                });
            });

            // Campaign Perf
            $('#nav_CampaignPerf').one('click', function () {
                $('#divCampaignPerf').html('Loading...');
                $.ajax({
                    url: '@Url.Action("CampaignPerf")',
                    cache: false
                }).done(function (html) {
                    $('#divCampaignPerf').html(html);
                });
            });

            // Campaign Weekly
            // (add a report tab) 3. Add one-time click handler to load content
            $('#nav_CampaignWeekly').one('click', function () {
                $('#divCampaignWeekly').html('Loading...');
                $.ajax({
                    url: '@Url.Action("CampaignWeekly")',
                    cache: false
                }).done(function (html) {
                    $('#divCampaignWeekly').html(html);
                });
            });

            // Contacts
            $('#nav_Contact').one('click', function () {
                $('#divContact').html('Loading...');
                $.ajax({
                    url: '@Url.Action("Contact", "SearchHome")',
                    cache: false
                }).done(function (html) {
                    $('#divContact').html(html);
                });
            });

        }
    </script>
}