@using StackExchange.Profiling;
@{
    var title = String.IsNullOrWhiteSpace(ViewBag.Title) ? "" : ViewBag.Title + " - ";
}
<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@(title)Client Portal</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/foundation/css")
    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/portal.css" rel="stylesheet" />
    @if (ClientPortal.Web.MvcApplication.UseBlackbird)
    {
        <script src="~/Scripts/blackbird.js"></script>
        <link href="~/Content/blackbird.css" rel="stylesheet" />
    }
    else
    {
        <script type="text/javascript">
            var log = {
                toggle: function () { }, move: function () { }, resize: function () { },
                clear: function () { }, debug: function () { }, info: function () { },
                warn: function () { }, error: function () { }, profile: function () { }
            };
        </script>
    }
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/foundation")
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1', { 'packages': ['geochart'] });
    </script>
    @RenderSection("scripts", required: false)
    @MiniProfiler.RenderIncludes()
    <script type="text/javascript">
        log.info("/body");
    </script>
    <script type="text/javascript" src="https://yohoe1101.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e/en_USe0zrad-1988229788/6138/26/1.4.0-m5/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=3d2d4311"></script>
</body>
</html>
