@model DirectAgents.Domain.Entities.AB.ABClient

<h2>Client Details</h2>

Id: @Model.Id<br />
Name: @Model.Name<br />
ExtCredit: @Model.ExtCredit<br />
IntCredit: @Model.IntCredit<br />
[@Html.ActionLink("edit", "Edit", new { id = Model.Id })]
<br /><br />

@if (Model.ClientBudgets != null && Model.ClientBudgets.Any())
{
    var cb = Model.ClientBudgets.OrderByDescending(x => x.Date).First();
    <text>@cb.Date.ToShortDateString() Budget: @cb.Value</text>
    <br /><text>TODO: edit link</text>
} else {
    <text>[@Html.ActionLink("new budget", "NewBudget", new { id = Model.Id })]</text>
}
<br /><br />

Links:<br />
@Html.ActionLink("List Clients", "Index")