@model PeriodMaintenanceVM

Accounting Period: <b>@Model.CurrentEomDateString</b>
<br /><br />

<b>"Changed" Advertisers (different name last month):</b>
@if (Model.ChangedAdvertisers.Any())
{
    <table>
    @foreach (var adv in Model.ChangedAdvertisers.OrderBy(a => a.name))
    {
        <tr>
            <td>@adv.id: @Html.ActionLink(adv.name, "Edit", "Advertisers", new { id = adv.id}, null)</td>
            <td>[Previously: @adv.PreviousMonthAdvertiser.name]</td>
        </tr>
    }
    </table>
}
else
{
    <br /><i>(none)</i><br />
}

<br />
<b>"New" Advertisers (didn't exist last month):</b>
<br />
@foreach (var adv in Model.NewAdvertisers.OrderBy(a => a.name))
{
    @adv.id<text>: </text>@Html.ActionLink(adv.name, "Edit", "Advertisers", new { id = adv.id}, null)<br />
}

<br />
<b>"Expired" Advertisers (existed last month but not this month):</b>
<br />
@if (Model.ExpiredAdvertisers.Any())
{
    foreach (var adv in Model.ExpiredAdvertisers.OrderBy(a => a.name))
    {
        @adv.id<text>: </text>@adv.name<br />
    }
}
else
{
    <i>(none)</i><br />
}

<br />
<b>Maintenance:</b>

<table style="border: 1px solid gray; border-spacing: 10px 0">
    <tr>
        <td>Advertiser.InvoicingStatus</td>
        @*<td>@Ajax.ActionLink("clear all", "ClearInvoicingStatus", null, new { onclick = "return ConfirmClearInvoicingStatus()" })</td>*@
        <td><span id="spanClearIS"><a href="#" onclick="ConfirmClearInvoicingStatus(); return false">clear all</a></span></td>
    </tr>
</table>

<script>
    function ConfirmClearInvoicingStatus() {
        if (confirm('Clear InvoicingStatus for all advertisers in @(Model.CurrentEomDateString)?')) {
            $('#spanClearIS').html('clearing...');
            $('#spanClearIS').load('@Url.Action("ClearInvoicingStatus")');
        }
    }
</script>