
@{
    ViewBag.Title = "EOM Admin";
}

<h3>EOM Admin</h3>

Accounting Period:
@Html.Partial("ChooseMonth", (SelectList)ViewBag.ChooseMonthSelectList)
<br />

@Html.ActionLink("Advertisers", "Index", "Advertisers")<br />
@Html.ActionLink("Affiliates", "Index", "Affiliates")<br />
<br />
@Html.ActionLink("Accounting Sheet", "AccountingSheet", "Admin")<br />
@Html.ActionLink("Affiliate Amounts", "AffiliateAmounts", "Workflow")<br />
@Html.ActionLink("Margin Approvals", "MarginApprovals", "Admin")<br />
@Html.ActionLink("Media Buyer Approvals", "Summary", "Payouts")<br />
@Html.ActionLink("Invoice Requests", "Summary", "Invoices")<br />
@Html.ActionLink("Extra Item Importer", "Import", "ExtraItems")<br />
<br />
@Html.ActionLink("Advertiser Maintenance", "AdvertiserMaintenance", "Admin")<br />
@Html.ActionLink("Affiliate Maintenance", "AffiliateMaintenance", "Admin")<br />
@Html.ActionLink("Settings", "Settings", "Admin")<br />
@Html.ActionLink("Audit", "Summaries", "Audit")<br />