@model DirectAgents.Web.Areas.TD.Models.StatsGaugeVM
@using DirectAgents.Domain.Entities.TD
@{
    string by = "Partner";
    if (Model.StatsGauges.Any(s => s.Children != null && s.Children.Any())) {
        by = "ExtAccount";
    }
}
<h2>Stats Gauge - By @by</h2>

<table>
<tr>
    <th colspan="3"></th>
    <th colspan="2">Daily</th>
    <th colspan="2">Strategy</th>
    <th colspan="2">Creative</th>
    <th colspan="2">Site</th>
    <th colspan="2">Conv</th>
</tr>
<tr>
    <th>Partner</th>
    <th style="text-align:right">ID</th>
    <th>Ext Account</th>
    <th>Earliest</th>
    <th>Latest</th>
    <th>Earliest</th>
    <th>Latest</th>
    <th>Earliest</th>
    <th>Latest</th>
    <th>Earliest</th>
    <th>Latest</th>
    <th>Earliest</th>
    <th>Latest</th>
</tr>
@foreach (var pGauge in Model.StatsGauges)
{
if (!Model.CampaignId.HasValue) // don't show Partner summaries if filtering by campaign
{
    <tr style="font-weight:bold;background-color:aquamarine">
        <td colspan="3">@pGauge.Platform.Name - Summary for all Ext Accounts:</td>
        <td style="text-align:right">@pGauge.Daily.EarliestDisp</td>
        <td style="text-align:right">@pGauge.Daily.LatestDisp</td>
        <td style="text-align:right">@pGauge.Strategy.EarliestDisp</td>
        <td style="text-align:right">@pGauge.Strategy.LatestDisp</td>
        <td style="text-align:right">@pGauge.Creative.EarliestDisp</td>
        <td style="text-align:right">@pGauge.Creative.LatestDisp</td>
        <td style="text-align:right">@pGauge.Site.EarliestDisp</td>
        <td style="text-align:right">@pGauge.Site.LatestDisp</td>
        <td style="text-align:right">@pGauge.Conv.EarliestDisp</td>
        <td style="text-align:right">@pGauge.Conv.LatestDisp</td>
    </tr>
}
if (pGauge.Children != null)
{
    foreach (var gauge in pGauge.Children.OrderBy(s => s.ExtAccount.Name))
    {
    <tr>
        <td>@gauge.ExtAccount.Platform.Name</td>
        <td style="text-align:right">@gauge.ExtAccount.Id</td>
        <td>@gauge.ExtAccount.Name</td>
        <td style="text-align:right">@gauge.Daily.EarliestDisp</td>
        <td style="text-align:right">@gauge.Daily.LatestDisp</td>
        <td style="text-align:right">@gauge.Strategy.EarliestDisp</td>
        <td style="text-align:right">@gauge.Strategy.LatestDisp</td>
        <td style="text-align:right">@gauge.Creative.EarliestDisp</td>
        <td style="text-align:right">@gauge.Creative.LatestDisp</td>
        <td style="text-align:right">@gauge.Site.EarliestDisp</td>
        <td style="text-align:right">@gauge.Site.LatestDisp</td>
        <td style="text-align:right">@gauge.Conv.EarliestDisp</td>
        <td style="text-align:right">@gauge.Conv.LatestDisp</td>
    </tr>
    }
}
}
</table>
<br />
@if (!Model.CampaignId.HasValue)
{
    <text>
    Filter:
    @Html.ActionLink("AdRoll", "IndexGauge", new { platform = Platform.Code_AdRoll }) |
    @Html.ActionLink("DBM", "IndexGauge", new { platform = Platform.Code_DBM }) |
    @Html.ActionLink("Facebook", "IndexGauge", new { platform = Platform.Code_FB }) |
    @Html.ActionLink("(show all)", "IndexGauge")
    </text>
    <br /><br />
}