@model IEnumerable<DirectAgents.Domain.Entities.TD.ExtAccount>
@{
    string platformCode = (string)Session["platformCode"];
    var yesterday = DateTime.Today.AddDays(-1);
    var month = new DateTime(yesterday.Year, yesterday.Month, 1);
}
<h2>External Accounts</h2>

<table>
<tr>
    <th></th>
    <th>Partner</th>
    <th style="text-align:right">ID</th>
    <th>Ext Account</th>
    <th>External Id</th>
    <th>Stats</th>
    <th>List...</th>
</tr>
@foreach (var extAcct in Model)
{
<tr>
    <td>@Html.ActionLink("Edit", "Edit", new { id = extAcct.Id })</td>
    <td>@extAcct.Platform.Name</td>
    <td style="text-align:right">@extAcct.Id</td>
    <td>@extAcct.Name</td>
    <td>@extAcct.ExternalId</td>
    <td>@Html.ActionLink("Upload", "UploadStats", new { id = extAcct.Id })</td>
    <td>
        @Html.ActionLink("Strategies", "Strategies", new { id = extAcct.Id }, null) |
        @Html.ActionLink("Creatives", "TDads", new { id = extAcct.Id }, null)
    </td>
</tr>
}
</table>
<br />
@if (!string.IsNullOrWhiteSpace(platformCode))
{
    @Html.ActionLink("New ExtAccount", "CreateNew", new { platform = platformCode })
    <br />
}
