@model IEnumerable<DirectAgents.Web.Areas.TD.Models.StatsGaugeVM>

<h2>Stats Gauge - By ExtAccount</h2>

<table>
<tr>
    <th colspan="2"></th>
    <th colspan="2">Daily</th>
    <th colspan="2">Strategy</th>
    <th colspan="2">Creative</th>
    <th colspan="2">Site</th>
    <th colspan="2">Conv</th>
</tr>
<tr>
    <th>Partner</th>
    <th>AccountName</th>
    <th>Earliest</th>
    <th>Latest</th>
    <th>Earliest</th>
    <th>Latest</th>
    <th>Earliest</th>
    <th>Latest</th>
    <th>Earliest</th>
    <th>Latest</th>
    <th>Earliest</th>
    <th>Latest</th>
</tr>
@foreach (var vm in Model)
{
<tr>
    <td>@vm.Platform.Name</td>
    <td>@vm.ExtAccount.Name</td>
    <td style="text-align:right">@vm.Gauge.Daily.EarliestDisp</td>
    <td style="text-align:right">@vm.Gauge.Daily.LatestDisp</td>
    <td style="text-align:right">@vm.Gauge.Strategy.EarliestDisp</td>
    <td style="text-align:right">@vm.Gauge.Strategy.LatestDisp</td>
    <td style="text-align:right">@vm.Gauge.Creative.EarliestDisp</td>
    <td style="text-align:right">@vm.Gauge.Creative.LatestDisp</td>
    <td style="text-align:right">@vm.Gauge.Site.EarliestDisp</td>
    <td style="text-align:right">@vm.Gauge.Site.LatestDisp</td>
    <td style="text-align:right">@vm.Gauge.Conv.EarliestDisp</td>
    <td style="text-align:right">@vm.Gauge.Conv.LatestDisp</td>
</tr>
}
</table>
<br />
Filter:
@Html.ActionLink("AdRoll", null, new { platform = "adr" }) |
@Html.ActionLink("DBM", null, new { platform = "dbm" })
<br /><br />