@model IEnumerable<DirectAgents.Domain.Entities.TD.ExtAccount>
@{
    string platformCode = (string)Session["platformCode"];
    var yesterday = DateTime.Today.AddDays(-1);
    var month = new DateTime(yesterday.Year, yesterday.Month, 1);
}
<h2>External Accounts</h2>

<table>
<tr>
    <th></th>
    <th>Partner</th>
    <th>AccountName</th>
    <th>ExternalId</th>
    <th>Daily Stats</th>
</tr>
@foreach (var extAcct in Model)
{
<tr>
    <td>@Html.ActionLink("Edit", "Edit", new { id = extAcct.Id })</td>
    <td>@extAcct.Platform.Name</td>
    <td>@extAcct.Name</td>
    <td>@extAcct.ExternalId</td>
    <td>
        @Html.ActionLink("View", "Index", "DailySummaries", new { acctId = extAcct.Id, month = month.ToShortDateString() }, null) |
        @Html.ActionLink("Upload", "UploadStats", new { id = extAcct.Id })
    </td>
</tr>
}
</table>
<br />
@if (!string.IsNullOrWhiteSpace(platformCode))
{
    @Html.ActionLink("New ExtAccount", "CreateNew", new { platform = platformCode })
    <br />
}
