@model DirectAgents.Domain.Entities.TD.ExtAccount
@{
    var statsTypeList = new[] { "Daily", "Strategy", "Creative", "Site", "Conv" };
    var url = Url.Action("UploadFile", new { id = Model.Id });
}
<h2>Upload Stats for External Account</h2>

Partner: @Model.Platform.Name<br />
ExtAccount: @Model.Name
<br /><br />

<div id="filesMessage" style="margin: 0px 0px 18px 5px"></div>

<form method="post" action="@url" enctype="multipart/form-data">
    <div>
        Stats Type:
        @Html.DropDownList("statsType", new SelectList(statsTypeList))
        <br /><br />
        <input id="fileUpload" name="file" type="file" />
    </div>
</form>

<br />
@Html.ActionLink("Back", "Index", new { platform = Model.Platform.Code })

<script>
    $(function () {
        $("#fileUpload").kendoUpload({
            async: {
                saveUrl: "@url",
                autoUpload: false
            },
            localization: {
                select: "Upload&nbsp;file...",
                uploadSelectedFiles: "Upload and Process"
            },
            multiple: false,
            upload: OnUpload,
            complete: UploadComplete
        });
    });

    function OnUpload(e) {
        e.data = { statsType: $('#statsType').val() };
    }
    function UploadComplete() {
        $('#filesMessage').html('Done processing.');
    }
</script>
