@model EomToolWeb.Models.CampaignsListViewModel

<div id="CampaignFilters">
    <div id="CampaignFiltersInner">
        <input id="verticals" style="width: 200px" />
        <input id="traffictypes" style="width: 180px" />
        <input id="mobilelp" style="width: 120px" />
    </div>
</div>

<div id="ExtraInfo">
    @if (Model.ListViewMode.TemplateName.ToLower() == "brief")
    {
        <text><a href="#" onclick="ChangeFilter(true, true, 'List'); return false">Mode</a>: Brief</text>
    } else {
        <text><a href="#" onclick="ChangeFilter(true, true, 'Brief'); return false">Mode</a>: Classic</text>
    }
    @if (Model.Country != null)
    {
        <text>&nbsp;| Country: @Model.Country.Name (<a href="#" onclick="ChangeFilter(true, false); return false">Show all</a>)</text>
    }
</div>

<script type="text/javascript">

    function ChangeFilter(reloadPage, keepCountry, mode) {
        var dataItem = $('#verticals').data("kendoDropDownList").dataItem();
        var vertical = '';
        if (dataItem.VerticalId != '') vertical = dataItem.Name;

        dataItem = $('#traffictypes').data("kendoDropDownList").dataItem();
        var traffictype = '';
        if (dataItem.TrafficTypeId != '') traffictype = dataItem.Name;

        dataItem = $('#mobilelp').data("kendoDropDownList").dataItem();
        var mobilelp = '';
        if (dataItem.value != '') mobilelp = dataItem.value;

        dataItem = $('#inputSearch').val();
        var search = '';
        if(dataItem != '') search = dataItem;

        var country = '';
        @if (Model.Country != null && !String.IsNullOrWhiteSpace(Model.Country.CountryCode)) {
        <text>
            if (keepCountry)
                country = '@(new HtmlString(Model.Country.CountryCode))';
        </text>
        }

        if (search.toLowerCase() == "cpm")
            $('#MenuCPM').addClass("selitem");
        else
            $('#MenuCPM').removeClass("selitem");

        if (vertical=='' && traffictype=='' && $.trim(search)=='' && country=='')
            $('#MenuAll').addClass("selitem");
        else
            $('#MenuAll').removeClass("selitem");

        var url = '?vertical=' + vertical + '&traffictype=' + traffictype + '&mobilelp=' + mobilelp + '&search=' + search + '&country=' + country + '&pid=';
        if (mode) url = url + '&mode=' + mode;

        if (reloadPage) {
            url = '@Url.Action("List2")' + url;
            document.location.href = url;
        } else {
            url = '@Url.Content("~/api/campaignsapi")' + url;
            DisplayCampaigns(url); // TODO: trigger an event and handle in Items.cshtml
        }
    }

    var afterSelectedText = "";
    function CopySelection() {
        var listView = $("#listView").data("kendoListView");
        var data = listView.dataSource.view();
        var selected = $.map(listView.select(), function(item) {
            var d = data[$(item).index()];
            var payout = "&nbsp;";
            if (d.Cost > 0) {
                if (d.DefaultPriceFormat == "RevShare") payout = payout + d.Cost + '%';
                else payout = payout + d.CostCurrency + d.Cost;
            }
            var mobilelpText = '';
            if (d.MobileLP.toLowerCase().indexOf("yes") > -1) mobilelpText = '<br/>Mobile LP: ' + d.MobileLP;
            return '<b>' + d.Name + '</b><br/>' + d.Description + '<br/>Payable Action: ' + d.PayableAction + '<br/>Traffic Type: ' + d.TrafficTypes + mobilelpText + '<br/>Link: <a href="' + d.Link + '">' + d.Link + '</a><br/>Payout:' + payout + '<br/>';
        });
        if (selected.length > 0)
            afterSelectedText = "Campaign text copied";
        else
            afterSelectedText = "No campaigns selected";
        var copytext = selected.join("<br />");
        return copytext;
    }
    function AfterCopy() {
        if (!$.browser.mozilla) // issue with firefox 18 and flash 11 (freezes if alert in callback)
            alert(afterSelectedText);
    }

    $(document).ready(function () {

        //--------------------------------------
        // Vertical filter DDL
        //--------------------------------------
        $("#verticals").kendoDropDownList({
            @((Model.Vertical != null) ? "value: " + Model.Vertical.VerticalId + "," : "")
            optionLabel: "Show All Verticals",
            dataTextField: "Name",
            dataValueField: "VerticalId",
            dataSource: {
                type: "json",
                transport: { read: "@Url.Content("~/api/Verticals")" }
            },
            change: function() { ChangeFilter(false, true); }
        });

        //--------------------------------------
        // Traffic filter DDL
        //--------------------------------------
        $("#traffictypes").kendoDropDownList({
            @((Model.TrafficType != null) ? "value: " + Model.TrafficType.TrafficTypeId + "," : "")
            optionLabel: "Show All Traffic Types",
            dataTextField: "Name",
            dataValueField: "TrafficTypeId",
            dataSource: {
                type: "json",
                transport: { read: "@Url.Content("~/api/TrafficTypes")" }
            },
            change: function() { ChangeFilter(false, true); }
        });

        //--------------------------------------
        // MobileLP DDL
        //--------------------------------------
        $("#mobilelp").kendoDropDownList({
            @if (Model.MobileLP != null) { <text>value: "@Model.MobileLP",</text> }
            optionLabel: "Mobile LP?",
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [{text: "MobileLP: Yes", value: "yes"}, {text: "MobileLP: No", value: "no"}],
            change: function () { ChangeFilter(false, true); }
        });

        //--------------------------------------
        // Copy button
        //--------------------------------------
        $('a#copy-campaign').zclip({
            path: '@Url.Content("~/Scripts/ZeroClipboard10.swf")',
            copy: CopySelection,
            afterCopy: AfterCopy
        });

    });

</script>
