@model EomToolWeb.Models.CampaignsListViewModel

<div id="CampaignFilters">
    <div id="CampaignFiltersInner">
        <input id="verticals" style="width: 250px" />
        <input id="traffictypes" style="width: 250px" />
    </div>
</div>

<div id="ExtraInfo">
    @if (Model.Country != null)
    {
        <text>Country: @Model.Country.Name</text>
        <a href="#" onclick="ChangeFilter(true, false); return false">Show all</a>
    }
</div>

<script type="text/javascript">

    function ChangeFilter(reloadPage, keepCountry) {
        var dataItem = $('#verticals').data("kendoDropDownList").dataItem();
        var vertical = '';
        if (dataItem.VerticalId != '') vertical = dataItem.Name;

        dataItem = $('#traffictypes').data("kendoDropDownList").dataItem();
        var traffictype = '';
        if (dataItem.TrafficTypeId != '') traffictype = dataItem.Name;

        dataItem = $('#inputSearch').val();
        var search = '';
        if(dataItem != '') search = dataItem;

        var url = '?vertical=' + vertical + '&traffictype=' + traffictype + '&search=' + search + '&pid=&country=';
        if (keepCountry)
            url = url + '@(new HtmlString(Model.Country == null ? "" : Model.Country.CountryCode))';

        if (reloadPage) {
            url = '@Url.Action("List2")' + url;
            document.location.href = url;
        } else {
            url = '@Url.Content("~/api/campaignsapi")' + url;
            DisplayCampaigns(url); // TODO: trigger an event and handle in Items.cshtml
        }
    }

    var afterSelectedText = "";
    function CopySelection() {
        var listView = $("#listView").data("kendoListView");
        var data = listView.dataSource.view();
        var selected = $.map(listView.select(), function(item) {
            var d = data[$(item).index()];
            return '<b>' + d.Name + '</b><br />' + d.Description + '<br />Action: ' + d.PayableAction + '<br />Traffic: ' + d.TrafficTypes + '<br />Link: <a href="' + d.Link + '">' + d.Link + '</a><br />Payout: ' + d.CostCurrency + d.Cost + '<br />';
        });
        if (selected.length > 0)
            afterSelectedText = "Campaign text copied";
        else
            afterSelectedText = "No campaigns selected";
        var copytext = selected.join("<br />");
        return copytext;
    }
    function AfterCopy() {
        alert(afterSelectedText);
    }

    $(document).ready(function () {

        //--------------------------------------
        // Vertical filter DDL
        //--------------------------------------
        $("#verticals").kendoDropDownList({
            @((Model.Vertical != null) ? "value: " + Model.Vertical.VerticalId + "," : "")
            optionLabel: "Show All Verticals",
            dataTextField: "Name",
            dataValueField: "VerticalId",
            dataSource: {
                type: "json",
                transport: { read: "@Url.Content("~/api/Verticals")" }
            },
            change: function() { ChangeFilter(false, true); }
        });

        //--------------------------------------
        // Traffic filter DDL
        //--------------------------------------
        $("#traffictypes").kendoDropDownList({
            @((Model.TrafficType != null) ? "value: " + Model.TrafficType.TrafficTypeId + "," : "")
            optionLabel: "Show All Traffic Types",
            dataTextField: "Name",
            dataValueField: "TrafficTypeId",
            dataSource: {
                type: "json",
                transport: { read: "@Url.Content("~/api/TrafficTypes")" }
            },
            change: function() { ChangeFilter(false, true); }
        });

        //--------------------------------------
        // Copy button
        //--------------------------------------
        $('a#copy-campaign').zclip({
            path: '@Url.Content("~/Scripts/ZeroClipboard10.swf")',
            copy: CopySelection,
            afterCopy: AfterCopy
        });

    });

</script>
