@model EomToolWeb.Models.CampaignsListViewModel

<div id="CampaignListPagerTop" class="k-pager-wrap wikipager-top"></div>

<div id="listView" style="padding-top: 40px; padding-left: 15px"></div>

<div id="CampaignListPagerBottom" class="k-pager-wrap"></div>

<div id="divEditCampaign" title="Edit Campaign">
    <div id="divEditCampaignInner"></div>
</div>

<script type="text/javascript">

    var dataSource = null;
    var kendoListView = null;
    var theDataUrl = "";

    function DisplayCampaigns(dataUrl) {  
        theDataUrl = dataUrl;
        if(dataSource == null)
        {
            //--------------------------------------
            // Campaigns DataSource
            //--------------------------------------
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: function(options) {
                        $.ajax( {
                            url: theDataUrl,
                            data: options.data,
                            success: function(result) {
                                options.success(result);
                            }
                        });
                    },
                    update: function(options) {
                        $.ajax( {
                            type: 'POST',
                            url: "@Url.Action("Edit2", "Campaigns")",
                            data: options.data,
                            success: function(result) {
                                var campData = dataSource.get(options.data.Pid);
                                campData.Edited = true;
                                if (result) campData.ImportantDetailsHtml = result.ImportantDetailsHtml;
                                options.success(result);
                            },
                            error: function(result) {
                                alert('An error occurred while attempting to save.');
                            }
                        });
                    }
                },
                pageSize: @Model.ListViewMode.ItemsPerPage,
                schema: {
                    model: {
                        id: "Pid",
                        fields: {
                            Pid: { editable: false },
                            AdManagers: { editable: false },
                            AccountManagers: { editable: false },
                            Countries: { editable: false },
                            TrafficTypes: { editable: false },
                            Edited: { editable: false }
                        }
                    }
                },
                autoBind: false
            });

            //--------------------------------------
            // Campaigns ListView
            //--------------------------------------
            kendoListView = $("#listView").kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#listTemplate").html()),
                editTemplate: kendo.template($("#editTemplate").html()),
                dataBound: function () {
                },
                edit: function(e) {
                    e.item.animate({ height: '@(Model.ListViewMode.EditHeight)px', width: '@(Model.ListViewMode.EditWidth)px' }, 750 );
                },
                selectable: "multiple"
            });
                
            //--------------------------------------
            // Top Pager
            //--------------------------------------
            $("#CampaignListPagerTop").kendoPager({
                dataSource: dataSource
            });

            //--------------------------------------
            // Bottom Pager
            //--------------------------------------              
            $("#CampaignListPagerBottom").kendoPager({
                dataSource: dataSource
            });
        }
        dataSource.read();
    }

    function Expand(pid) {
        $('.pid'+pid+' .expandTable').toggle();
    }

@{
    string filter = "";
    filter += "?pid=";
    if (Model.Pid != null) { filter += Model.Pid; }
    filter += "&country=";
    if (Model.Country != null) { filter += Model.Country.CountryCode; }
    filter += "&search=";
    if (Model.SearchString != null) { filter += Model.SearchString; }
    filter +=  "&vertical=";
    if (Model.Vertical != null) { filter += Model.Vertical.Name; }
    filter += "&traffictype=";
    if (Model.TrafficType != null) { filter += Model.TrafficType.Name; }
}
    $(document).ready(function () {
        $(document).bind("TemplateLoaded", function(e, path) { 
            DisplayCampaigns("@Url.Content("~/api/campaignsapi")@(new HtmlString(filter))");
        });
        loader.loadTemplate("@Url.Content("~/Templates/Campaigns/_" + Model.ListViewMode.TemplateName + ".tmpl.htm")");
    });
</script>
