@model CampaignsListViewModel
@{
    ViewBag.Title = "Campaigns";
    Layout = "~/Views/Shared/_LayoutCampaignWiki.cshtml";
    if (Model.Country == null) {
        if (Model.SearchString != null && Model.SearchString.ToLower() == "cpm") { ViewBag.MenuItem = "CPM"; }
        else if (Model.Pid == null && Model.SearchString == null && Model.Vertical == null && Model.TrafficType == null) { ViewBag.MenuItem = "All"; }
    } else if (Model.Country.CountryCode == "US") {
        ViewBag.MenuItem = "US";
    }
}
<div>
    <input id="verticals" style="width: 200px; margin-top: 10px" />
    <input id="traffictypes" style="width: 180px; margin-top: 10px" />
    <input id="mobilelp" style="width: 120px; margin-top: 10px" />
</div>
<h2>Campaigns List</h2>
@if (Model.Country != null)
{
    <div>Country: @Model.Country.Name</div>
}
@if (Model.SearchString != null)
{
    <div>Search for: @Model.SearchString</div>
}
<div>@Model.Campaigns.Count() campaign@(Model.Campaigns.Count()==1 ? "" : "s")</div>
@foreach (var campaign in Model.Campaigns)
{
    <p id="camp@(campaign.Pid)">
        @Html.Partial("Show", new CampaignViewModel(campaign))
    </p>
}
<div id="divEditCampaign" title="Edit Campaign">
    <div id="divEditCampaignInner">
    </div>
</div>
@section scripts {
    <script type="text/javascript">
@{
    string currFilter = "";
    if (Model.Country != null) { currFilter += "&country=" + Model.Country.CountryCode; }
    if (Model.SearchString != null) { currFilter += "&searchstring=" + Model.SearchString; }
}
        function ChangeFilter() {
            var dataItem = $('#verticals').data("kendoDropDownList").dataItem();
            var vertical = '';
            if (dataItem.VerticalId != '') vertical = dataItem.Name;

            dataItem = $('#traffictypes').data("kendoDropDownList").dataItem();
            var traffictype = '';
            if (dataItem.TrafficTypeId != '') traffictype = dataItem.Name;

            dataItem = $('#mobilelp').data("kendoDropDownList").dataItem();
            var mobilelp = '';
            if (dataItem.value != '') mobilelp = dataItem.value;

            var url = '@(Url.Action("List", "Campaigns"))?vertical=' + vertical + '&traffictype=' + traffictype + '&mobilelp=' + mobilelp + '@(new HtmlString(currFilter))';
            document.location.href = url;
        }

        function EditCampaign(pid) {
            $.get('@Url.Action("Edit", "Campaigns")', { pid: pid }, function (data) {
                $('#divEditCampaignInner').html(data);
                $('#divEditCampaign').dialog("open");
            });
        }

        function SaveCampaign() {
            var url = '@Url.Action("Edit", "Campaigns")';
            $.post(url, $('#frmEditCampaign').serialize(), function (data) {
                var pid = $('#frmEditCampaign #Pid').val();
                ReloadCampaign(pid);
                $('#divEditCampaign').dialog("close");
            });
        }

        function ReloadCampaign(pid) {
            $.get('@Url.Action("Show", "Campaigns")', { pid: pid }, function (data) {
                $('#camp' + pid).html(data);
            });
        }

        $(function () {
            $("#verticals").kendoDropDownList({
                @((Model.Vertical != null) ? "value: " + Model.Vertical.VerticalId + "," : "")
                optionLabel: "Show All Verticals",
                dataTextField: "Name",
                dataValueField: "VerticalId",
                dataSource: {
                    type: "jsonp",
                    transport: { read: "@Url.Content("~/api/Verticals")" }
                },
                change: ChangeFilter
            });
            $("#traffictypes").kendoDropDownList({
                @((Model.TrafficType != null) ? "value: " + Model.TrafficType.TrafficTypeId + "," : "")
                optionLabel: "Show All Traffic Types",
                dataTextField: "Name",
                dataValueField: "TrafficTypeId",
                dataSource: {
                    type: "jsonp",
                    transport: { read: "@Url.Content("~/api/TrafficTypes")" }
                },
                change: ChangeFilter
            });
            $("#mobilelp").kendoDropDownList({
                @if (Model.MobileLP != null) { <text>value: "@Model.MobileLP",</text> }
                optionLabel: "Mobile LP?",
                dataTextField: "text",
                dataValueField: "value",
                dataSource: [{ text: "MobileLP: Yes", value: "yes" }, { text: "MobileLP: No", value: "no" }],
                change: ChangeFilter
            });
            $("#divEditCampaign").dialog({
                autoOpen: false,
                height: 800,
                width: 600,
                modal: true,
                buttons: {
                    Save: SaveCampaign,
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
}
