@model IEnumerable<DirectAgents.Domain.Entities.Country>
@using DirectAgents.Domain.Entities
@{
    ViewBag.Title = "Campaigns By Country";
    ViewBag.MenuItem = "ByCountry";
    ViewBag.NoSearch = true;
    Layout = "~/Views/Shared/_LayoutCampaignWiki.cshtml";
    var countryCodes = Model.OrderBy(country => country.CountryCode).Select(country => country.CountryCode);
}

<div style="margin-left: 30px">

    <h2>Campaigns By Country</h2>
    <br />
    @{
        foreach (var country in Model.OrderBy(c => c.CountryCode))
        {
            <a href="#@country.CountryCode"><b>@country.CountryCode</b>&nbsp;(@country.ActiveCampaigns.Count())</a>
        }
    }

    @foreach (var country in Model)
    {
        <span id="@country.CountryCode"></span>
        <hr />
        <br />
        <h3>@Html.ActionLink(country.CountryCode, "List2", new { country = country.CountryCode }):</h3>
        <ol>
        @foreach (var campaign in country.ActiveCampaigns.OrderBy(c => c.Countries.Count() > 1).ThenBy(c => c.Name))
        {
            <li>@Html.ActionLink(campaign.Name, "List2", new { pid = campaign.Pid })</li>
        }
        </ol>
    }
</div>
