@model CampaignsListViewModel
@{
    ViewBag.Title = "Campaigns";
    Layout = "~/Views/Shared/_LayoutCampaignWiki.cshtml";
}
<div>
    <input id="verticals" style="width: 250px; margin-top: 10px" />
</div>
<h2>Campaigns List</h2>
@if (Model.Country != null)
{
    <div>Country: @Model.Country.Name</div>
}
<div>@Model.Campaigns.Count() campaigns</div>
@foreach (var campaign in Model.Campaigns)
{
    <p id="camp@(campaign.Pid)">
        @Html.Partial("Show", new CampaignViewModel(campaign))
    </p>
}
<div id="divEditCampaign" title="Edit Campaign">
    <div id="divEditCampaignInner">
    </div>
</div>
@section scripts {
    <script type="text/javascript">
@{
    string currFilter = "";
    if (Model.Country != null) { currFilter = "&country=" + Model.Country.CountryCode; }
}
        function ChangeVertical() {
            var dataItem = $('#verticals').data("kendoDropDownList").dataItem();
            if (dataItem.VerticalId != '')
            {
                var url = '@(Url.Action("List", "Campaigns"))?vertical=' + dataItem.Name + '@(new HtmlString(currFilter))';
                document.location.href = url;
            }
        }

        function EditCampaign(pid) {
            $.get('@Url.Action("Edit", "Campaigns")', { pid: pid }, function (data) {
                $('#divEditCampaignInner').html(data);
                $('#divEditCampaign').dialog("open");
            });
        }

        function SaveCampaign() {
            var url = '@Url.Action("Edit", "Campaigns")';
            $.post(url, $('#frmEditCampaign').serialize(), function (data) {
                var pid = $('#frmEditCampaign #Pid').val();
                ReloadCampaign(pid);
                $('#divEditCampaign').dialog("close");
            });
        }

        function ReloadCampaign(pid) {
            $.get('@Url.Action("Show", "Campaigns")', { pid: pid }, function (data) {
                $('#camp' + pid).html(data);
            });
        }

        $(function () {
            $("#verticals").kendoDropDownList({
                @((Model.Vertical != null) ? "value: " + Model.Vertical.VerticalId + "," : "")
                placeholder: "Select vertical",
                optionLabel: "Select vertical...",
                dataTextField: "Name",
                dataValueField: "VerticalId",
                dataSource: {
                    type: "jsonp",
                    transport: { read: "@Url.Content("~/api/Verticals")" }
                },
                change: ChangeVertical
            });
            $("#divEditCampaign").dialog({
                autoOpen: false,
                height: 800,
                width: 500,
                modal: true,
                buttons: {
                    Save: SaveCampaign,
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
}
