@model CampaignViewModel
<img src="@Model.ImageUrl" alt="@Model.Name" id="campaign-image-@Model.Pid" class="campaign-image" /> @Model.AdManagers, @Model.AccountManagers
<br />
<b>@Model.Name</b> <a href="#" onclick="EditCampaign(@Model.Pid); return false">Edit</a>
<br />
@Model.Description
<br />
Payable Action: @Model.PayableAction
<br />
Traffic Type: @Model.TrafficTypes
<br />
Vertical: @Model.Vertical
<br />
Link:<a href="@Model.Link">@Model.Link</a>
<br />
Payout: @Model.CostCurrency@Model.Cost
<br />
<b>Restrictions:</b>
@if (Model.Restrictions != null) { <br />@MvcHtmlString.Create(Model.RestrictionsHtml) }
<br />
<b>Important Details:</b>
@if (Model.ImportantDetails != null) { <br />@MvcHtmlString.Create(Model.ImportantDetailsHtml) }
<br />
Budget: @Model.Budget
<br />
Payout to Direct Agents: @Model.RevenueCurrency@Model.Revenue
<br />
Passed Information: @Model.PassedInfo
<br />
Campaign Cap: @Model.CampaignCap
<br />
Scrub Policy: @Model.ScrubPolicy
<br />
EOM Info: @Model.EomNotes
<br />
Countries: @Model.CountryCodes
<br />
