@model CampaignViewModel
<img src="@Model.ImageUrl" alt="@Model.Name" /> @Model.AdManagers, @Model.AccountManagers
<br />
<b>@Model.Name</b> <a href="#" onclick="EditCampaign(@Model.Pid); return false">Edit</a>
<br />
@Model.Description
<br />
Payable Action: @Model.PayableAction
<br />
Traffic Type: Banners, Email, Contextual, search allowed (with restrictions) 
<br />
Category: @Model.Vertical
<br />
Link:<a href="@Model.OfferLink">@Model.OfferLink</a>
<br />
Payout: @Model.Payout
<br />
Payout to Direct Agents: @Model.Revenue
<br />
Important Details: @Model.ImportantDetails
<br />
BannedNetworks: @Model.BannedNetworks
<br />
CampaignCap: @Model.CampaignCap
<br />
ScrubPolicy: @Model.ScrubPolicy
<br />
EOM Info: @Model.EomNotes
<br />
Countries: @Model.CountryCodes
<br />
@*
Campaign Budget: 100 leads per day until further notice. 
*@