@model DirectAgents.Domain.Entities.Campaign
@{
    var campaign = Model;
}

<b style="font-size:large">@campaign.Name</b>
<a href="#" onclick="EditCampaign(@campaign.Pid); return false">Edit</a><br />

Pid - @campaign.Pid<br />
Description - @campaign.Description<br />
Ad Managers -
@{
    var ad_mgrs = string.Join(", ", campaign.AdManagers.Select(am => am.Name));
    @ad_mgrs
}
<br />
Account Managers -
@{
    var acct_mgrs = string.Join(", ", campaign.AccountManagers.Select(am => am.Name));
    @acct_mgrs
}
<br />
Countries - @campaign.Countries<br />
