@model CampaignViewModel
<img src="@Model.ImageUrl" alt="@Model.Name" /> @Model.AdManagers, @Model.AccountManagers
<br />
<b>@Model.Name</b> <a href="#" onclick="EditCampaign(@Model.Pid); return false">Edit</a>
<br />
@Model.Description
<br />
Payable Action: @Model.PayableAction
<br />
Traffic Type: @Model.TrafficTypes
<br />
Vertical: @Model.Vertical
<br />
Link:<a href="@Model.OfferLink">@Model.OfferLink</a>
<br />
Payout: @Model.CostCurrency@Model.Cost
<br />
Payout to Direct Agents: @Model.RevenueCurrency@Model.Revenue
<br />
<b>Important Details:</b><br />
@Model.ImportantDetails
<br />
Banned Networks: @Model.BannedNetworks
<br />
Campaign Cap: @Model.CampaignCap
<br />
Scrub Policy: @Model.ScrubPolicy
<br />
EOM Info: @Model.EomNotes
<br />
Countries: @Model.CountryCodes
<br />
@*
Campaign Budget: 100 leads per day until further notice. 
*@