@model CampaignViewModel
<img src="@Model.ImageUrl" alt="@Model.Name" id="campaign-image-@Model.Pid" class="campaign-image" /> @Model.AdManagers, @Model.AccountManagers
<br />
<b>@Model.Name</b> <a href="#" onclick="EditCampaign(@Model.Pid); return false">Edit</a>
<br />
@Model.Description
<br />
Payable Action: @Model.PayableAction
<br />
Traffic Type: @Model.TrafficTypes
<br />
Vertical: @Model.Vertical
<br />
Link:<a href="@Model.Link">@Model.Link</a>
<br />
Payout:
@if (Model.DefaultPriceFormat == "RevShare")
{
    @Model.Cost<text>%</text>
} else {
    @Model.CostCurrency@Model.Cost
}
<br />
<b>Restrictions:</b>
@if (!string.IsNullOrWhiteSpace(Model.Restrictions)) { <br />@MvcHtmlString.Create(Model.RestrictionsHtml) }
<br />
@if (!string.IsNullOrWhiteSpace(Model.ImportantDetails)) {
    <b>Important Details (from Wiki):</b><br />
    @MvcHtmlString.Create(Model.ImportantDetailsHtml)<br />
}
Budget: @Model.Budget
<br />
Payout to Direct Agents:
@if (Model.RevenueIsPercentage)
{
    @Model.Revenue<text>%</text>
} else {
    @Model.RevenueCurrency@Model.Revenue
}
<br />
Passed Information: @Model.PassedInfo
<br />
Lead Caps: @Model.CampaignCap
<br />
Scrub Policy: @Model.ScrubPolicy
<br />
EOM Info: @Model.EomNotes
<br />
Countries: @Model.CountryCodes
<br />
Default Price Format: @Model.DefaultPriceFormat
<br />
Status: @Model.Status
<br />
Hidden: @Model.Hidden
<br />
