@model ClientPortal.Web.Areas.Admin.Models.CampaignDropWizardVM
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmDropsTab");
}

<h3>Drop Wizard</h3>

Next Step: <b>Add Creatives</b>
<table><tr><td>
Add one or more creatives to the drop. If available, add a creative of type "Email" first.
<br /><br />
When done:
@if (Model.CampaignDrop.CreativeStats.Any())
{
    @Ajax.ActionLink("Synch creative stats", "SynchCreativeStats", new { id = Model.CampaignDrop.CampaignDropId }, ajaxOptions)
} else {
    <a href="#" onclick="alert('You must first add a creative to the drop.'); return false">Synch creative stats</a>
}
<br /><br />

@{
    ViewBag.ShowDropDetails = false;
}
@Html.Partial("ShowDrop", Model.CampaignDrop)

@if (Model.CampaignDrop.CreativeStats.Any())
{
    <text>Next: </text>
    @Ajax.ActionLink("Synch creative stats", "SynchCreativeStats", new { id = Model.CampaignDrop.CampaignDropId }, ajaxOptions)
    <br /><br />
}

</td></tr></table>

@Ajax.ActionLink("Back", "Show", new { id = Model.CampaignDrop.CampaignDropId, step = (int)(Model.Step - 1) }, ajaxOptions) |
@Ajax.ActionLink("Skip", "Show", new { id = Model.CampaignDrop.CampaignDropId, step = (int)(Model.Step + 1) }, ajaxOptions)
<br /><br />