@model ClientPortal.Web.Areas.Admin.Models.CampaignDropWizardVM
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmDropsTab");
    var ajaxOpts_Report = RazorHelpers.GetAjaxOptions("cpmReportsTab", "navCPMReports");
    var ajaxOpts_Sum = RazorHelpers.GetAjaxOptions("cpmSummaryTab", "navCPMSummary");
}

<h3>Drop Wizard</h3>

Last Step: <b>Final Review</b>
<table><tr><td>

Review the stats for the drop and make any adjustments as needed.
You can also <i>add a thumbnail</i> for the first creative.
<br /><br />

When done, continue to:
@Ajax.ActionLink("Report Wizard - Review Drops", "Show", "CPMReportsWizard", new { offerid = Model.CampaignDrop.Campaign.OfferId, step = (int)ClientPortal.Web.Areas.Admin.Models.CPMReportWizardVM.WizardStep.ReviewDrops }, ajaxOpts_Report)

@if (!Model.FromReportWizard)
{
    <br />
    <text>Or:</text>
    @Ajax.ActionLink("Create another drop", "Show", new { id = (int?)null, offerid = Model.CampaignDrop.Campaign.OfferId }, ajaxOptions)
}
<br /><br />

To edit, switch to:
@Ajax.ActionLink("Edit Mode", "Show", new { id = Model.CampaignDrop.CampaignDropId, step = (int)ClientPortal.Web.Areas.Admin.Models.CampaignDropWizardVM.WizardStep.FinalReviewEdit }, ajaxOptions)

@{
    ViewBag.ShowCreativeStats = true;
    ViewBag.ShowAddRemoveCreatives = false;
    ViewBag.ShowCreativeThumbnailLink = true;
    ViewBag.ShowWizardEditLink = true;
}
@Html.Partial("ShowDrop", Model.CampaignDrop)

</td></tr></table>

@Ajax.ActionLink("Back", "Show", new { id = Model.CampaignDrop.CampaignDropId, step = (int)(Model.Step - 1) }, ajaxOptions)
<br /><br />