@model AuditVM

Accounting Period: @Model.CurrentEomDateString
<table>
<tr>
    <th>AuditID</th>
    <th>Date</th>
    <th>HostName</th>
    <th>SysUser</th>
    <th>Operation</th>
    <th>PKey</th>
    <th>Column</th>
    <th>OldValue</th>
    <th>NewValue</th>
</tr>
@foreach (var a in Model.Audits)
{
<tr>
    <td style="text-align:right">@a.AuditID</td>
    <td style="text-align:center">@a.AuditDate</td>
    <td>@a.HostName</td>
    <td>@Html.ActionLink(a.SysUser, "Entries", new { sysuser = a.SysUser })</td>
    <td style="text-align:center">@a.Operation</td>
    <td style="text-align:center">@Html.ActionLink(a.PrimaryKey, "Entries", new { primarykey = a.PrimaryKey })</td>
    <td>@a.ColumnName</td>
    <td style="text-align:center">@a.OldValue</td>
    <td style="text-align:center">@a.NewValue</td>
</tr>
}
</table>

@if (Model.Item != null)
{
    <br />
    <b>Current State of item:</b>
    Html.RenderPartial("Item", Model.Item);
}

<br />
@Html.ActionLink("Audit Viewer Home", "Index")
