@model AuditVM

<b>Daily Summary</b> - @Model.CurrentEomDateString

<table>
<tr>
    <th></th>
    <th>Updates</th>
    <th>Inserts</th>
    <th>Deletes</th>
</tr>
@foreach (var aSum in Model.AuditSummaries)
{
    var dateString = "";
    if (aSum.Date.HasValue)
    {
        dateString = aSum.Date.Value.ToShortDateString();
    }
<tr>
    <td style="text-align:center">
        @if (aSum.Date.HasValue) {
            @Html.ActionLink(aSum.Date.Value.ToShortDateString(), "Entries", new { date = dateString })
        }
    </td>
    <td style="text-align:right">
        @if (aSum.Date.HasValue) {
            @Html.ActionLink(aSum.NumUpdates.ToString(), "Entries", new { date = dateString, operation = "u" })
        } else {
            @aSum.NumUpdates
        }
    </td>
    <td style="text-align:right">
        @if (aSum.Date.HasValue) {
            @Html.ActionLink(aSum.NumInserts.ToString(), "Entries", new { date = dateString, operation = "i" })
        } else {
            @aSum.NumInserts
        }
    </td>
    <td style="text-align:right">
        @if (aSum.Date.HasValue) {
            @Html.ActionLink(aSum.NumDeletes.ToString(), "Entries", new { date = dateString, operation = "d" })
        } else {
            @aSum.NumDeletes
        }
    </td>
</tr>
}
</table>
<br />
@Html.ActionLink("Audit Viewer Home", "Index")
