@model ClientPortal.Data.Contexts.DropReport

<h3>Report Preview</h3>

<table border="1">
    <tr>
        <th>List</th>
        <th>Date</th>
        <th>Volume</th>
        <th>Opens</th>
        <th>Clicks</th>
        <th>Leads</th>
        <th>Total Cost</th>
    </tr>
@foreach (var drop in Model.CampaignDrops)
{
    <tr>
        <td>@drop.Campaign.AffiliateId</td>
        <td>@drop.Date.ToShortDateString()</td>
        <td>@(drop.Volume.HasValue ? drop.Volume.Value.ToString("N0") : "")</td>
        <td>@(drop.Opens.HasValue ? drop.Opens.Value.ToString("N0") : "")<br />
            Open Rate: @(drop.OpenRate.HasValue ? String.Format("{0:0.00%}", drop.OpenRate.Value) : "")</td>
        <td>@drop.CreativeStatTotals.Clicks.Value.ToString("N0")<br />
            CTR: @(drop.ClickThroughRate.HasValue ? String.Format("{0:0.00%}", drop.ClickThroughRate.Value) : "")
        </td>
        <td>@drop.CreativeStatTotals.Leads.Value.ToString("N0")<br />
            eCPL: @(drop.CostPerLead.HasValue ? drop.CostPerLead.Value.ToString("C2") : "")
        </td>
        <td>@(drop.Cost.HasValue ? drop.Cost.Value.ToString("C2") : "")</td>
    </tr>
    if (drop.CreativeStats.Count > 1)
    {
        foreach (var creativeStat in drop.CreativeStats)
        {
            <tr>
                <td></td>
                <td></td>
                <td colspan="2">Creative: @creativeStat.Creative.CreativeName</td>
                <td>@(creativeStat.Clicks.HasValue ? creativeStat.Clicks.Value.ToString("N0") : "")<br />
                    CTR: @(creativeStat.ClickThroughRate.HasValue ? String.Format("{0:0.00%}", creativeStat.ClickThroughRate.Value) : "")</td>
                <td>@(creativeStat.Leads.HasValue ? creativeStat.Leads.Value.ToString("N0") : "")</td>
            </tr>
        }
    }
}
    @* Totals *@
    <tr>
        <td colspan="2">TOTAL:</td>
        <td>@Model.TotalVolume.ToString("N0")</td>
        <td>@Model.TotalOpens.ToString("N0")</td>
        <td>@Model.TotalClicks.ToString("N0")</td>
        <td>@Model.TotalLeads.ToString("N0")</td>
        <td>@Model.TotalCost.ToString("C2")</td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td>CTR:</td>
        <td>@String.Format("{0:0.00%}", Model.ClickThroughRate)</td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td>Open Rate:</td>
        <td>@String.Format("{0:0.00%}", Model.OpenRate)</td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td>eCPA:</td>
        <td>@Model.CostPerLead.ToString("C2")</td>
    </tr>
    <tr>
        <td colspan="5"></td>
        <td>Conversion:</td>
        <td>@String.Format("{0:0.00%}", Model.ConversionRate)</td>
    </tr>
</table>