@model ClientPortal.Data.Contexts.CreativeStat

<fieldset>
    <legend>Creative</legend>
    @Html.HiddenFor(m => m.CreativeStatId)
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Creative.CreativeName)</td>
            <td>@Html.EditorFor(m => m.Creative.CreativeName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Clicks)</td>
            <td>@Html.EditorFor(m => m.Clicks)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Leads)</td>
            <td>@Html.EditorFor(m => m.Leads)</td>
        </tr>
    </table>
</fieldset>
