@model ClientPortal.Data.Entities.TD.TradingDeskAccount
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("tdAccountsTab");
    var ajaxOpts_Post = RazorHelpers.GetAjaxOptions("tdAccountsTab", null, "Post");
}

@using (Ajax.BeginForm(ajaxOpts_Post))
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>Create UserProfile</legend>
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.TradingDeskAccountId)</td>
                <td>@Html.DisplayFor(m => m.TradingDeskAccountId)</td>
            </tr>
            <tr>
                <td>@Html.Label("Username")</td>
                <td>@Html.TextBox("username")</td>
            </tr>
            <tr>
                <td>@Html.Label("Password")</td>
                <td>@Html.TextBox("password", null, new { id = "tdPassword" })<input type="button" value="Generate Password" onclick="GenerateTDPassword()" /></td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Save" />
            &nbsp;@Ajax.ActionLink("cancel", "TradingDeskAccounts", ajaxOptions)
    </fieldset>
}

<script>
    function GenerateTDPassword() {
        var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
        var string_length = 8;
        var randomstring = '';
        for (var i = 0; i < string_length; i++) {
            var rnum = Math.floor(Math.random() * chars.length);
            randomstring += chars.substring(rnum, rnum + 1);
        }
        $('#tdPassword').val(randomstring);
    }
</script>