@model ClientPortal.Data.Entities.TD.TradingDeskAccount
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("tdAccountsTab");
    var ajaxOpts_Post = RazorHelpers.GetAjaxOptions("tdAccountsTab", null, "Post");
}

@using (Ajax.BeginForm(ajaxOpts_Post))
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>Edit Account</legend>
        @Html.HiddenFor(m => m.TradingDeskAccountId)
        <div style="float:left">
            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.TradingDeskAccountId, "Id:")</td>
                    <td>@Html.DisplayFor(m => m.TradingDeskAccountId)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.DisplayName, "Name:")</td>
                    <td>@Html.DisplayFor(m => m.DisplayName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Login)</td>
                    <td>@Html.DisplayFor(m => m.Login)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.ShowConversions)</td>
                    <td>@Html.EditorFor(m => m.ShowConversions)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.FixedMetricName, "FixedMetric")</td>
                    <td>@Html.DropDownListFor(m => m.FixedMetricName, ViewData["FixedMetricItems"] as List<SelectListItem>)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.FixedMetricValue)</td>
                    <td>@Html.TextBoxFor(m => m.FixedMetricValue, "{0:0.##########}")</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.ManagementFeePct)</td>
                    <td>@Html.EditorFor(m => m.ManagementFeePct)</td>
                </tr>
            </table>
        </div>
        <div style="float:left; margin-left:20px">
            DBM Insertion Orders:<br />
            @if (Model.InsertionOrders != null && Model.InsertionOrders.Count > 0)
            {
                foreach (var io in Model.InsertionOrders) {
                    <text>- @io.InsertionOrderName [@io.InsertionOrderID]</text>
                    <i>@Ajax.ActionLink("edit", "EditInsertionOrder", new { id = io.InsertionOrderID }, ajaxOptions)</i><br />
                }
            }
            <i>@Ajax.ActionLink("Add New...", "CreateInsertionOrder", new { tdaId = Model.TradingDeskAccountId }, ajaxOptions)</i><br />
            <br/>
            AdRoll Profiles:<br />
            @if (Model.AdRollProfiles != null && Model.AdRollProfiles.Count > 0)
            {
                foreach (var arp in Model.AdRollProfiles) {
                    <text>- </text>@arp.Name
                    <i>@Ajax.ActionLink("edit", "EditAdRollProfile", new { id = arp.Id }, ajaxOptions)</i><br />
                }
            }
            <i>@Ajax.ActionLink("Add New", "CreateNextAdRollProfile", new { tdaId = Model.TradingDeskAccountId }, ajaxOptions)</i><br />
        </div>
        <br style="clear:both" />
        <div style="margin-top:10px">
            <input type="submit" value="Save" />
            &nbsp;@Ajax.ActionLink("cancel", "TradingDeskAccounts", ajaxOptions)
        </div>
    </fieldset>
}

<b>Compute SpendMultiplier:</b><br />
Specify a management fee and desired margin (both as percents). Then click "Recompute".
<table>
    <tr>
        <td>ManagementFee%</td>
        <td><input id="inputMgmtFeePct" type="text" /></td>
    </tr>
    <tr>
        <td>DesiredMargin%</td>
        <td><input id="inputDesiredMarginPct" type="text" /></td>
    </tr>
    <tr>
        <td>SpendMultiplier:</td>
        <td id="tdSpendMult"></td>
    </tr>
    <tr>
        <td colspan="2"><input type="button" value="Recompute" onclick="ComputeSpendMult()" /></td>
    </tr>
</table>
<br />

<script>
    function ComputeSpendMult() {
        var mgmtFeePct = $('#inputMgmtFeePct').val();
        var desiredMarginPct = $('#inputDesiredMarginPct').val();
        if ($.trim(mgmtFeePct).length === 0 || isNaN(mgmtFeePct) ||
            $.trim(desiredMarginPct).length === 0 || isNaN(desiredMarginPct))
        {
            $('#tdSpendMult').html('?');
        } else {
            var onePlusMgmtFee = 1 + (mgmtFeePct / 100);
            var oneMinusMargin = 1 - (desiredMarginPct / 100);
            var spendMult = 1 / (onePlusMgmtFee * oneMinusMargin);
            $('#tdSpendMult').html(spendMult);
        }
    }
</script>