@model ClientPortal.Data.Entities.TD.TradingDeskAccount
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("tdAccountsTab");
    var ajaxOpts_Post = RazorHelpers.GetAjaxOptions("tdAccountsTab", null, "Post");
}

@using (Ajax.BeginForm(ajaxOpts_Post))
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>Edit Account</legend>
        @Html.HiddenFor(m => m.TradingDeskAccountId)
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.DisplayName, "Account:")</td>
                <td>@Html.DisplayFor(m => m.DisplayName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ShowConversions)</td>
                <td>@Html.EditorFor(m => m.ShowConversions)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.FixedMetricName, "FixedMetric")</td>
                <td>@Html.DropDownListFor(m => m.FixedMetricName, ViewData["FixedMetricItems"] as List<SelectListItem>)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.FixedMetricValue)</td>
                <td>@Html.TextBoxFor(m => m.FixedMetricValue, "{0:0.##########}")</td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Save" />
            &nbsp;@Ajax.ActionLink("cancel", "TradingDeskAccounts", ajaxOptions)
    </fieldset>
}
