@model IEnumerable<ClientPortal.Data.Entities.TD.TradingDeskAccount>

@{
    //ViewBag.Title = "";
    var ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "tdAccountsTab"
    };
}

@Ajax.ActionLink("Refresh", "TradingDeskAccounts", ajaxOptions)

<table border="1">
    <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Login</th>
        <th>ShowConv?</th>
        <th>FixedMetric</th>
        <th>MgmtFeePct</th>
    </tr>
@foreach (var tda in Model)
{
    <tr>
        <td>@Ajax.ActionLink("Edit", "EditAccount", new { tdaId = tda.TradingDeskAccountId }, ajaxOptions)</td>
        <td>@tda.TradingDeskAccountId</td>
        <td>@tda.DisplayName</td>
        <td>
            @if (tda.UserProfiles.Count() > 0) {
                @tda.Login
            } else { // hide this?
                @Ajax.ActionLink("create", "CreateUserProfile", new { tdaId = tda.TradingDeskAccountId }, ajaxOptions)
            }
        </td>
        <td>@(tda.ShowConversions ? "yes" : "no")</td>
        <td>@tda.FixedMetricDisplay</td>
        <td>@tda.ManagementFeePct</td>
    </tr>
}
</table>