@model IEnumerable<ClientPortal.Data.Entities.TD.TradingDeskAccount>

@{
    //ViewBag.Title = "";
    var ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "tdAccountsTab"
    };
}

Show:
@*All Advertisers |*@
@Ajax.ActionLink("Insertion Orders", "InsertionOrders", ajaxOptions)
<br /><br />

<table border="1">
    <tr>
        <th></th>
        <th>Account</th>
        <th>Login</th>
        <th>ShowConversions?</th>
    </tr>
@foreach (var tda in Model)
{
    <tr>
        <td>@Ajax.ActionLink("Edit", "EditAccount", new { tdaId = tda.TradingDeskAccountId }, ajaxOptions)</td>
        <td>
            @if (tda.Advertisers.Count() > 0) {
                @(String.Join(", ", tda.Advertisers.Select(a => a.AdvertiserName).ToArray()))
            }
        </td>
        <td>
            @if (tda.UserProfiles.Count() > 0) {
                @(String.Join(", ", tda.UserProfiles.Select(u => u.UserName).ToArray()))
            //} else {
            //    @Ajax.ActionLink("create", "CreateUserProfile", new { tdaId = tda.TradingDeskAccountId }, ajaxOptions)
            }
        </td>
        <td>@(tda.ShowConversions ? "yes" : "no")</td>
    </tr>
}
</table>