@model IEnumerable<ClientPortal.Data.Entities.TD.AdRoll.AdRollProfile>

@{
    //ViewBag.Title = "";
    var ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "tdUploadTab"
    };
    var profileSelectList = new SelectList(Model, "Id", "Name");
}

<h3>Upload Stats File</h3>

<table><tr><td>
<form method="post" action="@Url.Action("Upload")" enctype="multipart/form-data">
    <div>
        @Html.DropDownList("selectAdRollProfile", profileSelectList, "Select AdRollProfile...", new { onchange = "ProfileChange()" })
    </div>
    <div id="divFileUpload" style="display:none">
        <br />
        <input id="fileUpload" name="file" type="file" />
    </div>
</form>

<div id="divStatsRollup"></div>
<br />

<div style="display:none" id="divComplete">
    <div id="divUploadStatus"></div>
    <br />
    @Ajax.ActionLink("Reset Tab", "Upload", ajaxOptions)
</div>
</td></tr></table>

<script>
    function ProfileChange() {
        var profileId = $('#selectAdRollProfile').val();
        if (profileId) {
            $.get('@Url.Action("StatsRollup")', { profileid: profileId }, function (result) {
                $('#divFileUpload').show();
                $('#divStatsRollup').html(result);
            });
        } else {
            $('#divFileUpload').hide();
            $('#divStatsRollup').html("");
        }
    }

    $(function () {
        $("#fileUpload").kendoUpload({
            async: {
                saveUrl: "@Url.Action("Upload")",
                autoUpload: false
            },
            localization: {
                select: "Select&nbsp;file...",
                uploadSelectedFiles: "Upload"
            },
            multiple: false,
            upload: OnUpload,
            success: UploadSuccess,
            error: UploadError,
            complete: UploadComplete,
        });
    });

    function OnUpload(e) {
        var profileId = $('#selectAdRollProfile').val();
        if (profileId)
            e.data = { profileid: profileId };
        else {
            alert('Please select an AdRollProfile.');
            e.preventDefault();
        }
    }

    function UploadError(e) {
        if (e.operation == "upload")
            $('#divUploadStatus').html('Error uploading file');
    }
    function UploadSuccess(e) {
        $('#divUploadStatus').html('<b>Upload Complete</b><br/>' + e.response.status);
    }
    function UploadComplete(e) {
        $('#divComplete').show();
    }
</script>