@model ClientPortal.Data.Contexts.Offer
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmSummaryTab");

    bool inWizard = ViewBag.InWizard ?? false;
    string parentSel = inWizard ? "#cpmReportsTab" : "#cpmSummaryTab";
    string setupFunc = "SetupOfferLogoUploadEl" + (inWizard ? "_wiz" : "");
    string onUploadFunc = "onUploadOfferLogoComplete" + (inWizard ? "_wiz" : "");
}

@if (!inWizard)
{
    <h3>@(Model.Logo == null ? "Add Logo" : "View/Edit Logo")</h3>
}
<div id="divEditOfferLogo">
    @Html.Partial("../Offers/EditLogoInner", Model)
</div>

@if (!inWizard)
{
    <div>
        @Ajax.ActionLink("Back to Offer Summary", "Show", "Offers", new { id = Model.OfferId }, ajaxOptions)
    </div>
}

<script>
    $(function () {
        @(setupFunc)();
    });

    function @(setupFunc)() {
        $("@parentSel #offerLogoUpload").kendoUpload({
            async: {
                saveUrl: "@Url.Action("UploadLogo", "Offers")",
                autoUpload: false
            },
            upload: function(e) {
                e.data = { id: @Model.OfferId };
            },
            localization: {
                select: "Select File...",
                uploadSelectedFiles: "Upload"
            },
            multiple: false,
            complete: @onUploadFunc
        });
    }

    function @(onUploadFunc)() {
        $.ajax({
            url: '@Url.Action("EditLogo", "Offers")',
            data: {
                id: @Model.OfferId,
                inner: true
            },
            cache: false
        }).done(function (html) {
            $("@parentSel #divEditOfferLogo").html(html);
            @(setupFunc)();
        });
    }
</script>
