@model ClientPortal.Data.Contexts.Offer
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmSummaryTab");
    var header = "View/Edit Logo";
    if (Model.Logo == null) {
        header = "Add Logo";
    }
    bool showHeader = ViewBag.ShowHeader ?? true;
    bool showFooter = ViewBag.ShowFooter ?? true;
    string parentSel = ViewBag.ParentSel ?? "#cpmSummaryTab";
}

@if (showHeader)
{
    <h3>@header</h3>
}
<div id="divEditOfferLogo">
    @Html.Partial("../Offers/EditLogoInner", Model)
</div>

@if (showFooter)
{
    <div>
        @Ajax.ActionLink("Back to Offer Summary", "Show", "Offers", new { id = Model.OfferId }, ajaxOptions)
    </div>
}

<script>
    $(function () {
        SetupLogoUploadElement();
    });

    function SetupLogoUploadElement() {
        $("@parentSel #offerLogoUpload").kendoUpload({
            async: {
                saveUrl: "@Url.Action("UploadLogo", "Offers")",
                autoUpload: false
            },
            upload: function(e) {
                e.data = { id: @Model.OfferId };
            },
            localization: {
                select: "Select File...",
                uploadSelectedFiles: "Upload"
            },
            multiple: false,
            complete: onUploadComplete
        });
    }

    function onUploadComplete() {
        $.ajax({
            url: '@Url.Action("EditLogo", "Offers")',
            data: {
                id: @Model.OfferId,
                inner: true
            },
            cache: false
        }).done(function (html) {
            $("@parentSel #divEditOfferLogo").html(html);
            SetupLogoUploadElement();
        });
    }
</script>
