@model IEnumerable<ClientPortal.Data.Contexts.Offer>
@{
    var accountManagers = Model.Select(o => o.Advertiser).Distinct().Where(a => a.AccountManagerId != null).Select(a => a.AccountManager).Distinct().OrderBy(am => am.FullName);
}

<h2>Offers</h2>

@if (accountManagers.Count() == 1)
{
    <text>Account Manager: </text>@accountManagers.First().FullName
}

<table border="1">
    <tr>
        <th>AdvId</th>
        <th>Advertiser</th>
        <th>OfferId</th>
        <th>Offer (click for summary)</th>
        <th>Drilldown</th>
    </tr>
@foreach (var offer in Model)
{
    var reportsText = "reports (" + offer.CPMReports.Count + ")";
    int numDrops = offer.Campaigns.Sum(c => c.CampaignDrops.Count);//.SelectMany(c => c.CampaignDrops).Count();
    var dropsText = "drops (" + numDrops + ")";
    int numCampaigns = offer.Campaigns.Count;
    var campaignsText = "campaigns (" + numCampaigns + ")";
    var creativesText = "creatives (" + offer.Creatives.Count + ")";
    <tr>
        <td>@offer.AdvertiserId</td>
        <td>@offer.Advertiser.AdvertiserName</td>
        <td>@offer.OfferId</td>
        <td>@Html.ActionLink(offer.OfferName, "Show", new { id = offer.OfferId })</td>
        <td>@Html.ActionLink(reportsText, "Index", "CPMReports", new { offerid = offer.OfferId }, null)
            &nbsp; | &nbsp; @Html.ActionLink(dropsText, "Index", "CampaignDrops", new { offerid = offer.OfferId }, null)
            &nbsp; | &nbsp; @Html.ActionLink(campaignsText, "Index", "Campaigns", new { offerid = offer.OfferId }, null)
            &nbsp; | &nbsp; @Html.ActionLink(creativesText, "Index", "Creatives", new { offerid = offer.OfferId }, null)
        </td>
    </tr>
}
</table>
<br />Show:
@Html.ActionLink("all offers", "Index", "Offers") |
@Html.ActionLink("all offers with campaigns", "Index", "Offers", new { mincampaigns = 1 }, null)
@if (accountManagers.Count() > 1)
{
    <br /><br />
    <text>Filter by Account Manager:</text><br />
    foreach (var am in accountManagers)
    {
        @Html.ActionLink(am.FullName, "Index", "Offers", new { am = am.CakeContactId }, null)<br />
    }
}
