@model IEnumerable<ClientPortal.Data.Contexts.Offer>
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmOffersTab");
    var ajaxOpts_Sum = RazorHelpers.GetAjaxOptions("cpmSummaryTab", "navCPMSummary");
    var ajaxOpts_Creative = RazorHelpers.GetAjaxOptions("cpmCreativesTab", "navCPMCreatives");
    var advertisers = Model.Select(o => o.Advertiser).Distinct(new ClientPortal.Data.Contexts.AdvertiserComparer()).OrderBy(a => a.AdvertiserName);
    var accountManagers = Model.Select(o => o.Advertiser).Distinct().Where(a => a.AccountManagerId != null).Select(a => a.AccountManager).Distinct().OrderBy(am => am.FullName);

    int? filterAM = ViewBag.FilterAM;
    int? filterAdv = ViewBag.FilterAdv;

    ClientPortal.Data.Contexts.Advertiser oneAdv = null; // if non-null, we're showing a single advertisers's offers
    if (advertisers.Count() == 1)
    {
        oneAdv = advertisers.First();
    }
    ClientPortal.Data.Contexts.CakeContact oneAM = null; // if non-null, we're showing a single account manager's offers
    if (accountManagers.Count() == 1)
    {
        oneAM = accountManagers.First();
    }
    bool CPMonly = ViewBag.CPMonly ?? true;
    int? minCampaigns = ViewBag.MinCampaigns;
}

@if (!Request.IsAjaxRequest())
{
    <h3>CPM Offers</h3>
}

@if (CPMonly)
{
    @Ajax.ActionLink("Include non-CPM offers", "Index", "Offers", new { am = filterAM, advertiserid = filterAdv, cpmonly = false, mincampaigns = minCampaigns }, ajaxOptions)
    <text> | </text>
}
@Ajax.ActionLink("Filter by account manager", "Filter", "Offers", ajaxOptions)
<br />

@if (filterAdv.HasValue)
{
    <text>Advertiser: </text>@((oneAdv != null) ? oneAdv.AdvertiserName : filterAdv.ToString())<text> </text>
}
@if (filterAM.HasValue)
{
    <text>Account Manager: </text>@((oneAM != null) ? oneAM.FullName : filterAM.ToString())<text> </text>
}
@Ajax.ActionLink("[refresh]", "Index", "Offers", new { am = filterAM, advertiserid = filterAdv, cpmonly = CPMonly, mincampaigns = minCampaigns }, ajaxOptions)

<table border="1">
    <tr>
        <th>AdvId</th>
        <th>Advertiser</th>
        <th>OfferId</th>
        <th>Offer (click for summary)</th>
        <th>Reports</th>
        <th>Drops</th>
        <th>Campaigns</th>
        <th>Creatives</th>
    </tr>
@foreach (var offer in Model)
{
    var linksText = "links (" + offer.Creatives.Where(c => c.CreativeTypeId == 1).Count() + ")";
    var emailsText = "emails (" + offer.Creatives.Where(c => c.CreativeTypeId == 2).Count() + ")";
    var imagesText = "images (" + offer.Creatives.Where(c => c.CreativeTypeId == 3).Count() + ")";
    <tr>
        <td>@offer.AdvertiserId</td>
        <td>@offer.Advertiser.AdvertiserName</td>
        <td>@offer.OfferId</td>
        <td>@Html.ActionLink(offer.OfferName, "Show", "Offers", new { id = offer.OfferId }, new { onclick = "LoadOfferTabs(" + offer.OfferId + "); return false" })</td>
        <td style="text-align:center">@offer.CPMReports.Count</td>
        <td style="text-align:center">@offer.AllCampaignDrops(null).Count()</td>
        <td style="text-align:center">@offer.Campaigns.Count</td>
        <td>
            &nbsp; @linksText
            &nbsp; | &nbsp; @emailsText
            &nbsp; | &nbsp; @imagesText
        </td>
    </tr>
}
</table>
<br />
