@model ClientPortal.Data.Contexts.Offer
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmSummaryTab");
    var ajaxOpts_Off = RazorHelpers.GetAjaxOptions("cpmOffersTab", "navCPMOffers");
    var ajaxOpts_Rep = RazorHelpers.GetAjaxOptions("cpmReportsTab", "navCPMReports");
    var ajaxOpts_Drop = RazorHelpers.GetAjaxOptions("cpmDropsTab", "navCPMDrops");
    var ajaxOpts_Creative = RazorHelpers.GetAjaxOptions("cpmCreativesTab", "navCPMCreatives");
    var ajaxOpts_ConfirmSynch = RazorHelpers.GetAjaxOptions("cpmSummaryTab", null, "Get", "Synch Campaigns?");
    var ajaxOpts_ConfirmDeleteLogo = RazorHelpers.GetAjaxOptions("cpmSummaryTab", null, "Post", "Are you sure you want to delete this offer's logo?");
    var am = Model.Advertiser.AccountManager;
}
@if (!Request.IsAjaxRequest())
{
    <h3>Offer Summary</h3>
}
Offer: <b>@Model.DisplayName</b> @Ajax.ActionLink("[refresh]", "Show", "Offers", new { id = Model.OfferId }, ajaxOptions)
<br />
Advertiser: <b>@Model.Advertiser.AdvertiserName</b> @Ajax.ActionLink("[show offers]", "Index", "Offers", new { advertiserid = Model.AdvertiserId }, ajaxOpts_Off)
<br />
@if (am != null)
{
    <text>Account Manager: </text><b>@am.FullName</b> @Ajax.ActionLink("[show offers]", "Index", "Offers", new { am = am.CakeContactId }, ajaxOpts_Off)
    <br />
}
@Ajax.ActionLink((Model.Logo == null ? "Add Logo" : "View/Edit Logo"), "EditLogo", "Offers", new { id = Model.OfferId }, ajaxOptions) |
@if (Model.Logo != null)
{
    @Ajax.ActionLink("Delete Logo", "DeleteLogo", "Offers", new { id = Model.OfferId }, ajaxOpts_ConfirmDeleteLogo)<text> | </text>
}
@Ajax.ActionLink("Show Creatives", "Index", "Creatives", new { offerid = Model.OfferId }, ajaxOpts_Creative)
<br />
<br />
@Html.Partial("../CPMReports/Index", Model.CPMReports.OrderByDescending(r => r.CPMReportId))
@if (Model.Campaigns.Any())
{
    @Ajax.ActionLink("[new report - manual]", "Create", "CPMReports", new { offerid = Model.OfferId }, ajaxOpts_Rep)<text> </text>
}
@Ajax.ActionLink("[cpm report wizard]", "Show", "CPMReportsWizard", new { offerid = Model.OfferId }, ajaxOpts_Rep)

<br /><br />
@Html.Partial("../CampaignDrops/Index", Model.AllCampaignDrops(false))
@if (Model.Campaigns.Any())
{
    <text>(To create a new drop, click the "New Drop" link next to one of the Campaigns below.)</text>
}

<br /><br />
@{
    ViewBag.Parent = "offer";
    ViewBag.LastSynch = Model.LastSynch_Campaigns;
}
@Html.Partial("../Campaigns/Index", Model.Campaigns.OrderBy(c => c.Affiliate.AffiliateName).ThenBy(c => c.CampaignName))

<br />
@Ajax.ActionLink("Synch Campaigns", "SynchCampaigns", new { offerid = Model.OfferId }, ajaxOpts_ConfirmSynch)
<br /><br />
