@model ClientPortal.Data.Contexts.Offer

<h3>Offer Summary</h3>

Advertiser: @Model.Advertiser.AdvertiserName
<br />
Offer: @Model.DisplayName
<br /><br />

Drops:
@Html.Partial("DropReport", @Model.DropReport)

<br />
Campaigns:
<table border="1">
    <tr>
        <th>Campaign</th>
        <th>AffId</th>
        <th>Affiliate</th>
        <th>Drops</th>
    </tr>
@foreach (var campaign in Model.Campaigns.OrderBy(c => c.Affiliate.AffiliateName).ThenBy(c => c.CampaignName))
{
    <tr>
        <td>@campaign.CampaignName</td>
        <td>@campaign.AffiliateId</td>
        <td>@campaign.Affiliate.AffiliateName</td>
        <td>@campaign.CampaignDrops.Count</td>
    </tr>
}
</table>

<br />
Creatives:
@Html.Partial("../Creatives/Index", Model.CreativesByDate())

<br />
@Html.ActionLink("Synch Campaigns", "SynchCampaigns", new { offerid = Model.OfferId }) |
@Html.ActionLink("Synch Creatives", "SynchCreatives", new { offerid = Model.OfferId })