@model ClientPortal.Data.Contexts.Offer
@{
    var am = Model.Advertiser.AccountManager;
}
<h3>Offer Summary</h3>

@if (am != null)
{
    <text>Account Manager: </text>@Html.ActionLink(am.FullName, "Index", "Offers", new { am = am.CakeContactId }, null)
    <br />
}
Advertiser: @Html.ActionLink(Model.Advertiser.AdvertiserName, "Index", new { advertiserid = Model.AdvertiserId })
<br />
Offer: @Model.DisplayName
<br /><br />

@Html.Partial("../CPMReports/Index", Model.CPMReports.OrderByDescending(r => r.CPMReportId))
@Html.ActionLink("(new report)", "Create", "CPMReports", new { offerid = Model.OfferId }, null)

<br /><br />
@Html.Partial("../CampaignDrops/Index", Model.AllCampaignDrops(false))
(To create a new drop, click the "New Drop" link next to one of the Campaigns below.)

<br /><br />
Campaigns:
<table border="1">
    <tr>
        <th>Campaign</th>
        <th>AffId</th>
        <th>Affiliate</th>
        <th>Drops</th>
    </tr>
@foreach (var campaign in Model.Campaigns.OrderBy(c => c.Affiliate.AffiliateName).ThenBy(c => c.CampaignName))
{
    <tr>
        <td>@campaign.CampaignName</td>
        <td>@campaign.AffiliateId</td>
        <td>@campaign.Affiliate.AffiliateName</td>
        <td>@campaign.CampaignDrops.Count</td>
        <td>@Html.ActionLink("New Drop", "Create", "CampaignDrops", new { campaignid = campaign.CampaignId, from = "offer" }, null)</td>
    </tr>
}
</table>

<br />
@Html.Partial("../Creatives/Index", Model.CreativesByDate())

<br />
@Html.ActionLink("Synch Campaigns", "SynchCampaigns", new { offerid = Model.OfferId }) |
@Html.ActionLink("Synch Creatives", "SynchCreatives", new { offerid = Model.OfferId })