@model ClientPortal.Data.Contexts.Offer
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("cpmSummaryTab");
    var ajaxOpts_Off = RazorHelpers.GetAjaxOptions("cpmOffersTab", "navCPMOffers");
    var ajaxOpts_Rep = RazorHelpers.GetAjaxOptions("cpmReportsTab", "navCPMReports");
    var ajaxOpts_Drop = RazorHelpers.GetAjaxOptions("cpmDropsTab", "navCPMDrops");
    var am = Model.Advertiser.AccountManager;
}
@if (!Request.IsAjaxRequest())
{
    <h3>Offer Summary</h3>
}
Offer: <b>@Model.DisplayName</b> @Ajax.ActionLink("[refresh]", "Show", "Offers", new { id = Model.OfferId }, ajaxOptions)
<br />
Advertiser: <b>@Model.Advertiser.AdvertiserName</b> @Ajax.ActionLink("[show offers]", "Index", "Offers", new { advertiserid = Model.AdvertiserId }, ajaxOpts_Off)
<br />
@if (am != null)
{
    <text>Account Manager: </text><b>@am.FullName</b> @Ajax.ActionLink("[show offers]", "Index", "Offers", new { am = am.CakeContactId }, ajaxOpts_Off)
    <br />
}
<br />

@Html.Partial("../CPMReports/Index", Model.CPMReports.OrderByDescending(r => r.CPMReportId))
@Ajax.ActionLink("[new report]", "Create", "CPMReports", new { offerid = Model.OfferId }, ajaxOpts_Rep)

<br /><br />
@Html.Partial("../CampaignDrops/Index", Model.AllCampaignDrops(false))
(To create a new drop, click the "New Drop" link next to one of the Campaigns below.)

<br /><br />
Campaigns:
<table border="1">
    <tr>
        <th>Campaign</th>
        <th>AffId</th>
        <th>Affiliate</th>
        <th>Drops</th>
        <th></th>
    </tr>
@foreach (var campaign in Model.Campaigns.OrderBy(c => c.Affiliate.AffiliateName).ThenBy(c => c.CampaignName))
{
    <tr>
        <td>@campaign.CampaignName</td>
        <td>@campaign.AffiliateId</td>
        <td>@campaign.Affiliate.AffiliateName</td>
        <td>@campaign.CampaignDrops.Count</td>
        <td>@Ajax.ActionLink("New Drop", "Create", "CampaignDrops", new { campaignid = campaign.CampaignId, from = "offer" }, ajaxOpts_Drop)</td>
    </tr>
}
</table>

<br />
@Html.Partial("../Creatives/Index", Model.CreativesByDate())

<br />
@Html.ActionLink("Synch Campaigns", "SynchCampaigns", new { offerid = Model.OfferId }) |
@Html.ActionLink("Synch Creatives", "SynchCreatives", new { offerid = Model.OfferId })
<br /><br />
