@model ClientPortal.Data.Contexts.Offer

Offer: @Model.OfferName (@Model.OfferId)
<br /><br />

Drops:
@Html.Partial("DropReport", @Model.DropReport)

<br />
Campaigns:
<table border="1">
    <tr>
        <th>Campaign</th>
        <th>AffId</th>
        <th>Affiliate</th>
        <th>Drops</th>
    </tr>
@foreach (var campaign in Model.Campaigns.OrderBy(c => c.Affiliate.AffiliateName).ThenBy(c => c.CampaignName))
{
    <tr>
        <td>@campaign.CampaignName</td>
        <td>@campaign.AffiliateId</td>
        <td>@campaign.Affiliate.AffiliateName</td>
        <td>@campaign.CampaignDrops.Count</td>
    </tr>
}
</table>

<br />
Creatives:
<table border="1">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Created</th>
    </tr>
@foreach (var creative in Model.Creatives.OrderByDescending(c => c.DateCreated))
{
    <tr>
        <td>@creative.DisplayName</td>
        <td>@creative.CreativeType.CreativeTypeName</td>
        <td>@creative.DateCreated.ToShortDateString()</td>
    </tr>
}
</table>

<br />
@Html.ActionLink("Synch Campaigns", "SynchCampaigns", new { offerid = Model.OfferId }) |
@Html.ActionLink("Synch Creatives", "SynchCreatives", new { offerid = Model.OfferId })