@model CampAffVM
@{
    var ca = Model.CampAff;
    var analystSelectList = new SelectList(Model.Analysts, "id", "name");
    var strategistSelectList = new SelectList(Model.Strategists, "id", "name");
}
<h3>Assign Analyst/Strategist</h3>

Accounting Period: <b>@Model.CurrentEomDateString</b>
<br /><br />

Publisher: <b>@ca.Affiliate.name2</b><br />
Advertiser: <b>@ca.Campaign.Advertiser.name</b><br />
Campaign: <b>@ca.Campaign.campaign_name (@ca.Campaign.pid)</b>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.CampAff.pid)
    @Html.HiddenFor(m => m.CampAff.affid)

    <text>Analyst: </text>@Html.DropDownListFor(m => m.CampAff.analyst_id, analystSelectList, "(none)")
    <br />
    <text>Strategist: </text>@Html.DropDownListFor(m => m.CampAff.strategist_id, strategistSelectList, "(none)")
    <br />
    <br />
    <input type="submit" value="Save" />
    <text>&nbsp;</text>
    @Html.ActionLink("Cancel", "ShowRoles", new { affid = ca.affid })
}
<br />
@if (Model.AnalystRoles.Any())
{
    <text>Previously assigned Analyst(s):</text>
    <br />
    foreach (var ar in Model.AnalystRoles)
    {
        <text>- </text>@ar.Person.FullName<br />
    }
    <br />
}
List:
@Html.ActionLink("Analysts", "Index", "Analysts") |
@Html.ActionLink("AnalystManagers", "Managers", "Analysts") |
@Html.ActionLink("Strategists", "Strategists", "People")
