@model DirectAgents.Web.Areas.RevTrack.Models.DashboardVM

<h2>Dashboard</h2>

<table>
<tr>
    <th>Client</th>
    <th>Revenue</th>
    <th>Cost</th>
    <th>Margin</th>
    <th>CreditLimit</th>
    <th>&nbsp;&nbsp;&nbsp;</th>
    <th>StartingBal</th>
    <th>CurrentBal</th>
</tr>
@foreach (var stat in Model.ABStats)
{
<tr>
    <td>@stat.Client</td>
    <td>@stat.Rev</td>
    <td>@stat.Cost</td>
    <td>@stat.Margin</td>
    <td>@stat.CredLim</td>
    <td></td>
    <td>@stat.StartBal</td>
    <td>@stat.CurrBal</td>
    <td>@Html.ActionLink("editlink", "EditClientStat", new { id = stat.Id, sb = stat.StartBal, cl = stat.CredLim })</td>
</tr>
}
</table>