@model IEnumerable<DirectAgents.Domain.DTO.CakeGauge>
@{
    ViewBag.Title = "Cake Advertisers";
}
<h2>Cake Advertisers</h2>

<table>
    <tr>
        <th colspan="3"></th>
        <th colspan="2">CampSums</th>
        <th colspan="2">EventConvs</th>
    </tr>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>#Offers</th>
        <th>Earliest</th>
        <th>Latest</th>
        <th>Earliest</th>
        <th>Latest</th>
    </tr>
    @foreach (var gauge in Model)
    {
        var adv = gauge.Advertiser;
        <tr>
            <td>@adv.AdvertiserId</td>
            <td>@adv.AdvertiserName</td>
            <td style="text-align:center">@Html.ActionLink(adv.Offers.Count().ToString(), "Index", "Offers", new { advId = adv.AdvertiserId }, null)</td>
            <td>@Html.DisplayFor(x => gauge.CampSums.Earliest)</td>
            <td>@Html.DisplayFor(x => gauge.CampSums.Latest)</td>
            <td>@Html.DisplayFor(x => gauge.EventConvs.Earliest)</td>
            <td>@Html.DisplayFor(x => gauge.EventConvs.Latest)</td>
        </tr>
    }
</table>