@model LTWeb.Models.AdminVM
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<div id="example" class="k-content">
    <div id="fixWindow"></div>
</div>
<fieldset>
    <legend>Leads</legend>
    <div id="leadsGrid"></div>
</fieldset>
@using (Html.BeginForm())
{    
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Settings</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Rate1)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(m => m.Rate1, 5, 80, new object { })
            @Html.ValidationMessageFor(model => model.Rate1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rate2)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(m => m.Rate2, 5, 80, new object { })
            @Html.ValidationMessageFor(model => model.Rate2)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
@section head  {
    <style>
        div.pixel textarea.multi-line {
            height: 80px;
            width: 500px;
        }
    </style>
    <link href="~/Content/kendo/2012.3.1114/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2012.3.1114/kendo.bootstrap.min.css" rel="stylesheet" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*Kendo UI*@
    <script src="~/Scripts/kendo/2012.3.1114/kendo.web.min.js"></script>
    @*Fix Leads*@
    <script type="text/x-kendo-template" id="fixLeadTemplate">
        #if(IsError) {#
            <a href="javascript:fixLead('#=AppId#')">Fix</a>
        #}#
    </script>
    <script>
        // Open window with FixLead is clicked
        function fixLead(appID) {
            $("#fixWindow")
                .data("kendoWindow")
                .refresh("@Url.Action("Fix")" + "?appID=" + appID)
                .title("Fix " + appID)
                .open();
        }
        // Create window when page loads
        $(function () {
            if (!$("#fixWindow").data("kendoWindow")) {
                $("#fixWindow").kendoWindow({
                    width: "800px",
                    visible: false,
                    modal: true,
                });
                // Set initial window position
                var windowWrapper = $("#fixWindow").closest(".k-window");
                var horizontalCenter = Math.floor(window.innerWidth / 2);
                windowWrapper.css({
                    top: 50,
                    left: horizontalCenter - (Math.floor(windowWrapper.width() / 2))
                });
            }
        });
        // Repost
        function ResendClicked() {
            alert("resend!");
        }
    </script>
    <script>
        $(function () {
            var url = '@Url.Action("LeadsGrid")';
            var dataSource = new kendo.data.DataSource({
                serverPaging: true, serverSorting: true, serverFiltering: true, pageSize: 20,
                transport: { read: { type: 'post', dataType: 'json', url: url } },
                schema: {
                    data: 'data', total: 'total',
                    model: {
                        id: 'Id',
                        fields: {
                            Timestamp: { type: 'string' },
                            AppId: { type: 'string' },
                            AffiliateId: { type: 'string' },
                            IPAddress: { type: 'string' },
                            IsError: { type: 'boolean' }
                        }
                    }
                }
            });
            $('#leadsGrid').kendoGrid({
                dataSource: dataSource,
                height: 400,
                columns: [
                    { field: 'Timestamp' },
                    { field: 'AppId' },
                    { field: 'AffiliateId' },
                    { field: 'IPAddress' },
                    {
                        field: 'IsError',
                        template: $("#fixLeadTemplate").html()
                    }
                ],
                filterable: true,
                sortable: {
                    mode: 'multiple'
                },
                pageable: true
            });
        });
    </script>
}
