@model  IEnumerable<DirectAgents.Domain.Entities.TD.TDad>
<h2>Creatives</h2>

<table>
    <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Width</th>
        <th>Height</th>
        <th>ExternalId</th>
        <th>URL</th>
    </tr>
    @foreach (var ad in Model)
    {
        var url = "";
        if (ad.IsUrlShortened)
        {
            url = "<abbr title=\"" + ad.Url + "\">" + ad.UrlShortened + "</abbr>";
        }
        else
        {
            url = ad.Url;
        }
        <tr>
            <td>@Html.ActionLink("Edit", "Edit", new { id = ad.Id })</td>
            <td>@ad.Id</td>
            <td>@ad.Name</td>
            <td>@ad.Width</td>
            <td>@ad.Height</td>
            <td>@ad.ExternalId</td>
            <td>@Html.Raw(url)</td>
        </tr>
    }
</table>
