@model ClientPortal.Web.Models.CombinedVM
@{
    ViewBag.Title = "Overall Summary";
    var mtd = Model.MTDStat;
    var wtd = Model.WTDStat;
}
<style type="text/css">
    .client_logo_exec {
        background-image: url("@Url.Action("Logo")");
    }
</style>

<div id="client_bar_exec">
    <div id="container">
        <div class="exec_charts">
            @* TODO: Put in separate partial view... *@
            <section>
                <div class="heading"><p>Month to Date: @mtd.StartDate.ToShortDateString() thru @mtd.EndDate.ToShortDateString()</p></div>
                <div class="grid">
                    <table class="grid" cellspacing="0" width="100%">
                        <thead>
                            <tr class="exec">
                                <th>Spend</th>
                                <th>Impressions</th>
                                <th>Clicks</th>
                                <th>CTR</th>
                                <th>eCPC</th>
                                <th>Conversions</th>
                                <th>eCPA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="grey_row">
                                <td>@mtd.Spend.ToString("C")</td>
                                <td>@mtd.Impressions.ToString("N0")</td>
                                <td>@mtd.Clicks.ToString("N0")</td>
                                <td>@mtd.CTR.ToString("0.00%")</td>
                                <td>@mtd.CPC.ToString("C")</td>
                                <td>@mtd.Convs.ToString("N0")</td>
                                <td>@mtd.CPA.ToString("C")</td>
                            </tr>
		                </tbody>
                    </table>
                </div>
            </section>
            <section>
                <div class="heading"><p>Week to Date: @wtd.StartDate.ToShortDateString() thru @wtd.EndDate.ToShortDateString()</p></div>
                <div class="grid">
                    <table class="grid" cellspacing="0" width="100%">
                        <thead>
                            <tr class="exec">
                                <th>Spend</th>
                                <th>Impressions</th>
                                <th>Clicks</th>
                                <th>CTR</th>
                                <th>eCPC</th>
                                <th>Conversions</th>
                                <th>eCPA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="grey_row">
                                <td>@wtd.Spend.ToString("C")</td>
                                <td>@wtd.Impressions.ToString("N0")</td>
                                <td>@wtd.Clicks.ToString("N0")</td>
                                <td>@wtd.CTR.ToString("0.00%")</td>
                                <td>@wtd.CPC.ToString("C")</td>
                                <td>@wtd.Convs.ToString("N0")</td>
                                <td>@wtd.CPA.ToString("C")</td>
                            </tr>
		                </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div class="client_logo_exec"></div>
        <div class="client_name_exec">@Model.UserInfo.ClientName</div>
    </div>
</div>

<div id="page_content">
</div>

@* TODO: put in div? make closer to bottom blue bar... *@
Stats include:
@{
    bool first = true;
}
@if (Model.UserInfo.HasSearch)
{
    <text> Paid Search</text>
    first = false;
}
@if (Model.UserInfo.HasProgrammatic())
{
    <text>@(first ? "" : " | ")Programmatic</text>
    first = false;
}
