@model DirectAgents.Domain.Entities.AB.ClientAccount

<h2>Payments</h2>

Client: @Model.Client.Name<br />
Account: @Model.Name<br />
<br />

<table>
<tr>
    <th>ID</th>
    <th>Date</th>
    <th>#Bits</th>
</tr>
@foreach (var pay in Model.Payments.OrderBy(x => x.Date))
{
    <tr>
        <td>@pay.Id</td>
        <td>@pay.Date.ToShortDateString()</td>
        <td>@pay.Bits.Count()</td>
    </tr>
}
</table>
[@Html.ActionLink("new payment", "New", new { acctId = Model.Id })]