@model AnalystRolesVM

<h3>Assign Analysts</h3>

Accounting Period: <b>@Model.CurrentEomDateString</b>
<br /><br />

Publisher: <b>@Model.Affiliate.name2</b><br />
Advertiser: <b>@Model.Campaign.Advertiser.name</b><br />
Campaign: <b>@Model.Campaign.campaign_name (@Model.Campaign.pid)</b><br />
<br />

Analyst(s):<br />
@if (!Model.AnalystRoles.Any())
{
    <text>[none]</text><br />
}
@foreach (var ar in Model.AnalystRoles)
{
    <b>@ar.Person.FullName</b>
    @Html.ActionLink("remove", "Delete", "AnalystRoles",
                     new { pid = Model.Campaign.pid, affid = Model.Affiliate.affid, personId = ar.person_id },
                     new { onclick="if (!confirm('Are you sure?')) return false" })
    <br />
}
@if (Model.AvailablePeople.Any())
{
    <br />
    using (Html.BeginForm("Add", "AnalystRoles", new { pid = Model.Campaign.pid, affid = Model.Affiliate.affid }))
    {
        var availablePeopleSelectList = new SelectList(Model.AvailablePeople, "Id", "FullName");
        <text>Add Analyst for this Campaign/Publisher:</text>
        <table><tr><td>
            @Html.DropDownList("personId", availablePeopleSelectList)
            <input type="submit" value="Add" />
        </td></tr></table>
    }
}
<br />
@Html.ActionLink("Done (back to Analyst List)", "PubAdvCampList", new { affid = Model.Affiliate.affid })
