@model ClientPortal.Web.Models.GoalsModel

<h3>Goals</h3>

<div id="divGoalsList">
@Html.Partial("List", Model.Goals)
</div>

<div id="divActions">
    @Ajax.ActionLink("Add Goal", "Add", "Goals",
                     new AjaxOptions
                         {
                             InsertionMode = InsertionMode.Replace, UpdateTargetId = "windowGoal", HttpMethod = "GET",
                             OnBegin = "BeginEditGoal",
                             OnSuccess = "EnableValidation('#editGoalWrapper')"
                         })
    | <a href="#" onclick="RefreshGoalsList(); return false">Refresh</a>
</div>

<script>
    //TODO: move this to common script if used again
    function EnableValidation(selector) {
        $.validator.unobtrusive.parse($(selector));
    }

    function RefreshGoalsList() {
        var url = '@Url.Action("List")';
        $('#divGoalsList').load(url);
    }

    function EditGoal(id) {
        BeginEditGoal();
        var url = '@Url.Action("Edit")';
        $.get(url, { id: id }, function (data) {
            $('#windowGoal').html(data);
            EnableValidation('#editGoalWrapper');
        });
    }

    function BeginEditGoal() {
        var win = $('#windowGoal').data("kendoWindow");
        win.setOptions({ width: 600, height: 500 });
        win.center();
        win.open();
    }

    function RefreshGoalsAndCloseWindow() {
        RefreshGoalsList();
        $('#windowGoal').data("kendoWindow").close();
    }

    function DeleteGoal(id, doConfirm) {
        if (doConfirm && !confirm("Are you sure you want to delete this goal?"))
            return;
        var url = '@Url.Action("Delete")';
        $.post(url, { id: id }, function (data) {
            RefreshGoalsAndCloseWindow();
        });
    }

    $(function () {
        $('#windowGoal').kendoWindow({
            title: "Goal",
            visible: false,
            modal: true
        });
    });
</script>

<div id="windowGoal"></div>
