@model ClientPortal.Web.Models.GoalVM

<table>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Type</td>
        <td>@Model.Offer</td>
        <td>@Model.Metric</td>
        <td>@Model.Target</td>
    </tr>
</table>
