@model ClientPortal.Web.Models.GoalVM

<table>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.TypeId</td>
        <td>@Model.Offer</td>
        <td>@Model.MetricId</td>
        <td>@Model.Target</td>
    </tr>
</table>
