<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Campaign Wiki</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Styles.Render("~/Scripts/kendo/styles/kendo.common.min.css")
    @Styles.Render("~/Scripts/kendo/styles/kendo.default.min.css")
    @Styles.Render("~/Content/KendoSkin.css")
    @Scripts.Render("~/Scripts/kendo/2012.2.710/kendo.web.min.js")
    @Scripts.Render("~/bundles/templates")
    @Scripts.Render("~/Scripts/jquery.zclip.min.js")
    <style type="text/css">
        ul#menu li
        {
            padding-left: 0;
        }
    </style>
</head>
<body>
    <div style="position: fixed; top: 0; width: 100%; height: 41px; z-index: 500;">
        <ul id="menu" style="text-align: left; margin-bottom: 0;">
            <li><span class="@(ViewBag.ParentMenuItem == "List" ? "parentselitem" : "")">List</span>
                <ul>
                    <li class="@(ViewBag.MenuItem == "ByCountry" ? "selitem" : "")">@Html.ActionLink("By Country", "ListByCountry", "Campaigns")</li>
                    <li class="@(ViewBag.MenuItem == "Sortable" ? "selitem" : "")">@Html.ActionLink("Budgets", "ListSortable", "Campaigns")</li>
                </ul>
            </li>
            <li class="@(ViewBag.MenuItem == "US" ? "selitem" : "")">@Html.ActionLink("US", "List2", "Campaigns", new { country = "US" }, null)</li>
            <li id="MenuCPM" class="@(ViewBag.MenuItem == "CPM" ? "selitem" : "")">@Html.ActionLink("CPM", "List2", "Campaigns", new { search = "CPM" }, null)</li>
            <li id="MenuAll" class="@(ViewBag.MenuItem == "All" ? "selitem" : "")">@Html.ActionLink("All", "List2", "Campaigns")</li>
            <li><span class="@(ViewBag.ParentMenuItem == "Top" ? "parentselitem" : "")">Top</span>
                <ul>
                    <li class="@(ViewBag.MenuItem == "TopRevenue" ? "selitem" : "")">@Html.ActionLink("Revenue", "Top", "Campaigns", new { by = "Revenue" }, null)</li>
                    <li class="@(ViewBag.MenuItem == "TopCost" ? "selitem" : "")">@Html.ActionLink("Cost", "Top", "Campaigns", new { by = "Cost" }, null)</li>
                    <li class="@(ViewBag.MenuItem == "TopEPC" ? "selitem" : "")">@Html.ActionLink("EPC", "Top", "Campaigns", new { by = "EPC" }, null)</li>
                </ul>
            </li>
            @if (ViewBag.NoSearch == null || !ViewBag.NoSearch)
            {
            <li style="border-right: 0px">
                <div style="background: url(@Url.Content("~/Images/bg-search-bar2.png")); background-repeat: no-repeat; width: 226px; margin-left: 10px; margin-top: 4px; height: 37px;">
                    <input id="inputSearch" value="@ViewBag.SearchString" style="width: 185px; height: 22px; border: none; margin: 5px 0px 0px 20px; padding: 0; background: transparent; font-size: .8em; outline: none;" />
                </div>
            </li>
            }
            @if (ViewBag.ShowCopy != null && ViewBag.ShowCopy)
            {
            <li><a href="#" id="copy-campaign">Copy</a></li>
            }
            <li style="border-right: 0px"><a href="#" onclick="ShowWikiSettings(); return false;">Settings</a></li>
        </ul>
    </div>
    <div id="body" style="position: absolute; top: 42px; overflow: auto">
        <section class="content-wrapper clear-fix">
            @RenderBody()
        </section>
    </div>

    <div id="divWikiSettings" title="Wiki Settings">
        <div id="divWikiSettingsInner">
        </div>
    </div>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        function ShowWikiSettings() {
            $.get('@Url.Action("Settings", "Wiki")', function (data) {
                $('#divWikiSettingsInner').html(data);
                $('#divWikiSettings').dialog("open");
            });
        }

        function SaveWikiSettings() {
            var url = '@Url.Action("Settings", "Wiki")';
            $.post(url, $('#frmWikiSettings').serialize(), function (data) {
                $('#divWikiSettings').dialog("close");
                document.location.reload();
            });
        }

        $(document).ready(function () {
            $("#menu").kendoMenu();
            $("img.campaign-image").hover(function () {
                if (!$(this).hasClass("ui-draggable")) {
                    $(this).draggable({
                        containment: "document",
                        revert: true,
                        revertDuration: 100,
                        opacity: 0.35,
                        containment: 'html'
                    });
                }
            });     
            $('#inputSearch').bind('keypress', function (event) {
                var a = $('#inputSearch').val() + String.fromCharCode(event.which);
                if (event.keyCode === 13) {
                    ChangeFilter(false, true);
                }
                else {
                    $.doTimeout(1000, function () {
                        var b = $('#inputSearch').val();
                        if (a == b) {
                            ChangeFilter(false, true);
                        }
                    });
                }
            });
            $("#divWikiSettings").dialog({
                autoOpen: false,
                height: 500,
                width: 500,
                modal: true,
                buttons: {
                    Save: SaveWikiSettings,
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        }); // ready function

    </script>
</body>
</html>
