<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/SlickGrid/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/PubRep.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/SlickGrid/lib/jquery.event.drag-2.0.min.js")
    @Scripts.Render("~/Scripts/SlickGrid/slick.core.js")
    @Scripts.Render("~/Scripts/SlickGrid/slick.grid.js")
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
