@model IEnumerable<EomTool.Domain.Entities.PaymentBatch>

@{
    ViewBag.Title = "Payment Batches";
}

<h2>Payment Batches</h2>

@{
    int iPayment = 0;
}
@foreach (var pbatch in Model)
{
    <br />
    <span>
        Batch @pbatch.id
        @if (pbatch.payment_threshold != null) {
            <text>(threshold: @pbatch.payment_threshold)</text>
        }
        - @pbatch.PaymentBatchState.name
    </span>
    if (pbatch.Payments.Count() > 0)
    {
        <table style="border:1px solid">
            <tr>
                <th>AffIds</th>
                <th>Publisher</th>
                <th>Curr</th>
                <th>Payout</th>
                <th>PayMethod</th>
                <th>NetTerms</th>
                <th>AcctStatus</th>
                <th></th>
                <th>ItemIds</th>
            </tr>
            @foreach (var payment in pbatch.Payments)
            {
                <tr>
                    <td>@payment.AffIds</td>
                    <td>@payment.Publisher</td>
                    <td>@payment.PubPayCurr</td>
                    <td>@String.Format("{0:N2}", payment.PubPayout)</td>
                    <td>@payment.PaymentMethod</td>
                    <td>@payment.NetTermType</td>
                    <td>@payment.AccountingStatus</td>
                    <td id="actionarea@(iPayment)">
                        @using (Html.BeginForm("ReleaseItems", "PaymentBatches", FormMethod.Post, new { id = "form" + iPayment }))
                        {
                            <input type="hidden" name="itemids" value="@payment.ItemIds" />
                            <input type="button" value="Release" onclick="ReleasePayment(@iPayment)" />
                            <input type="button" value="Hold" onclick="HoldPayment(@iPayment)" />
                        }
                    </td>
                    <td><span title="@payment.ItemIds">@payment.ItemIds.Substring(0, payment.ItemIds.Length>10 ? 10 : payment.ItemIds.Length)..</span></td>
                </tr>
                iPayment++;
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>@String.Format("{0:N2}", pbatch.Payments.Sum(p => p.PubPayout))</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    }
    else {
        <br />
    }
}
@section scripts {
<script type="text/javascript">
    function ReleasePayment(formid)
    {
        var form = $('#form' + formid);
        $('#actionarea' + formid).load('@Url.Action("ReleaseItems")', form.serialize());
    }

    function HoldPayment(formid)
    {
        var form = $('#form' + formid);
        $('#actionarea' + formid).load('@Url.Action("HoldItems")', form.serialize());
    }
</script>
}