@model IEnumerable<EomTool.Domain.Entities.PublisherPayment>
@{
    string currency = Model.First().PubPayCurr;
    var payoutTotal = Model.Sum(p => p.PubPayout);
}

<table>
@foreach (var payment in Model)
{
<tr>
    <td>@payment.AccountingPeriod</td>
    <td><a href="#" onclick="ShowPubRep('@payment.Publisher', '@payment.AccountingPeriod'); return false">@payment.Publisher</a></td>
    <td style="text-align:right">@Html.FormatCurrency(payment.PubPayCurr, payment.PubPayout.Value)</td>
    <td>@payment.PaymentMethod</td>
    <td>@payment.NetTermType</td>
    <td>@payment.PaymentBatchId</td>
    <td>@payment.AffIds</td>
</tr>
    if (payment.PubPayCurr != currency) { currency = null; }
}
<tr>
    <td></td>
    <td style="font-weight:bold">TOTAL</td>
    <td style="font-weight:bold">@Html.FormatCurrency(currency, payoutTotal.Value)</td>
</tr>
</table>
