@model IEnumerable<EomTool.Domain.Entities.PublisherPayment>

<table>
@foreach (var payment in Model)
{
<tr>
    <td>@payment.AccountingPeriod</td>
    <td><a href="#" onclick="ShowPubRep('@payment.Publisher', '@payment.AccountingPeriod'); return false">@payment.Publisher</a></td>
    <td>@payment.PubPayCurr</td>
    <td style="text-align:right">@string.Format("{0:N2}", payment.PubPayout)</td>
    <td>@payment.PaymentMethod</td>
    <td>@payment.NetTermType</td>
    <td>@payment.PaymentBatchId</td>
    <td>@payment.AffIds</td>
</tr>
}
</table>
