@model ClientPortal.Web.Models.ReportModel

<div style="height: 35px;">
    <select style="width: 140px" id="conrep_dateRangeSel" onchange="ChangeDateRange('conrep')">
        <option value="yesterday">Yesterday</option>
        <option value="wtd">Week to Date</option>
        <option value="mtd">Month to Date</option>
        <option value="ytd">Year to Date</option>
        <option value="lastweek">Last Week</option>
        <option value="lastmonth">Last Month</option>
        <option value="custom">- custom -</option>
    </select>
    <span class="paddedlabel">Start:</span>
    <input id="conrep_startdate" name="startdate" type="text" value="@Model.StartDate" onchange="DateChanged('conrep')" />
    <span class="paddedlabel">End:</span>
    <input id="conrep_enddate" name="enddate" type="text" value="@Model.EndDate" onchange="DateChanged('conrep')" />
    <a class="button paddedbutton" id="conrep_filterBtn" href="#" onclick="if($(this).attr('disabled') != 'disabled') RefreshGrid('conrep'); return false">Filter</a>
    <span id="conrep_note">*</span>
    <a class="button paddedbutton" style="float: right" href="#" onclick="ExportConRepCSV(); return false">Export CSV</a>
</div>
<div id="conrepChartSection" class="k-content">
    <div class="chart-wrapper">
        <div id="conrepChart"></div>
    </div>
</div>
<div id="conrepGrid"></div>

<script>
    function ExportConRepCSV() {
        var s = $('#conrep_startdate').val();
        var e = $('#conrep_enddate').val();

        var url = '@Url.Action("ConversionReport", "Export")?startdate=' + s + '&enddate=' + e;
        window.location.href = url;
    }

    function SetupConversionReportGrid() {
        kendo.culture(cultureGlobal);
        $('#conrep_dateRangeSel').kendoDropDownList();
        $('#conrep_startdate').kendoDatePicker({ footer: ' ' });
        $('#conrep_enddate').kendoDatePicker({ footer: ' ' });

        $('#conrep_note').kendoTooltip({ content: 'Note: Stats available through yesterday' });

        var readData = function () {
            return {
                startdate: $('#conrep_startdate').val(),
                enddate: $('#conrep_enddate').val()
            };
        }
        var dataSource = CreateConversionReportDataSource(readData);

        $('#conrepGrid').kendoGrid({
            dataSource: dataSource,
            height: 400,
            columns: [
                { field: 'ConversionId', title: 'ConvID', width: 75 },
                { field: 'Date', width: 160, format: '{0:G}' },
                { field: 'OfferId', title: 'OffID', width: 60 },
                { field: 'Offer' },
                { field: 'AffId', title: 'SubID', width: 62 },
                { field: 'PriceReceived', title: 'Price', width: 100, template: '#= FormatCurrTemp(PriceReceived, Culture) #', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
@if (Model.ShowConVal) {
    var templ = Model.ConValIsNum ? "kendo.toString(ConVal, 'n0')" : "FormatCurrTemp(ConVal, Culture)";
    var footerTempl = Model.ConValIsNum ? "kendo.toString(sum, 'n0')" : "kendo.toString(sum, 'c')";
          <text>{ field: 'ConVal', title: '@Model.ConValName', width: 100, template: "#= @Html.Raw(templ) #", attributes: { style: "text-align: right" }, footerTemplate: "#= @Html.Raw(footerTempl) #", footerAttributes: { style: "font-weight: bold; text-align: right" } },</text>
}
                { field: 'TransactionId', title: 'TransID', width: 290 },
            ],
            filterable: true,
            sortable: {
                mode: 'multiple'
            },
            pageable: true
        });
    }

    function SetupConversionReportChart() {
        var readData = function () {
            return {
                startdate: $('#conrep_startdate').val(),
                enddate: $('#conrep_enddate').val()
            };
        }
        var dataSource = CreateConversionSummaryDataSource(readData);

        $("#conrepChart").kendoChart({
            chartArea: {
                height: 200
            },
            theme: $(document).data("kendoSkin") || "default",
            title: {
                text: ""
            },
            dataSource: dataSource,
            series: [
                { field: "Count", name: "Conversions" },
            ],
            valueAxis: {
                labels: { step: 2 }
            },
            categoryAxis: {
                field: "OfferId",
                labels: { template: "#= value #" }
            },
            tooltip: {
                visible: true,
                format: "N0"
            }
        });
    }

    function CreateConversionSummaryDataSource(readData) {
        return new kendo.data.DataSource({
            serverFiltering: true,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("ConversionSummaryData", "Reports")',
                    data: readData
                }
            },
            schema: {
                data: 'data',
                total: 'total',
                model: {
                    id: 'OfferId',
                    fields: {
                        OfferName: { type: 'string' },
                        Count: { type: 'number' },
                        Revenue: { type: 'number' }
                    }
                },
                parse: parseConvSum
            },
            sort: [
                { field: "Count", dir: "desc" }
            ]
        });
    }

    function parseConvSum(items) {
        var item, result = { data: [] };
        for (var i = 0; i < items.data.length; i++) {
            item = items.data[i];
            if (item.Count !== 0)
                result.data.push(item);
        }
        return result;
    }
</script>