@model ClientPortal.Web.Models.ReportModel

<div style="height: 35px;">
    <select style="width: 140px" id="offsum_dateRangeSel" onchange="ChangeDateRange('offsum')">
        <option value="today">Today</option>
        <option value="yesterday">Yesterday</option>
        <option value="wtd">Week to Date</option>
        <option value="mtd" selected="selected">Month to Date</option>
        <option value="ytd">Year to Date</option>
        <option value="lastweek">Last Week</option>
        <option value="lastmonth">Last Month</option>
        <option value="custom">- custom -</option>
    </select>
    <span class="paddedlabel">Start:</span>
    <input id="offsum_startdate" name="startdate" type="text" value="@Model.StartDate" onchange="DateChanged('offsum')" />
    <span class="paddedlabel">End:</span>
    <input id="offsum_enddate" name="enddate" type="text" value="@Model.EndDate" onchange="DateChanged('offsum')" />
    <a class="button paddedbutton" id="offsum_filterBtn" href="#" onclick="if($(this).attr('disabled') != 'disabled') RefreshGrid('offsum'); return false">Filter</a>
    <a class="button paddedbutton" style="float: right" href="#" onclick="ExportOffSumCSV(); return false">Export CSV</a>
</div>
<div id="offsumChartSection" class="k-content">
    <div class="chart-wrapper">
        <div id="offsumChart"></div>
    </div>
</div>
<div id="offsumGrid"></div>

<style type="text/css">
    td.k-detail-cell > div.k-grid
    {
        /*background-color: #f0f0f0;*/
        border: 1px solid black;
        width: 50%;
    }
</style>

<script>
    function ExportOffSumCSV() {
        var s = $('#offsum_startdate').val();
        var e = $('#offsum_enddate').val();

        var url = '@Url.Action("OfferSummaryReport", "Export")?startdate=' + s + '&enddate=' + e;
        window.location.href = url;
    }

    var offerSummaryDataUrl = '@Url.Action("OfferSummaryData", "Reports")';

    function CreateOfferSummaryDataSource() {
        return new kendo.data.DataSource({
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            serverAggregates: true,
            pageSize: 20,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: offerSummaryDataUrl,
                    data: function () {
                        return {
                            startdate: $('#offsum_startdate').val(),
                            enddate: $('#offsum_enddate').val()
                        };
                    }
                }
            },
            schema: {
                data: 'data',
                total: 'total',
                aggregates: 'aggregates',
                model: {
                    id: 'OfferId',
                    fields: {
                        Name: { type: 'string' },
                        Format: { type: 'string' },
                        Price: { type: 'number' },
                        Clicks: { type: 'number' },
                        Conversions: { type: 'number' },
                        Revenue: { type: 'number' },
                    }
                }
            },
            sort: { field: "Revenue", dir: "desc" },
            aggregate: [
                { field: "Clicks", aggregate: "sum" },
                { field: "Conversions", aggregate: "sum" },
                { field: "Revenue", aggregate: "sum" }
            ]
        });
    }

    function SetupOfferSummaryGrid() {
        $('#offsum_dateRangeSel').kendoDropDownList();
        $('#offsum_startdate').kendoDatePicker({ footer: ' ' });
        $('#offsum_enddate').kendoDatePicker({ footer: ' ' });

        var dataSource = CreateOfferSummaryDataSource();

        $('#offsumGrid').kendoGrid({
            dataSource: dataSource,
            autoBind: false,
            height: 400,
            columns: [
                { field: 'OfferId', title: 'Id', width: 45, attributes: { style: "text-align: right" } },
                { field: 'Name', width: 225, title: 'Offer' },
                { field: 'Format', width: 30 },
                { field: 'Price', width: 65, template: '#= FormatCurr(Price, Culture) #', attributes: { style: "text-align: right" } },
                { field: 'Clicks', width: 70, format: '{0:n0}', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'Conversions', title: 'Leads', width: 67, format: '{0:n0}', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'n0') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
                { field: 'Revenue', title: 'Spend', width: 100, template: '#= FormatCurr(Revenue, Culture) #', attributes: { style: "text-align: right" }, footerTemplate: "#= kendo.toString(sum, 'c') #", footerAttributes: { style: "font-weight: bold; text-align: right" } },
            ],
            filterable: true,
            sortable: {
                mode: 'multiple'
            },
            pageable: true,
            detailInit: OffSumDetailInit
        });
        CreateOffSumChart(dataSource);
        dataSource.read();
    }

    function CreateOffSumChart(dataSource) {
        $("#offsumChart").kendoChart({
            dataSource: dataSource,
            autoBind: false,
            chartArea: {
                height: 200
            },
            theme: $(document).data("kendoSkin") || "default",
            series: [
                { field: "Conversions", name: "Leads", axis: "clicksleads", tooltip: { template: "Leads: #= kendo.format('{0:N0}',value) #" } },
                { field: "Revenue", name: "Spend", axis: "spend", tooltip: { template: "Spend: #= kendo.format('{0:C}',value) #" } }
            ],
            categoryAxis: {
                field: "OfferId",
                labels: { template: "#= value #" },
                axisCrossingValue: [0, 1000]
            },
            valueAxis: [
                { name: "clicksleads", labels: { format: "N0", step: 2 }, title: { text: "Leads" } },
                { name: "spend", labels: { format: "C", step: 2 }, title: { text: "Spend" } }
            ],
            tooltip: {
                visible: true
            },
            legend: {
                position: "custom",
                offsetX: 90,
                offsetY: 0
            }
        });
    }

    function OffSumDetailInit(e) {
        var readData = function () {
            return {
                startdate: $('#offsum_startdate').val(),
                enddate: $('#offsum_enddate').val(),
                offerid: e.data.OfferId
            };
        }
        var dataSource = CreateOfferAffiliateReportDataSource(readData);

        $("<div/>").appendTo(e.detailCell).kendoGrid({
            dataSource: dataSource,
            columns: [
                { field: 'AffId', title: 'SubId', width: 80 },
                {
                    field: 'Count',
                    title: 'Leads',
                    width: 100,
                    attributes: { style: "text-align: right" },
                    headerAttributes: { style: "text-align: right" },
                    footerTemplate: "#= sum #",
                    footerAttributes: { style: "font-weight: bold; text-align: right" }
                },
                {
                    field: 'PriceReceived',
                    title: 'Price',
                    width: 100,
                    template: '#= FormatCurr(PriceReceived, Culture) #',
                    attributes: { style: "text-align: right" },
                    footerTemplate: "#= kendo.toString(sum, 'c') #",
                    footerAttributes: { style: "font-weight: bold; text-align: right" }
                },
            ],
            sortable: {
                mode: 'multiple'
            },
            pageable: true,
            scrollable: false,
            attributes: { class: "thingrid" }
        });
    }

    function CreateOfferAffiliateReportDataSource(readData) {
        return new kendo.data.DataSource({
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            serverAggregates: true,
            pageSize: 50,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("AffiliateReportData", "Reports")',
                    data: readData
                }
            },
            schema: {
                data: 'data',
                total: 'total',
                aggregates: 'aggregates',
                model: {
                    id: 'AffId',
                    fields: {
                        AffId: { type: 'number' },
                        PriceReceived: { type: 'number' },
                        Count: { type: 'number' }
                    }
                }
            },
            sort: [
                { field: "AffId", dir: "asc" }
            ],
            aggregate: [
                { field: "PriceReceived", aggregate: "sum" },
                { field: "Count", aggregate: "sum" }
            ]
        });
    }
</script>
