@model DirectAgents.Web.Areas.AB.Models.DetailVM

<h2>Single Client Detail</h2>

Client:
@Html.ActionLink(Model.ABClient.Name, "Show", "Clients", new { id = Model.ABClient.Id }, null)
<br /><br />

<table>
@foreach (var monthGroup in Model.MonthGroups)
{
    <tr>
        <td colspan="2"><b>@monthGroup.Month.ToString("MMM yyyy")</b></td>
    </tr>
    foreach (var li in monthGroup.LineItems)
    {
        <tr>
            <td>@li.Name</td>
            <td style="text-align:right">@li.Rev</td>
        </tr>
    }
}
</table>
<br />

<table>
    <tr>
        <th>Date</th>
        <th>Received</th>
    </tr>
@foreach (var payment in Model.ABClient.ClientPayments.OrderBy(x => x.Date))
{
    <tr>
        <td>@payment.Date.ToShortDateString()</td>
        <td style="text-align:right">@payment.TotalValue()</td>
    </tr>
}
</table>

NEXT: total em up