@model ClientPortal.Web.Areas.Admin.Models.AdminModel
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Portal.cshtml";
}

@*<!--+---------+
      | Top Bar |
      +---------+-->*@
<div class="row fullWidth">
    <div class="large-5 columns toplogo">
        <img src="~/Images/logo1a.png" />
    </div>
    <div class="large-2 columns topinfo">
    </div>
    <div class="large-5 columns logout">
        <div style="float: right">
        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a class="button" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
        </div>
    </div>
</div>
<!-- /TopBar -->

@*<!--+--------------------------------------+
      | Gray Band/HTabs Background/Container | 
      +--------------------------------------+-->*@
<div class="row fullWidth">
    <div class="grayband">
    </div>
</div>
<!-- /GrayBandForHTabs -->

@*<!--+--------------+
      | Main Content |
      +--------------+-->*@
<div class="row fullWidth" id="main">

    @*<!--+---------+
          | Sidebar |
          +---------+-->*@
    <div class="portaltabs-v">

        @*<!--+---------------+
              | Vertical Tabs |
              +---------------+-->*@
        <dl class="vertical tabs" data-tab>
            <dd class="@(Model.Search || Model.TradingDesk ? "" : "active")"><a href="#vertical1Tab" id="vertNav_Home">Admin</a></dd>
            <dd><a href="#cpmTab" id="vertNav_CPM">CPM Reports</a></dd>
            @if (Model.Search)
            {
                <dd class="active"><a href="#searchTab" id="vertNav_Search">Search</a></dd>
            }
            @if (Model.TradingDesk)
            {
                <dd class="@(Model.Search ? "" : "active")"><a href="#tdTab" id="vertNav_TD">Trading Desk</a></dd>
            }
        </dl>
        <!-- /VTabs -->

    </div>
    <!-- /Sidebar -->

    @*<!--+---------------+
          | VTabs Content |
          +---------------+-->*@
    <ul class="tabs-content">

        @*<!--+-----------+
              | Home VTab |
              +-----------+-->*@
        <li id="vertical1Tab" class="content @(Model.Search || Model.TradingDesk ? "" : "active")">
            <div class="portaltabs-h">

                @*<!--+----------------+
                      | Home HTabs     |
                      +----------------+-->*@
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#advertisersTab" id="navAdvertisers">Advertisers</a></dd>
                    <dd><a href="#contactsTab" id="navContacts">Contacts</a></dd>
                </dl>
                <!-- /Home HTabs  -->

                @*<!--+------------------------+
                      | Home HTabs Content     |
                      +------------------------+-->*@
                <div class="tabs-content">
                    <div id="advertisersTab" class="content active"></div>
                    <div id="contactsTab" class="content"></div>
                </div>
                <!-- /Home Content  -->

            </div>
        </li>
        <!-- /Home -->

        <li id="cpmTab" class="content">
            <div class="portaltabs-h">
                @*<!--+---------------+
                      | CPM HTabs     |
                      +---------------+-->*@
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#cpmOffersTab" id="navCPMOffers">CPM Offers</a></dd>
                    <dd><a href="#cpmSummaryTab" id="navCPMSummary">Summary</a></dd>
                    <dd><a href="#cpmReportsTab" id="navCPMReports">Report</a></dd>
                    <dd><a href="#cpmDropsTab" id="navCPMDrops">Drop</a></dd>
                    <dd><a href="#cpmCreativesTab" id="navCPMCreatives">Creatives</a></dd>
                </dl>
                @*<!--+-----------------------+
                      | CPM HTabs Content     |
                      +-----------------------+-->*@
                <div class="tabs-content">
                    <div id="cpmOffersTab" class="content active"></div>
                    <div id="cpmSummaryTab" class="content">Please <a href="#" onclick="$('#navCPMOffers').click(); return false">select an offer</a>.</div>
                    <div id="cpmReportsTab" class="content">Please <a href="#" onclick="$('#navCPMOffers').click(); return false">select an offer</a>.</div>
                    <div id="cpmDropsTab" class="content">Please <a href="#" onclick="$('#navCPMOffers').click(); return false">select an offer</a>.</div>
                    <div id="cpmCreativesTab" class="content">Please <a href="#" onclick="$('#navCPMOffers').click(); return false">select an offer</a>.</div>
                </div>
            </div>
        </li>

    @if (Model.Search)
    {
        <li id="searchTab" class="content active">
            <div class="portaltabs-h">
                @*<!--+--------------+
                      | Search HTabs |
                      +--------------+-->*@
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#searchProfilesTab" id="navSearchProfiles">Profiles</a></dd>
                </dl>
                @*<!--+----------------------+
                      | Search HTabs Content |
                      +----------------------+-->*@
                <div class="tabs-content">
                    <div id="searchProfilesTab" class="content active"></div>
                </div>
            </div>
        </li>
    }

    @if (Model.TradingDesk)
    {
        <li id="tdTab" class="content @(Model.Search ? "" : "active")">
            <div class="portaltabs-h">
                @*<!--+-------------+
                      | TD HTabs    |
                      +-------------+-->*@
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#tdAccountsTab" id="navTDAccounts">Accounts</a></dd>
                    <dd><a href="#tdUploadTab" id ="navTDUpload">Upload</a></dd>
                </dl>
                @*<!--+---------------------+
                      | TD HTabs Content    |
                      +---------------------+-->*@
                <div class="tabs-content">
                    <div id="tdAccountsTab" class="content active"></div>
                    <div id="tdUploadTab" class="content"></div>
                </div>
            </div>
        </li>
    }

    </ul>
    <!-- /VTabs -->

</div>
<!-- /MainContent -->

@*<!--+---------------------+
      | Footer / Bottom Bar |
      +---------------------+-->*@
<footer class="row fullWidth">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-6 columns">
                <p>&copy; 2014 Direct Agents</p>
            </div>
            <div class="large-6 columns">
            </div>
        </div>
    </div>
</footer>
<!-- /BottomBar  -->

@section head {
    <link href="~/Content/kendo/2014.2.903/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.2.903/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <style>
        th a {
            color: #000;
            text-decoration: underline
        }
    </style>
}

@section scripts {
    <script src="~/Scripts/kendo/2014.2.903/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.903/cultures/kendo.culture.de-DE.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.903/cultures/kendo.culture.en-GB.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.903/cultures/kendo.culture.en-AU.min.js"></script>
    <script>

        // ready function
        $(function () {
            @if (Model.Search)
            {
                <text>LoadSearchProfiles();</text>
            }
            else if (Model.TradingDesk)
            {
                <text>LoadTDAccounts();</text>
            }
            else
            {
                <text>LoadAdvertisers();</text>
            }
            SetupTabs();
        });

        function LoadAdvertisers() {
            $("#advertisersTab").html("Loading...");
            $.ajax({
                url: '@Url.Action("Index", "Advertisers")',
                cache: false
            }).done(function (html) {
                $("#advertisersTab").html(html);
            });
        }

        function LoadSearchProfiles() {
            $("#searchProfilesTab").html("Loading...");
            $.ajax({
                url: '@Url.Action("SearchProfiles", "SearchAdmin")',
                cache: false
            }).done(function (html) {
                $("#searchProfilesTab").html(html);
            });
        }

        function LoadTDAccounts() {
            $("#tdAccountsTab").html("Loading...");
            $.ajax({
                url: '@Url.Action("TradingDeskAccounts", "TDAdmin")',
                cache: false
            }).done(function (html) {
                $("#tdAccountsTab").html(html);
            });
        }

        function SetupTabs() {
            @if (Model.Search || Model.TradingDesk)
            {<text>
                // Home
                $("#vertNav_Home").one("click", function () {
                    LoadAdvertisers();
                });
            </text>}

            @if (Model.Search && Model.TradingDesk)
            {<text>
                // Trading Desk
                $("#vertNav_TD").one("click", function () {
                    LoadTDAccounts();
                });
            </text>}

            @if (Model.TradingDesk)
            {<text>
                // TD Upload
                $("#navTDUpload").one("click", function() {
                    $.ajax({
                        url: '@Url.Action("Upload", "TDAdmin")',
                        cache: false
                    }).done(function (html) {
                        $("#tdUploadTab").html(html);
                    });
                });
            </text>}

            // Contacts
            $("#navContacts").one("click", function () {
                $.ajax({
                    url: '@Url.Action("Index", "Contacts")',
                    cache: false
                }).done(function (html) {
                    $("#contactsTab").html(html);
                });
            });

            // CPM interface
            $("#vertNav_CPM").one("click", function () {
                $.ajax({
                    url: '@Url.Action("Filter", "Offers")',
                    cache: false
                }).done(function (html) {
                    $("#cpmOffersTab").html(html);
                });
            });
            // CPM - Offer Summary tab
            $('#navCPMSummary').click(function () {
                var offerId = $('#cpmSummaryTab').data('offerId');
                if (typeof (offerId) != 'undefined') {
                    $.ajax({
                        url: '@Url.Action("Show", "Offers")',
                        data: { id: offerId },
                        cache: false
                    }).done(function (html) {
                        $("#cpmSummaryTab").html(html);
                    });
                }
            });
        }

        // For CPM Admin
        function LoadOfferTabs(offerId) {
            $("#cpmSummaryTab").data('offerId', offerId).html("Loading...");
            $('#navCPMSummary').click();

            $.ajax({
                url: '@Url.Action("Start", "CPMReports")',
                data: { offerid: offerId },
                cache: false
            }).done(function (html) {
                $("#cpmReportsTab").html(html);
            });
            $.ajax({
                url: '@Url.Action("Start", "CampaignDrops")',
                data: { offerid: offerId },
                cache: false
            }).done(function (html) {
                $("#cpmDropsTab").html(html);
            });
            $.ajax({
                url: '@Url.Action("Start", "Creatives")',
                data: { offerid: offerId },
                cache: false
            }).done(function (html) {
                $("#cpmCreativesTab").html(html);
            });
        }

    </script>
}