@model ClientPortal.Data.Contexts.Contact
@{
    var ajaxOptions = RazorHelpers.GetAjaxOptions("contactsTab");
}

<h4>Contact Details</h4>

<fieldset>
    <legend style="display:none"></legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
<p>
    @Ajax.ActionLink("Edit", "Edit", new { id=Model.ContactId }, ajaxOptions) |
    @Ajax.ActionLink("Back to List", "Index", ajaxOptions)
</p>
