@model DirectAgents.Web.Areas.TD.Models.CampaignPacingVM
@{
    bool oneCamp = !string.IsNullOrEmpty(Request["campId"]);
    string date = Request["date"]; // null if current month
}

<h2>Budget and Pacing</h2>

<table>
<tr>
    <th>ExtAccts</th>
    <th>Advertiser</th>
    <th>Campaign</th>
    <th>Budget</th>
    <th>Actual Cost</th>
    <th>Media Spend</th>
    <th>Total Revenue</th>
    <th>Margin</th>
    <th>Margin %</th>
    <th>Platforms</th>
    <th>% of Goal</th>
    <th>Sales Rep</th>
    <th>AM</th>
</tr>
@foreach (var cbStat in Model.CampaignBudgetStats)
{
    string expandText = (oneCamp ? "" : "+") + cbStat.Campaign.ExtAccounts.Count.ToString();
<tr>
    <td>@Html.ActionLink(expandText, "Pacing", new { campId = cbStat.Campaign.Id, date = date })</td>
    <td>@cbStat.Campaign.Advertiser.Name</td>
    <td>@cbStat.Campaign.Name</td>
    <td>@cbStat.Budget.MediaSpend().ToString("C")</td>
    <td>@cbStat.Cost.ToString("C")</td>
    <td>@cbStat.MediaSpend().ToString("C")</td>
    <td>@cbStat.TotalRevenue().ToString("C")</td>
    <td>@cbStat.Margin().ToString("C")</td>
    <td>@cbStat.Budget.MarginPct.ToString("#0.### \\%")</td>
    <td>@string.Join(",", cbStat.Campaign.ExtAccounts.Select(a => a.Platform).Distinct().Select(p => p.Name))</td>
    <td>@cbStat.FractionReached().ToString("#0.##%")</td>
</tr>
if (cbStat.ExtAccountStats != null)
{
    foreach (var extAcctStat in cbStat.ExtAccountStats)
    {
<tr>
    <td colspan="4" style="text-align:right">@extAcctStat.ExtAccount.Name - @extAcctStat.ExtAccount.Platform.Name</td>
    <td>@extAcctStat.Cost.ToString("C")</td>
    <td>@extAcctStat.MediaSpend().ToString("C")</td>
    <td>@extAcctStat.TotalRevenue().ToString("C")</td>
    <td>@extAcctStat.Margin().ToString("C")</td>
    <td></td>
    <td>@extAcctStat.ExtAccount.Platform.Name</td>
</tr>
    }
}
}
</table>