<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>@ViewBag.Title</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css' />
<link href='~/Content/progstyle.css' rel="stylesheet" type="text/css" />

<link href="https://kendo.cdn.telerik.com/2016.1.406/styles/kendo.common-bootstrap.min.css" rel="stylesheet" />
<link href="https://kendo.cdn.telerik.com/2016.1.406/styles/kendo.bootstrap.min.css" rel="stylesheet" />

<link href='~/Content/progstyle2.css' rel="stylesheet" type="text/css" />

<script src="https://kendo.cdn.telerik.com/2016.1.406/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2016.1.406/js/kendo.all.min.js"></script>

<script src="~/Scripts/progscript.js"></script>
</head>

<body>
<div id="header">
    <div id="container">
        <div class="logo">&nbsp;</div>
        <div id="cssmenu">
            <ul>
                <li class="executive"><a href="@Url.Action("Index", "Home")">Executive<br />Summary</a></li>
                <li class="strategy-summary"><a href="@Url.Action("Strategy", "Home")">Strategy<br />Summary</a></li>
                <li class="weekly-summary"><a href="@Url.Action("Weekly", "Home")">Weekly<br />Summary</a></li>
                <li class="creative-performance"><a href="@Url.Action("Creative", "Home")">Creative<br />Performance</a></li>
                <li class="logout"><a href='#'>Logout</a></li>
            </ul>
        </div>
    </div>
</div>

@RenderBody()

<div id="footer">
    &nbsp;
    @Html.Partial("_LoginPartial", model: false)
</div>
@RenderSection("scripts", required: false)
</body>
</html>
