@model IEnumerable<DirectAgents.Domain.Entities.TD.Platform>
@{
    var lastMonth = DateTime.Today.AddMonths(-1);
    lastMonth = new DateTime(lastMonth.Year, lastMonth.Month, 1);
}
<h2>Platforms</h2>

<table>
<tr>
    <th>Code</th>
    <th>Name</th>
    <th>Show...</th>
    <th>Stats</th>
    <th></th>
</tr>
@foreach (var plat in Model)
{
<tr>
    <td>@plat.Code</td>
    <td>@plat.Name</td>
    <td>@Html.ActionLink("ExtAccounts(" + plat.ExtAccounts.Count + ")", "Index", "Accounts", new { platform = plat.Code }, null)</td>
    <td>
        @Html.ActionLink("MTD", "Account", "Stats", new { platform = plat.Code }, null) |
        @Html.ActionLink("LastMonth", "Account", "Stats", new { platform = plat.Code, date = lastMonth.ToShortDateString() }, null)
    </td>
    <td>@Html.ActionLink("Maintenance", "Maintenance", new { id = plat.Id })</td>
</tr>
}
</table>