@using DirectAgents.Domain.Entities.TD;
@model Platform
@{
    DateTime yesterday = DateTime.Today.AddDays(-1);
    DateTime oneWeekAgo = yesterday.AddDays(-6);
    DateTime firstOfMonth = (yesterday.Day == 1 ? yesterday.AddMonths(-1) : new DateTime(yesterday.Year, yesterday.Month, 1));
    //If it's the 1st or 2nd, firstOfMonth is last month. Otherwise, it's this month.
}

<h2>@Model.Name - Maintenance</h2>

<div id="divPlatformUpdate">
@if (Model.Code == Platform.Code_AdRoll)
{
    @Html.ActionLink("Update Accounts", "SyncAccounts", new { id = Model.Id }, new { onclick = "$('#divPlatformUpdate').html('Updating... please wait')" })
    <text>&nbsp;&nbsp;&nbsp;&nbsp;Sync Stats back to:</text>
    string onclickJS = "$('#divPlatformUpdate').html('Syncing... please wait')";
    @Html.ActionLink(firstOfMonth.ToShortDateString(), "SyncStats", new { id = Model.Id, start = firstOfMonth.ToShortDateString() }, new { onclick = onclickJS })
    <text>&nbsp;</text>
    if (oneWeekAgo != firstOfMonth) {
        @Html.ActionLink(oneWeekAgo.ToShortDateString(), "SyncStats", new { id = Model.Id, start = oneWeekAgo.ToShortDateString() }, new { onclick = onclickJS })
        <text>&nbsp;</text>
    }
    @Html.ActionLink(yesterday.ToShortDateString(), "SyncStats", new { id = Model.Id, start = yesterday.ToShortDateString() }, new { onclick = onclickJS })
}
else if (Model.Code == Platform.Code_DBM)
{
    @Html.ActionLink("Sync Stats For All Accounts", "SyncStats", new { id = Model.Id }, new { onclick = "$('#divPlatformUpdate').html('Syncing... please wait')" })
}
</div>
<br />

External Accounts:
<div id="grid"></div>

@section scripts {
<script>
    $(document).ready(function () {
        SetupGrid();
    });

    function SetupGrid() {
        var datasource = new kendo.data.DataSource({
            pageSize: 100,
            transport: {
                read: {
                    url: '@Url.Action("IndexData", "Accounts", new { platform = Model.Code })',
                    type: 'POST', dataType: 'json'
                }
            },
            schema: {
                data: 'data',
                total: 'total'
            },
            sort: { field: 'Name', dir: 'asc' }
        });

        $('#grid').kendoGrid({
            dataSource: datasource,
            height: 400,
            filterable: true,
            pageable: true,
            sortable: true,
            detailInit: detailInit,
            columns: [
                { field: 'Id', width: 50 },
                { field: 'Name' },
                { field: 'Platform', width: 100 },
                { field: 'ExternalId', width: 300 },
            ]
        });
    }

    function detailInit(e) {
        var divId = 'divAcctMaint' + e.data.Id;
        $('<div id="' + divId + '" />').appendTo(e.detailCell);
        LoadMaintenanceDetail(e.data.Id);
    }

    function SyncAccount(acctId, syncUrl) {
        $('#divAcctMaint' + acctId).html('Syncing...');
        $.post(syncUrl, function (data) {
            LoadMaintenanceDetail(acctId);
        });
    }

    function LoadMaintenanceDetail(acctId) {
        $('#divAcctMaint' + acctId).load('@Url.Action("MaintenanceDetail", "Accounts", new { id = 0 })'.replace('0', acctId));
    }
</script>
}