@model IEnumerable<DirectAgents.Domain.Entities.Cake.Camp>
@{
    ViewBag.Title = "Cake Camps";
    var offer = (DirectAgents.Domain.Entities.Cake.Offer)ViewBag.Offer;
}
<h2>@ViewBag.Title</h2>

@if (offer != null) {
    if (offer.Advertiser != null) {
        <text>Advertiser: </text>@offer.Advertiser.AdvertiserName<br />
    }
    <text>Offer: </text>@offer.OfferName<br />
}

<table>
    <tr>
        <th>CampId</th>
@if (offer == null) {
        <th>Offer</th>
}
        <th>Affiliate</th>
        <th>Offer<br />Contract</th>
        <th>Payout</th>
        <th>Curr</th>
        <th>#CampSums</th>
    </tr>
@foreach (var camp in Model)
{
    <tr>
        <td>@camp.CampaignId</td>
@if (offer == null) {
        <td>@(camp.OfferId + ": " + camp.Offer.OfferName)</td>
}
        <td>@(camp.AffiliateId + ": " + camp.Affiliate.AffiliateName)</td>
        <td>@camp.OfferContractId</td>
        <td>@camp.PayoutAmount</td>
        <td>@camp.CurrencyAbbr</td>
        <td style="text-align:center">@camp.CampSums.Count().ToString()</td>
    </tr>
}
</table>