
<h2>Links</h2>

<b>NEW...</b><br />
GRID:
@Html.ActionLink("BudgetAndPacing", "PacingGrid", "CampStats") |
@Html.ActionLink("Performance", "PerformanceGrid", "CampStats")
<br />
HTML:
@Html.ActionLink("BudgetAndPacing", "Pacing", "CampStats") |
@Html.ActionLink("Performance", "Pacing", "CampStats", new { showPerfStats = true }, null)
<br /><br />

<b>OLD...</b><br />
GRID:
@Html.ActionLink("BudgetAndPacing", "PacingGrid", "Campaigns") |
@Html.ActionLink("Performance", "PerformanceGrid", "Campaigns")
<br />
HTML:
@Html.ActionLink("BudgetAndPacing", "Pacing", "Campaigns") |
@Html.ActionLink("Performance", "Pacing", "Campaigns", new { showPerfStats = true }, null)
