@model IEnumerable<ClientPortal.Web.Models.InvoiceModel>

@if (Model != null)
{
    <table>
        <thead>
            <tr>
                <td>Date</td>
                <td>Category</td>
                <td>RefNumber</td>
                <td>Amount</td>
                <td>Type</td>
                <td>Memo</td>
            </tr>
        </thead>
        @foreach (var invoice in Model)
        {
            <tr>
                <td>@invoice.TxnDate.ToShortDateString()</td>
                <td>@invoice.ClassName</td>
                <td>@invoice.RefNumber</td>
                <td>@invoice.Currency</td>
                @if(invoice.Amount > 0)
                {
                    <td><b>@invoice.Amount</b></td>
                    <td><b>Payment</b></td>                    
                }
                else
                {
                    <td>@(invoice.Amount*-1)</td> 
                    <td>Charge</td>                                                           
                }
                <td>@invoice.Memo</td>
            </tr>
        }
    </table>
}