@model Advertiser
@{
    ViewBag.Title = "Edit Advertiser";
    var statusList = new[] { "", "New", "New1", "New2", "Existing" };
    var paymentTermsList = new[] { "", "Net 7", "Net 7/Biweekly", "Net 15", "Net 20", "Net 30", "Net 45", "Net 60", "Retainer", "Retainer/Term" };
    var invoicingStatusList = new[] { "", "Not Invoiced", "Partially Invoiced", "Invoiced", "Paid", "Partially Paid", "Positive Retainer", "Negative Retainer" };
}

<h3>Edit Advertiser</h3>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Advertiser</legend>
        @Html.HiddenFor(m => m.id)
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.id)</td>
                <td>@Html.DisplayFor(m => m.id)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.name)</td>
                <td>@Html.DisplayFor(m => m.name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.status)</td>
                <td>@Html.DropDownListFor(m => m.status, new SelectList(statusList))</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.payment_terms)</td>
                <td>@Html.DropDownListFor(m => m.payment_terms, new SelectList(paymentTermsList))</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.invoicing_status)</td>
                <td>@Html.DropDownListFor(m => m.invoicing_status, new SelectList(invoicingStatusList))</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.comments)</td>
                <td>@Html.EditorFor(m => m.comments)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.prev_open_balance)</td>
                <td>@Html.EditorFor(m => m.prev_open_balance)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.qb_name)</td>
                <td>@Html.EditorFor(m => m.qb_name)</td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Save" />
    </fieldset>
}

<br />
@Html.ActionLink("Cancel", "Show", new { id = Model.id })
