@model IEnumerable<Advertiser>
@{
    ViewBag.Title = "Advertisers";
}

<h3>@Html.ActionLink("EOM Admin", "Index", "Admin") - Advertisers</h3>

Accounting Period:
@Html.Partial("ChooseMonth", (SelectList)ViewBag.ChooseMonthSelectList)
<br />

<table style="border: 1px solid gray; border-spacing: 10px 0">
    <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>PaymentTerms</th>
        <th>InvoicingStatus</th>
        <th>Comments</th>
        <th>PreviousPeriodsOpenBalance</th>
    </tr>
@foreach (var adv in Model)
{
    <tr>
        <td>@Html.ActionLink("edit", "Edit", new { id = adv.id })</td>
        <td style="text-align:right">@adv.id</td>
        <td>@Html.ActionLink(adv.name, "Show", new { id = adv.id})</td>
        <td>@adv.status</td>
        <td>@adv.payment_terms</td>
        <td>@adv.invoicing_status</td>
        <td>@adv.comments</td>
        <td>@adv.prev_open_balance</td>
    </tr>
}
</table>
@Model.Count() advertisers