@model IEnumerable<BatchUpdate>

@foreach (var update in Model) {
<p>
    <b>Date:</b> @update.date_created<br />
    <b>By:</b> @update.author<br />
    @if (!String.IsNullOrWhiteSpace(update.extra)) { <b>For:</b> @update.extra<br /> }
    <b>Action:</b> @(update.MediaBuyerApprovalStatus != null ? update.MediaBuyerApprovalStatus.name : "")<br />
    @Html.Raw(update.note.Replace("\n","<br />"))
</p>
}