@model ClientPortal.Web.Areas.TD.Models.TDHomeModel

@*<!--+---------+
      | Top Bar |
      +---------+-->*@
<div class="row fullWidth">
    <div class="large-5 columns toplogo">
        <img src="~/Images/logo1a.png" />
    </div>
    <div class="large-2 columns topinfo">
        @*Html.Partial("_HelloPartial", false)*@
        <p style="text-align: center; margin-top: 30px"><span>Hello, @User.Identity.Name!</span></p>
    </div>
    <div class="large-5 columns logout">
        <div style="float: right">
            @Html.Partial("_LoginPartial", false)
        </div>
    </div>
</div>
<!-- /TopBar -->

@*<!--+--------------------------------------+
      | Gray Band/HTabs Background/Container | 
      +--------------------------------------+-->*@
<div class="row fullWidth">
    <div class="grayband">
    </div>
</div>
<!-- /GrayBandForHTabs -->

@*<!--+--------------+
      | Main Content |
      +--------------+-->*@
<div class="row fullWidth" id="main">

    @*<!--+---------+
          | Sidebar |
          +---------+-->*@
    <div class="portaltabs-v">

        @*<!--+---------------+
              | Vertical Tabs |
              +---------------+-->*@
        <dl class="vertical tabs" data-tab>
            <dd class="active"><a href="#mainReportsTab" id="mainNav_Reports">Reports</a></dd>
            <dd><a href="#mainSampleTab" id="mainNav_Sample">Sample - Daily</a></dd>
        </dl>
        <!-- /VTabs -->

        @*Html.Partial("_MainContacts")*@

    </div>
    <!-- /Sidebar -->

    @*<!--+---------------+
          | VTabs Content |
          +---------------+-->*@
    <ul class="tabs-content">

        @*<!--+----------
              | Reports VTab
              +------------>*@
        <li id="mainReportsTab" class="content active">
            <div class="portaltabs-h">

                @*<!--+----------------+
                      | Reports HTabs  |
                      +----------------+-->*@
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#repSumTab" id="repNav_Summary">Summary</a></dd>
                    <dd><a href="#repCreativeTab" id="repNav_Creative">Creative</a></dd>
                    <dd><a href="#repWeeklyTab" id="repNav_Weekly">Weekly</a></dd>
                    <dd><a href="#repMonthlyTab" id="repNav_Monthly">Monthly</a></dd>
                </dl>
                <!-- /ReportsHTabs  -->

                @*<!--+------------------------+
                      | Reports HTabs Content  |
                      +------------------------+-->*@
                <div class="tabs-content">
                    <div id="repSumTab" class="content active">
                        <div id="sumNotLoaded"></div>
                    </div>
                    <div id="repCreativeTab" class="content"></div>
                    <div id="repWeeklyTab" class="content"></div>
                    <div id="repMonthlyTab" class="content"></div>
                </div>
                <!-- /ReportsContent  -->

            </div>
        </li>
        <!-- /Reports   -->

        @*<!--+----------
              | Sample VTab
              +------------>*@
        <li id="mainSampleTab" class="content">
            <div id="sampleTab">
                Loading...
            </div>
        </li>
        <!-- /Sample  -->

    </ul>
    <!-- /VTabs Content -->

</div>
<!-- /MainContent -->

@*<!--+---------------------+
      | Footer / Bottom Bar |
      +---------------------+-->*@
<footer class="row fullWidth">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-6 columns">
                <p>&copy; 2014 Direct Agents</p>
            </div>
            <div class="large-6 columns">
            </div>
        </div>
    </div>
</footer>
<!-- /BottomBar  -->

@section head {
    <link href="~/Content/kendo/2014.2.903/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.2.903/kendo.silver.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.2.903/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.2.903/kendo.dataviz.silver.min.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/kendo/2014.2.903/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.903/cultures/kendo.culture.de-DE.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.903/cultures/kendo.culture.en-GB.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.903/cultures/kendo.culture.en-AU.min.js"></script>
    @Html.Partial("_TDDateFuncs", Model.Dates)
    @Html.Partial("_TDKendoFuncs")
    <script>

        // ready function
        $(function () {
            $(document).data('kendoSkin', 'silver');
            LoadSummary();
            SetupTabs();
            $(window).bind('resize', WindowResize);
        });

        function WindowResize() {
            ResizeChart('sample', true);
            ResizeChart('summary', true);
            ResizeChart('creativeBar', true);
            ResizeChart('creativeScatter', true);
            ResizeChart('tdWeekly', true);
            ResizeChart('tdMonthly', true);
        }

        // Resize a chart, optionally refreshing it.
        function ResizeChart(chart, refresh) {
            if ($('#' + chart + 'ChartSection').length > 0) {
                var width = $('#' + chart + 'ChartSection').width();
                if (width > 0) {
                    $('#' + chart + 'ChartSection .chart-wrapper').css('width', width);
                    if (refresh)
                        $('#' + chart + 'Chart').data('kendoChart').refresh();
                }
            }
        }

        function LoadSummary() {
            $.ajax({
                url: '@Url.Action("Summary", "Reports")',
                data: { metric1: "Spend", metric2: "Conversions" },
                cache: false
            }).done(function (html) {
                $('#repSumTab').html(html);
            });
        }

        function CheckRefreshSummary() {
            if ($('#summaryChart').length != 0) {
                setTimeout(function () { ResizeChart('summary', true); }, 100);
            }
        }

        function SetupTabs() {
            $('#mainNav_Reports').click(function() { CheckRefreshSummary(); });
            $('#repNav_Summary').click(function () { CheckRefreshSummary(); });
            $('#repNav_Creative').click(function () { CheckLoadCreative(); });
            $('#repNav_Weekly').click(function () { CheckLoadWeekly(); });
            $('#repNav_Monthly').click(function () { CheckLoadMonthly(); });

            $('#mainNav_Sample').click(function () { CheckLoadSample(); });
        }

        function CheckLoadCreative() {
            if ($('#creativeBarChart').length == 0) {
                $.ajax({
                    url: '@Url.Action("Creative", "Reports")',
                    cache: false
                }).done(function (html) {
                    $('#repCreativeTab').html(html);
                    ResizeChart('creativeBar', false);
                    ResizeChart('creativeScatter', false);
                    //SetupCreativeGrid();
                });
            } else {
                setTimeout(function () { ResizeChart('creativeBar', true); ResizeChart('creativeScatter', true); }, 100);
            }
        }

        function CheckLoadWeekly() {
            if ($('#weeklyChart').length == 0) {
                $.ajax({
                    url: '@Url.Action("Weekly", "Reports")',
                    cache: false
                }).done(function (html) {
                    $('#repWeeklyTab').html(html);
                });
            } else {
                setTimeout(function () { ResizeChart('tdWeekly', true); }, 100);
            }
        }
        function CheckLoadMonthly() {
            if ($('#monthlyChart').length == 0) {
                $.ajax({
                    url: '@Url.Action("Monthly", "Reports")',
                    cache: false
                }).done(function (html) {
                    $('#repMonthlyTab').html(html);
                });
            } else {
                setTimeout(function () { ResizeChart('tdMonthly', true); }, 100);
            }
        }

        function CheckLoadSample() {
            if ($('#sampleChart').length == 0) {
                $.ajax({
                    url: '@Url.Action("Sample", "Reports")',
                    cache: false
                }).done(function (html) {
                    $('#sampleTab').html(html);
                });
            } else {
                setTimeout(function () { ResizeChart('sample', true); }, 100);
            }
        }

        nMetrics = ['Impressions', 'Clicks', 'Conversions'];
        eMetrics = ['CPM', 'CPC', 'CPA'];
        rMetrics = ['CTR', 'ConvRate'];
    </script>
}