@model ClientPortal.Web.Areas.TD.Models.TDHomeModel

@*<!--+---------+
      | Top Bar |
      +---------+-->*@
<div class="row">
    <div class="five columns toplogo">
        <img src="~/Images/logo1a.png" />
    </div>
    <div class="two columns topinfo">
        @*Html.Partial("_HelloPartial", false)*@
        <p style="text-align: center; margin-top: 30px"><span>Hello, @User.Identity.Name!</span></p>
    </div>
    <div class="five columns logout">
        <div style="float: right">
            @Html.Partial("_LoginPartial", false)
        </div>
    </div>
</div>
<!-- /TopBar -->

@*<!--+--------------------------------------+
      | Gray Band/HTabs Background/Container | 
      +--------------------------------------+-->*@
<div class="row">
    <div class="twelve columns grayband">
    </div>
</div>
<!-- /GrayBandForHTabs -->

@*<!--+--------------+
      | Main Content |
      +--------------+-->*@
<div class="row" id="main">

    @*<!--+---------+
          | Sidebar |
          +---------+-->*@
    <div class="two columns portaltabs-v">

        @*<!--+---------------+
              | Vertical Tabs |
              +---------------+-->*@
        <dl class="vertical tabs">
            <dd class="active"><a href="#mainReports" id="mainNav_Reports">Reports</a></dd>
            <dd><a href="#mainSample" id="mainNav_Sample">Sample - Daily</a></dd>
        </dl>
        <!-- /VTabs -->

        @*Html.Partial("_MainContacts")*@

    </div>
    <!-- /Sidebar -->

    @*<!--+---------------+
          | VTabs Content |
          +---------------+-->*@
    <ul class="tabs-content">

        @*<!--+----------
              | Reports VTab
              +------------>*@
        <li id="mainReportsTab" class="active">
            <div class="ten columns portaltabs-h">

                @*<!--+----------------+
                      | Reports HTabs  |
                      +----------------+-->*@
                <dl class="tabs">
                    <dd class="active"><a href="#repSum" id="repNav_Summary">Summary</a></dd>
                    <dd><a href="#repCreative" id="repNav_Creative">Creative</a></dd>
                </dl>
                <!-- /ReportsHTabs  -->

                @*<!--+------------------------+
                      | Reports HTabs Content  |
                      +------------------------+-->*@
                <ul class="tabs-content">
                    <li id="repSumTab" class="active">
                        <div id="sumNotLoaded"></div>
                    </li>
                    <li id="repCreativeTab"></li>
                </ul>
                <!-- /ReportsContent  -->

            </div>
        </li>
        <!-- /Reports   -->

        @*<!--+----------
              | Sample VTab
              +------------>*@
        <li id="mainSampleTab">
            <div class="ten columns" id="sampleTab">
                Loading...
            </div>
        </li>
        <!-- /Sample  -->

    </ul>
    <!-- /VTabs Content -->

</div>
<!-- /MainContent -->

@*<!--+---------------------+
      | Footer / Bottom Bar |
      +---------------------+-->*@
<footer class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="six columns">
                <p>&copy; 2014 Direct Agents</p>
            </div>
            <div class="six columns">
            </div>
        </div>
    </div>
</footer>
<!-- /BottomBar  -->

@section head {
    <link href="~/Content/kendo/2012.3.1114/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2012.3.1114/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/kendo/2012.3.1114/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2012.3.1114/cultures/kendo.culture.de-DE.min.js"></script>
    <script src="~/Scripts/kendo/2012.3.1114/cultures/kendo.culture.en-GB.min.js"></script>
    <script src="~/Scripts/kendo/2012.3.1114/cultures/kendo.culture.en-AU.min.js"></script>
    <script>

        // ready function
        $(function () {
            LoadSummary();
            SetupTabs();
            $(window).bind('resize', WindowResize);
        });

        function WindowResize() {
            ResizeChart('sample', true);
            ResizeChart('summary', true);
            ResizeChart('creativeBar', true);
            ResizeChart('creativeScatter', true);
        }

        // Resize a chart, optionally refreshing it.
        function ResizeChart(chart, refresh) {
            if ($('#' + chart + 'ChartSection').length > 0) {
                var width = $('#' + chart + 'ChartSection').width();
                if (width > 0) {
                    $('#' + chart + 'ChartSection .chart-wrapper').css('width', width);
                    if (refresh)
                        $('#' + chart + 'Chart').data('kendoChart').refresh();
                }
            }
        }

        function LoadSummary() {
            $.ajax({
                url: '@Url.Action("Summary", "Reports")',
                cache: false
            }).done(function (html) {
                $('#repSumTab').html(html);
            });
        }

        function CheckRefreshSummary() {
            if ($('#summaryChart').length != 0) {
                setTimeout(function () { ResizeChart('summary', true); }, 100);
            }
        }

        function SetupTabs() {
            // Summary
            $('#mainNav_Reports').click(function() {
                CheckRefreshSummary();
            });
            $('#repNav_Summary').click(function () {
                CheckRefreshSummary();
            });

            $('#repNav_Creative').click(function () {
                CheckLoadCreative();
            });

            $('#mainNav_Sample').click(function () {
                CheckLoadSample();
            });
        }

        function CheckLoadCreative() {
            if ($('#creativeChart').length == 0) {
                $.ajax({
                    url: '@Url.Action("Creative", "Reports")',
                    cache: false
                }).done(function (html) {
                    $('#repCreativeTab').html(html);
                    ResizeChart('creative', false);
                    //SetupCreativeGrid();
                });
            } else {
                setTimeout(function () { ResizeChart('creative', true); }, 100);
            }
        }

        function CheckLoadSample() {
            if ($('#sampleChart').length == 0) {
                $.ajax({
                    url: '@Url.Action("Sample", "Reports")',
                    cache: false
                }).done(function (html) {
                    $('#sampleTab').html(html);
                });
            } else {
                setTimeout(function () { ResizeChart('sample', true); }, 100);
            }
        }

    </script>
}