@model ClientPortal.Web.Areas.TD.Models.TDHomeModel

@*<!--+---------+
      | Top Bar |
      +---------+-->*@
<div class="row fullWidth">
    <div class="large-5 columns toplogo">
        <img src="~/Images/logo1a.png" />
    </div>
    <div class="large-2 columns topinfo">
        @*Html.Partial("_HelloPartial", false)*@
        @*<p style="text-align: center; margin-top: 30px"><span>Hello, @User.Identity.Name!</span></p>*@
        <img style="width: 200px; margin-top: 10px" src="~/Images/programmatic.png" />
    </div>
    <div class="large-5 columns logout">
        <div style="float:right">
            @Html.Partial("_LoginPartial", false)
        </div>
        <div style="float:right; line-height:37px; margin-right:10px">
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", new { area = "" }, new { @class = "username", title = "Manage" })!
        </div>
    </div>
</div>
<!-- /TopBar -->

@*<!--+--------------------------------------+
      | Gray Band/HTabs Background/Container | 
      +--------------------------------------+-->*@
<div class="row fullWidth">
    <div class="grayband">
        @*<!--+---------------+
              | Top Tabs      |
              +---------------+-->*@
        <dl class="tabs" data-tab>
            <dd class="active"><a href="#repSumTab" id="repNav_Summary">Summary</a></dd>
            <dd><a href="#repCreativeTab" id="repNav_Creative">Creative</a></dd>
            <dd><a href="#repWeeklyTab" id="repNav_Weekly">Weekly</a></dd>
            <dd><a href="#repMonthlyTab" id="repNav_Monthly">Monthly</a></dd>
            <dd><a href="#repAnalysisTab" id="repNav_Analysis">Analysis</a></dd>
        </dl>
        <!-- /ReportsHTabs  -->
    </div>
</div>
<!-- /GrayBandForHTabs -->

@*<!--+--------------+
      | Main Content |
      +--------------+-->*@
<div class="row fullWidth" id="main">

    @*<!--+------------------------+
          | Reports HTabs Content  |
          +------------------------+-->*@
    <div class="tabs-content">
        <div id="repSumTab" class="content active">
            <div id="divSummary" style="padding:10px"></div>
        </div>
        <div id="repCreativeTab" class="content">
            <div id="divCreative" style="padding:10px"></div>
        </div>
        <div id="repWeeklyTab" class="content">
            <div id="divWeekly" style="padding:10px"></div>
        </div>
        <div id="repMonthlyTab" class="content">
            <div id="divMonthly" style="padding:10px"></div>
        </div>
        <div id="repAnalysisTab" class="content">
            <div id="divAnalysis" style="padding:10px"></div>
        </div>
    </div>
    <!-- /ReportsContent  -->

</div>
<!-- /MainContent -->

@*<!--+---------------------+
      | Footer / Bottom Bar |
      +---------------------+-->*@
<footer class="row fullWidth">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-6 columns">
                <p>&copy; 2015 Direct Agents</p>
            </div>
            <div class="large-6 columns">
            </div>
        </div>
    </div>
</footer>
<!-- /BottomBar  -->

@section head {
    <link href="~/Content/kendo/2015.1.408/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2015.1.408/kendo.silver.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2015.1.408/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2015.1.408/kendo.dataviz.silver.min.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/kendo/2015.1.408/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2015.1.408/cultures/kendo.culture.de-DE.min.js"></script>
    <script src="~/Scripts/kendo/2015.1.408/cultures/kendo.culture.en-GB.min.js"></script>
    <script src="~/Scripts/kendo/2015.1.408/cultures/kendo.culture.en-AU.min.js"></script>
    @Html.Partial("_TDDateFuncs", Model.Dates)
    @Html.Partial("_TDKendoFuncs")
    <script>

        // ready function
        $(function () {
            $(document).data('kendoSkin', 'silver');
            LoadSummary();
            SetupTabs();
            $(window).bind('resize', WindowResize);
        });

        function WindowResize() {
            ResizeChart('summary', true);
            ResizeChart('creativeBar', true);
            ResizeChart('creativeScatter', true);
            ResizeChart('tdWeekly', true);
            ResizeChart('tdMonthly', true);
        }

        // Resize a chart, optionally refreshing it.
        function ResizeChart(chart, refresh) {
            if ($('#' + chart + 'ChartSection').length > 0) {
                var width = $('#' + chart + 'ChartSection').width();
                if (width > 0) {
                    $('#' + chart + 'ChartSection .chart-wrapper').css('width', width);
                    if (refresh)
                        $('#' + chart + 'Chart').data('kendoChart').refresh();
                }
            }
        }

        function LoadSummary() {
            $.ajax({
                url: '@Url.Action("Summary", "Reports")',
                data: { metric1: "Spend", metric2: "Conversions" },
                cache: false
            }).done(function (html) {
                $('#divSummary').html(html);
            });
        }

        function CheckRefreshSummary() {
            if ($('#summaryChart').length != 0) {
                setTimeout(function () { ResizeChart('summary', true); }, 100);
            }
        }

        function SetupTabs() {
            $('#mainNav_Reports').click(function() { CheckRefreshSummary(); });
            $('#repNav_Summary').click(function () { CheckRefreshSummary(); });
            $('#repNav_Creative').click(function () { CheckLoadCreative(); });
            $('#repNav_Weekly').click(function () { CheckLoadWeekly(); });
            $('#repNav_Monthly').click(function () { CheckLoadMonthly(); });
            $('#repNav_Analysis').click(function () { CheckLoadAnalysis(); });
        }

        function CheckLoadCreative() {
            if ($('#creativeBarChart').length == 0) {
                $.ajax({
                    url: '@Url.Action("Creative", "Reports")',
                    cache: false
                }).done(function (html) {
                    $('#divCreative').html(html);
                    ResizeChart('creativeBar', false);
                    ResizeChart('creativeScatter', false);
                    //SetupCreativeGrid();
                });
            } else {
                setTimeout(function () { ResizeChart('creativeBar', true); ResizeChart('creativeScatter', true); }, 100);
            }
        }

        function CheckLoadWeekly() {
            if ($('#weeklyChart').length == 0) {
                $.ajax({
                    url: '@Url.Action("Weekly", "Reports")',
                    cache: false
                }).done(function (html) {
                    $('#divWeekly').html(html);
                });
            } else {
                setTimeout(function () { ResizeChart('tdWeekly', true); }, 100);
            }
        }
        function CheckLoadMonthly() {
            if ($('#monthlyChart').length == 0) {
                $.ajax({
                    url: '@Url.Action("Monthly", "Reports")',
                    cache: false
                }).done(function (html) {
                    $('#divMonthly').html(html);
                });
            } else {
                setTimeout(function () { ResizeChart('tdMonthly', true); }, 100);
            }
        }

        function CheckLoadAnalysis() {
            if ($('#analysisChart').length == 0) {
                $.ajax({
                    url: '@Url.Action("Analysis", "Reports")',
                    cache: false
                }).done(function (html) {
                    $('#divAnalysis').html(html);
                });
            } else {
                setTimeout(function () { ResizeChart('tdAnalysis', true); }, 100);
            }
        }

        nMetrics = ['Impressions', 'Clicks', 'Conversions'];
        eMetrics = ['CPM', 'CPC', 'CPA'];
        rMetrics = ['CTR', 'ConvRate'];
    </script>
}