@model DirectAgents.Web.Models.ScreensVM

<h2>Advertisers</h2>

<table>
<tr>
    <th></th>
    <th>Views</th>
    <th>Clicks</th>
    <th>Conversions</th>
    <th>Paid</th>
    <th>Sellable</th>
    <th>Revenue</th>
    <th>Cost</th>
</tr>
@foreach (var adv in Model.Advertisers)
{
<tr>
    <td>@adv.AdvertiserName</td>
    <td>@adv.Stats.Views</td>
    <td>@adv.Stats.Clicks</td>
    <td>@adv.Stats.Conversions</td>
    <td>@adv.Stats.Paid</td>
    <td>@adv.Stats.Sellable</td>
    <td>@adv.Stats.Revenue</td>
    <td>@adv.Stats.Cost</td>
</tr>
}
<tr style="font-weight:bold">
    <td>TOTALS</td>
    <td>@Model.Total.Views</td>
    <td>@Model.Total.Clicks</td>
    <td>@Model.Total.Conversions</td>
    <td>@Model.Total.Paid</td>
    <td>@Model.Total.Sellable</td>
    <td>@Model.Total.Revenue</td>
    <td>@Model.Total.Cost</td>
</tr>
</table>

@Model.Advertisers.Count() advertisers
<br />